<h3 class="style-header">Filters</h3>
<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" sectionTitle="Select Filter">
      <h4>Basic</h4>
      <ngx-filter [filterable]="false" label="Category" style="display: inline-block">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [filterable]="false" label="Category" style="display: inline-block"> <ngx-select-option
        name="Selection" value="breach"></ngx-select-option> <ngx-select-option name="DDOS"
        value="ddos"></ngx-select-option> <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>No Label</h4>
      <ngx-filter [filterable]="false">
        <ngx-select-option name="Selection" value="breach "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [filterable]="false"> <ngx-select-option name="Selection" value="breach
        "></ngx-select-option> <ngx-select-option name="DDOS" value="ddos"></ngx-select-option> <ngx-select-option
        name="Physical" value="physical"></ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Custom placeholder for no selection</h4>
      <ngx-filter [filterable]="false" [placeholder]="'No Selection'" label="Category">
        <ngx-select-option name="Selection" value="breach asd asd ajsdh sf sajdf asjkfhasd lkasd "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [filterable]="false" [placeholder]="'No Selection'" label="Category"> <ngx-select-option
        name="Selection" value="breach asd asd ajsdh sf sajdf asjkfhasd lkasd "></ngx-select-option> <ngx-select-option
        name="DDOS" value="ddos"></ngx-select-option> <ngx-select-option name="Physical"
        value="physical"></ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Multi-select</h4>
      <ngx-filter [filterable]="false" label="Categories" multiple="true">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [filterable]="false" label="Categories" multiple="true"> <ngx-select-option
        name="Selection" value="breach"></ngx-select-option> <ngx-select-option name="DDOS"
        value="ddos"></ngx-select-option> <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Filter</h4>
      <ngx-filter [filterable]="true" label="Categories" multiple="true">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [filterable]="true" label="Categories" multiple="true"> <ngx-select-option name="Selection"
        value="breach"></ngx-select-option> <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Objects with Grouping</h4>
      <ngx-filter [groupBy]="'type'">
        <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [groupBy]="'type'"> <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type:
        'IOS' }"></ngx-select-option> <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS'
        }"></ngx-select-option> <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX'
        }"></ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Disabled</h4>
      <ngx-filter label="Category" [disabled]="true">
        <ngx-select-option name="Selection" value="breach "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter label="Category" [disabled]="true"> <ngx-select-option name="Selection" value="breach
        "></ngx-select-option> <ngx-select-option name="DDOS" value="ddos"></ngx-select-option> <ngx-select-option
        name="Physical" value="physical"></ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Large ngFor with Default Selections</h4>
      <ngx-filter [identifier]="'attr'" [ngModel]="[selects[0]]" label="Selection">
        <ngx-select-option *ngFor="let option of selects" [name]="option.name" [value]="option"> </ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter [identifier]="'attr'" [ngModel]="[selects[0]]" label="Selection"> <ngx-select-option
        *ngFor="let option of selects" [name]="option.name" [value]="option"> </ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Async options</h4>
      <ngx-filter (keyup)="search($event.value)">
        <ngx-select-option *ngFor="let option of asyncOptions$ | async" [name]="option.title" [value]="option"
          [disabled]="option.disabled"></ngx-select-option>
      </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter (keyup)="search($event.value)"> <ngx-select-option *ngFor="let option of asyncOptions$ |
        async" [name]="option.title" [value]="option" [disabled]="option.disabled" ></ngx-select-option>
        </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Items popup position</h4>
      <div class="div-options-position">
        <ngx-filter label="Selection" [filterable]="false" [itemsPosition]="'right'">
          <ngx-select-option name="Breach" value="breach"></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter>
      </div>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [filterable]="false" [itemsPosition]="'right'"> <ngx-select-option
        name="Breach" value="breach"></ngx-select-option> <ngx-select-option name="DDOS"
        value="ddos"></ngx-select-option> <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Auto Select All</h4>

      <ngx-filter [identifier]="'attr'" [ngModel]="selectsModel" label="Selection" [filterable]="true" [multiple]="true"
        [autoSelectAll]="true">
        <ngx-select-option *ngFor="let option of selectsSmall" [name]="option.name" [value]="option">
        </ngx-select-option>
      </ngx-filter>

      <app-prism>
        <![CDATA[ <ngx-filter [identifier]="'attr'" [ngModel]="selectsModel" label="Selection" [filterable]="true"
        [multiple]="true" [autoSelectAll]="true"> <ngx-select-option *ngFor="let option of selectsSmall"
        [name]="option.name" [value]="option"> </ngx-select-option> </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Icon</h4>
      <ngx-filter label="Selection" [filterable]="false" [ngxIconClass]="'ngx-calendar'">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [filterable]="false" [ngxIconClass]="'ngx-calendar'"> <ngx-select-option
        name="Breach" value="breach"></ngx-select-option> <ngx-select-option name="DDOS"
        value="ddos"></ngx-select-option> <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Event emitters</h4>
      <ngx-filter [filterable]="true" label="Category" style="display: inline-block" (clicked)="onDropdownClick()"
        (change)="onDropdownChange($event)" (keyup)="onDropdownKeyup($event)" (toggle)="onDropdownToggle($event)"
        (clearQueryFilter)="onDropDownClearQuery()">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter>
      <p>Click: {{ dropdownClicks }}</p>
      <p>Change: {{ dropdownChange }}</p>
      <p>Keyup: {{ dropdownKeyUp | json }}</p>
      <p>ClearQueryFilter: {{ dropdownClearQueryFilter }}</p>
      <p>Toggle: {{ dropdownToggle }}</p>

      <app-prism>
        <![CDATA[<ngx-filter [filterable]="true" label="Category" style="display: inline-block"
        (clicked)="onDropdownClick()" (change)="onDropdownChange($event)" (keyup)="onDropdownKeyup($event)"
        (toggle)="onDropdownToggle($event)" (clearQueryFilter)="onDropDownClearQuery()"> <ngx-select-option
        name="Selection" value="breach"></ngx-select-option> <ngx-select-option name="DDOS"
        value="ddos"></ngx-select-option> <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />
    </ngx-section>

    <ngx-section class="shadow" sectionTitle="Custom Dropdown">
      <h4>Basic</h4>
      <ngx-filter label="Repeat" [type]="'customDropdown'"
        [customDropdownConfig]="customDropdownCounterBasicConfig"></ngx-filter>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterBasicConfig"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownCounterBasicConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent } };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>Date Range Selection Calendar</h4>
      <ngx-filter #filterRef [label]="labelForRange"
        [ngClass]="labelForRange !== 'Select a range' ? 'active-selections' : ''" [type]="'customDropdown'"
        [customDropdownConfig]="customDropdownDateRangeConfig"
        [ngxIconClass]="labelForRange !== 'Select a range' ? 'ngx-x' : null"
        [ngxIconPosition]="labelForRange !== 'Select a range' ? 'right' : null"
        (clicked)="onClearSelection($event)"></ngx-filter>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownDateRangeConfig"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>

      <h4>Items popup position</h4>
      <div class="div-options-position">
        <ngx-filter label="Repeat" [type]="'customDropdown'" [customDropdownConfig]="customDropdownCounterBasicConfig"
          [itemsPosition]="'right'"></ngx-filter>
      </div>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterBasicConfig" [itemsPosition]="'right'"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownCounterBasicConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent } };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>Show Dropdown Caret</h4>
      <ngx-filter label="Repeat" [type]="'customDropdown'"
        [customDropdownConfig]="customDropdownCounterCaretConfig"></ngx-filter>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterCaretConfig"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownCounterCaretConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent }, showCaret: true };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>Disabled</h4>
      <ngx-filter label="Repeat" [type]="'customDropdown'" [customDropdownConfig]="customDropdownCounterBasicConfig"
        [disabled]="true"></ngx-filter>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterBasicConfig" [disabled]="true"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownCounterBasicConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent } };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>CloseOnClick and CloseOnOutsideClick</h4>
      <ngx-filter label="Repeat" [type]="'customDropdown'"
        [customDropdownConfig]="customDropdownCounterCloseConfig"></ngx-filter>
      <br />
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterCloseConfig"></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownCounterCloseConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent }, closeOnClick: false, closeOnOutsideClick: true };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>&#64;Inputs and &#64;Outputs of custom component</h4>
      <ngx-filter label="Repeat" [type]="'customDropdown'" [customDropdownConfig]="customDropdownCounterConfig"
        [filterCount]="customDropdownFilterCount" [ngxIconClass]="'ngx-repeat'" [ngxIconPosition]="'left'">
      </ngx-filter>
      <p>Emitted by myCustomComponentOutput1: {{ customDropdownText }}</p>
      <p>Emitted by myCustomComponentOutput2: {{ customDropdownFilterCount }}</p>
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Repeat" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownCounterConfig" [filterCount]="customDropdownFilterCount"
            [ngxIconClass]="'ngx-repeat'" [ngxIconPosition]="'left'"> </ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[/* Custom component definition */ export class MyCustomComponent { @Input() counter = 0; @Output()
            myCustomComponentOutput1 = new EventEmitter<string>(); @Output() myCustomComponentOutput2 = new
            EventEmitter<number>(); onMinusClicked(): void { this.counter--;
            this.myCustomComponentOutput1.emit('Minus'); this.myCustomComponentOutput2.emit(this.counter); }
            onPlusClicked(): void { this.counter++; this.myCustomComponentOutput1.emit('Plus');
            this.myCustomComponentOutput2.emit(this.counter); } } /* ... */ /* Custom component configuration to pass
            @Inputs and @Outputs */ const customDropdownCounterConfig: FilterCustomDropDown = { component: { type:
            MyCustomComponent, options: { bindings: [ inputBinding('counter', () => 0),
            outputBinding('myCustomComponentOutput1', event => this.onCustomDropdownClickedButton(event)),
            outputBinding('myCustomComponentOutput2', event => this.onCustomDropdownCounterChanged(event)) ] } },
            closeOnClick: false, closeOnOutsideClick: true };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
      <br />
      <br />

      <h4>Custom Css Class</h4>
      <ngx-filter label="Region" [type]="'customDropdown'" [customDropdownConfig]="customDropdownConfigTreeCss"
        [ngxIconClass]="'ngx-map'"></ngx-filter>
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Region" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownConfigTreeCss" [ngxIconClass]="'ngx-map'" ></ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownConfigTreeCss: FilterCustomDropDown = { component: { type: TreeComponent,
            options: { bindings: [inputBinding('nodes', () => this.treeNodes)] } }, containerClasses:
            ['custom-container-css-class-red'] };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>

      <h4>Event Emitters</h4>
      <ngx-filter label="Region" [type]="'customDropdown'" [customDropdownConfig]="customDropdownConfigTree"
        [ngxIconClass]="'ngx-map'" (clicked)="onCustomDropdownClick()" (toggle)="onCustomDropdownToggle($event)">
      </ngx-filter>
      <p>Clicked: {{ customDropdownClicks }}</p>
      <p>Toggle: {{ customDropdownToggle }}</p>
      <br />
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
            <![CDATA[<ngx-filter label="Region" [type]="'customDropdown'"
            [customDropdownConfig]="customDropdownConfigTree" [ngxIconClass]="'ngx-map'"
            (clicked)="onCustomDropdownClick()" (toggle)="onCustomDropdownToggle($event)"> </ngx-filter>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="Typescript">
          <app-prism language="js">
            <![CDATA[const customDropdownConfigTree: FilterCustomDropDown = { component: { type: TreeComponent, options:
            { bindings: [inputBinding('nodes', () => this.treeNodes)] } }, containerClasses:
            ['custom-container-css-class'] };]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
    </ngx-section>

    <ngx-section class="shadow" sectionTitle="Button Filter">
      <h4>Basic</h4>
      <ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'"> </ngx-filter>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" > </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Disabled</h4>
      <ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" [disabled]="true"> </ngx-filter>
      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" [disabled]="true">
        </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Icon Position</h4>
      <div class="div-options-position">
        <ngx-filter label="Selection 1" [type]="'button'" [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'left'">
        </ngx-filter>
        <ngx-filter label="Selection 2" [type]="'button'" [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'right'">
        </ngx-filter>
      </div>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection 1" [type]="'button'" [ngxIconClass]="'ngx-filter'"
        [ngxIconPosition]="'left'"> </ngx-filter> <ngx-filter label="Selection 2" [type]="'button'"
        [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'right'"> </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Count badge visible</h4>
      <ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'left'"
        [filterCount]="3">
      </ngx-filter>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'"
        [ngxIconPosition]="'left'" [filterCount]="3"> </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Count badge hidden</h4>
      <ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'left'"
        [filterCount]="3" [showCount]="false">
      </ngx-filter>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'"
        [ngxIconPosition]="'left'" [filterCount]="3" [showCount]="false"> </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Event emitters</h4>
      <ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'" [ngxIconPosition]="'left'"
        [filterCount]="1" (clicked)="onButtonClick()">
      </ngx-filter>
      <p>Click: {{ buttonClicks }}</p>

      <app-prism>
        <![CDATA[<ngx-filter label="Selection" [type]="'button'" [ngxIconClass]="'ngx-filter'"
        [ngxIconPosition]="'left'" [filterCount]="1" (clicked)="onButtonClick()"> </ngx-filter>]]>
      </app-prism>
      <br />
      <br />
      <br />
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('ngx-filter-inputs')">ngx-filter Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-filter-outputs')">ngx-filter Outputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-select-option-inputs')">ngx-select-option Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-select-option-outputs')">ngx-select-option Outputs</a>
    <hr />

    <h3 class="style-header" id="ngx-filter-inputs">ngx-filter Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>allowAdditions: boolean</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autofocus: boolean</code>
          </th>
          <td>Whether the component is auto-focused.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">>&#64;Input()</code>
            <code>autoSelectAll: boolean</code>
          </th>
          <td>
            Sets the 'Select All' when all options are selected. Requires 'multiple', and 'showSelectAll' as true. False
            in the default value for this property.
          </td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autosize: boolean</code>
          </th>
          <td>Whether the component is autosized.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autosizeMinWidth: number | string</code>
          </th>
          <td>The minimum width of the component when autosize is enabled, in pixels.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>closeOnBodyClick: boolean = true</code>
          </th>
          <td>Whether the component dropdown should close when a click outside of the dropdown is registered.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>closeOnSelect: boolean</code>
          </th>
          <td>Whether the component dropdown should close when an option has been selected.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>customDropdownConfig: FilterCustomDropDown</code>
          </th>
          <td>
            The configuration when the type is CustomDropdown. You can configure the custom component to render, its
            inputs and outputs.
          </td>
        </tr>

        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disableDropdown: boolean</code>
          </th>
          <td>Whether the component dropdown is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>emptyPlaceholder: string = 'No options available'</code>
          </th>
          <td>Placeholder to display when the component has no selectable options.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterable: boolean = true</code>
          </th>
          <td>Whether the component is filterable.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterCaseSensitive: boolean</code>
          </th>
          <td>Whether the component's filter is case-sensitive.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterCount: number</code>
          </th>
          <td>Tne number of filters applied.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterEmptyPlaceholder: string = 'No matches...'</code>
          </th>
          <td>
            Placeholder to display when the component has no selectable options that match the user's filter term.
          </td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterPlaceholder: string = 'Search'</code>
          </th>
          <td>Placeholder to display for the component's filter text input.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>forceDownwardOpening: boolean</code>
          </th>
          <td>Whether to force the component to open beneath itself.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>groupBy: string</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>groupByTemplate: TemplateRef&lt;unknown&gt;</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>hasFilters: boolean</code>
          </th>
          <td>Whether the component has filter or not.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>id: string = 'select-1'</code>
          </th>
          <td>The ID for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>identifier: string</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">>&#64;Input()</code>
            <code>itemsPosition: FilterItemPositionTypes</code>
          </th>
          <td>
            The position where the items popup is going to be displayed ('left', 'right'). 'Left' is the default value.
          </td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>label: string</code>
          </th>
          <td class="component-description">The label for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>multiple: boolean</code>
          </th>
          <td class="component-description">Whether multiple selection is allowed.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>name: string</code>
          </th>
          <td class="component-description">The name for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">>&#64;Input()</code>
            <code>ngxIconClass: string</code>
          </th>
          <td>The ngx-class name that represents an icon.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">>&#64;Input()</code>
            <code>ngxIconPosition: FilterIconPositionTypes</code>
          </th>
          <td>The position where ngxIcon is going to be displayed ('left', 'right'). 'Left' is the default value.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>options: SelectDropdownOption[] = []</code>
          </th>
          <td class="component-description">The options to display for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>placeholder: string</code>
          </th>
          <td class="component-description">The placeholder for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>showSelectAll: boolean</code>
          </th>
          <td class="component-description">Displays a "Select All" item in the Select</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>type: FilterType</code>
          </th>
          <td class="component-description">
            Sets the type of filter based-on the enum FilterType ('select', 'button', and 'customDropdown'). Select is
            the default.
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-filter-outputs">ngx-filter Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>change: EventEmitter&lt;any[]&gt;</code>
          </th>
          <td>Event emitted when an option is selected.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>clicked: EventEmitter&lt;void&gt;</code>
          </th>
          <td>Event emitted when the component is clicked.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>keyup: EventEmitter&lt;&#123; event: KeyboardEvent; value?: string &#125;&gt;</code>
          </th>
          <td>Event emitted when a key is released.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>toggle: EventEmitter&lt;boolean&gt;</code>
          </th>
          <td>Event emitted when the dropdown is toggled open or closed.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>clearQueryFilter: EventEmitter&lt;void&gt;</code>
          </th>
          <td>Event emitted when the query filter is cleared.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-select-option-inputs">ngx-select-option Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>hidden: boolean</code>
          </th>
          <td>Whether the component is hidden.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>name: string</code>
          </th>
          <td>The name of the component. This is what is displayed to the user.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>tooltipConfig: TooltipConfig = DEFAULT_TOOLTIP_CONFIG</code>
          </th>
          <td>The tooltip configuration object required by the component to display a tooltip. See Examples tab.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>value: any</code>
          </th>
          <td>The value of the component.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-select-option-outputs">ngx-select-option Outputs</h3>
    <h4>No component outputs to display.</h4>
  </ngx-tab>
</ngx-tabs>