<h3 class="style-header">Filters</h3>
<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" sectionTitle="Dropdown Filter">
      <h4>Basic</h4>
      <ngx-filter-select [filterable]="false" label="Category" style="display: inline-block">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [filterable]="false" label="Category" style="display: inline-block">
          <ngx-select-option name="Selection" value="breach"></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>No Label</h4>
      <ngx-filter-select [filterable]="false">
        <ngx-select-option name="Selection" value="breach "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [filterable]="false">
          <ngx-select-option name="Selection" value="breach "></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Custom placeholder for no selection</h4>
      <ngx-filter-select [filterable]="false" [placeholder]="'No Selection'" label="Category">
        <ngx-select-option name="Selection" value="breach asd asd ajsdh sf sajdf asjkfhasd lkasd "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [filterable]="false" [placeholder]="'No Selection'" label="Category">
          <ngx-select-option name="Selection" value="breach asd asd ajsdh sf sajdf asjkfhasd lkasd "></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Multi-select</h4>
      <ngx-filter-select [filterable]="false" label="Categories" multiple="true">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [filterable]="false" label="Categories" multiple="true">
          <ngx-select-option name="Selection" value="breach"></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Dropdown filter</h4>
      <ngx-filter-select [filterable]="true" label="Categories" multiple="true">
        <ngx-select-option name="Selection" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [filterable]="true" label="Categories" multiple="true">
          <ngx-select-option name="Selection" value="breach"></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Objects with Grouping</h4>
      <ngx-filter-select [groupBy]="'type'">
        <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [groupBy]="'type'">
          <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
          <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
          <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Disabled</h4>
      <ngx-filter-select label="Category" [disabled]="true">
        <ngx-select-option name="Selection" value="breach "></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select label="Category" [disabled]="true">
          <ngx-select-option name="Selection" value="breach "></ngx-select-option>
          <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
          <ngx-select-option name="Physical" value="physical"></ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Large ngFor with Default Selections</h4>
      <ngx-filter-select [identifier]="'attr'" [ngModel]="[selects[0]]" label="Selection">
        <ngx-select-option *ngFor="let option of selects" [name]="option.name" [value]="option"> </ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select [identifier]="'attr'" [ngModel]="[selects[0]]" label="Selection">
          <ngx-select-option *ngFor="let option of selects" [name]="option.name" [value]="option"> </ngx-select-option>
        </ngx-filter-select> ]]>
      </app-prism>
      <br />
      <br />
      <br />

      <h4>Async options</h4>
      <ngx-filter-select (keyup)="search($event.value)">
        <ngx-select-option
          *ngFor="let option of asyncOptions$ | async"
          [name]="option.title"
          [value]="option"
          [disabled]="option.disabled"
        ></ngx-select-option>
      </ngx-filter-select>
      <app-prism>
        <![CDATA[<ngx-filter-select (keyup)="search($event.value)">
          <ngx-select-option
            *ngFor="let option of asyncOptions$ | async"
            [name]="option.title"
            [value]="option"
            [disabled]="option.disabled"
          ></ngx-select-option>
        </ngx-filter-select>]]>
      </app-prism>
      <br />
      <br />
      <br />
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('ngx-filter-select-inputs')">ngx-filter-select Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-filter-select-outputs')">ngx-filter-select Outputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-select-option-inputs')">ngx-select-option Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-select-option-outputs')">ngx-select-option Outputs</a>
    <hr />

    <h3 class="style-header" id="ngx-filter-select-inputs">ngx-filter-select Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>allowAdditions: boolean</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autofocus: boolean</code>
          </th>
          <td>Whether the component is auto-focused.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autosize: boolean</code>
          </th>
          <td>Whether the component is autosized.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>autosizeMinWidth: number | string</code>
          </th>
          <td>The minimum width of the component when autosize is enabled, in pixels.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>closeOnBodyClick: boolean = true</code>
          </th>
          <td>Whether the component dropdown should close when a click outside of the dropdown is registered.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>closeOnSelect: boolean</code>
          </th>
          <td>Whether the component dropdown should close when an option has been selected.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disableDropdown: boolean</code>
          </th>
          <td>Whether the component dropdown is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>emptyPlaceholder: string = 'No options available'</code>
          </th>
          <td>Placeholder to display when the component has no selectable options.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterable: boolean = true</code>
          </th>
          <td>Whether the component is filterable.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterCaseSensitive: boolean</code>
          </th>
          <td>Whether the component's filter is case-sensitive.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterEmptyPlaceholder: string = 'No matches...'</code>
          </th>
          <td>
            Placeholder to display when the component has no selectable options that match the user's filter term.
          </td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>filterPlaceholder: string = 'Search'</code>
          </th>
          <td>Placeholder to display for the component's filter text input.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>forceDownwardOpening: boolean</code>
          </th>
          <td>Whether to force the component to open beneath itself.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>groupBy: string</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>groupByTemplate: TemplateRef&lt;unknown&gt;</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>id: string = 'select-1'</code>
          </th>
          <td>The ID for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>identifier: string</code>
          </th>
          <td>NEEDS DOCUMENTATION.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>label: string</code>
          </th>
          <td class="component-description">The label for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>multiple: boolean</code>
          </th>
          <td class="component-description">Whether multiple selection is allowed.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>name: string</code>
          </th>
          <td class="component-description">The name for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>options: SelectDropdownOption[] = []</code>
          </th>
          <td class="component-description">The options to display for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>placeholder: string</code>
          </th>
          <td class="component-description">The placeholder for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>showSelectAll: boolean</code>
          </th>
          <td class="component-description">Displays a "Select All" item in the dropdown</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-filter-select-outputs">ngx-filter-select Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>change: EventEmitter&lt;any[]&gt;</code>
          </th>
          <td>Event emitted when an option is selected.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>keyup: EventEmitter&lt;&#123; event: KeyboardEvent; value?: string &#125;&gt;</code>
          </th>
          <td>Event emitted when a key is released.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>toggle: EventEmitter&lt;boolean&gt;</code>
          </th>
          <td>Event emitted when the dropdown is toggled open or closed.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>clearQueryFilter: EventEmitter&lt;void&gt;</code>
          </th>
          <td>Event emitted when the query filter is cleared.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-select-option-inputs">ngx-select-option Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>hidden: boolean</code>
          </th>
          <td>Whether the component is hidden.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>name: string</code>
          </th>
          <td>The name of the component. This is what is displayed to the user.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>tooltipConfig: TooltipConfig = DEFAULT_TOOLTIP_CONFIG</code>
          </th>
          <td>The tooltip configuration object required by the component to display a tooltip. See Examples tab.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>value: any</code>
          </th>
          <td>The value of the component.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-select-option-outputs">ngx-select-option Outputs</h3>
    <h4>No component outputs to display.</h4>
  </ngx-tab>
</ngx-tabs>
