@import '../mixins';

:root {
  @include defineColorCSSVar(--ngx-ui-color-white, #fff);
  @include defineColorCSSVar(--ngx-ui-color-black, #000);

  // Shadows
  --ngx-ui-shadow-key-umbra-opacity: 0.2;
  --ngx-ui-shadow-key-penumbra-opacity: 0.14;
  --ngx-ui-shadow-ambient-shadow-opacity: 0.12;

  --ngx-ui-shadow-1: 0 1px 3px 0
      rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 1px 1px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 2px 1px -1px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-2: 0 1px 5px 0
      rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 2px 2px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 3px 1px -2px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-3: 0 1px 8px 0
      rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 3px 4px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 3px 3px -2px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-4: 0 2px 4px -1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 4px 5px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 1px 10px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-5: 0 3px 5px -1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 5px 8px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 1px 14px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-6: 0 3px 5px -1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 6px 10px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 1px 18px 0 rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-7: 0 4px 5px -2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 7px 10px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 2px 16px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-8: 0 5px 5px -3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 8px 10px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 3px 14px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-9: 0 5px 6px -3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 9px 12px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 3px 16px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-10: 0 6px 6px -3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 10px 14px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 4px 18px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-11: 0 6px 7px -4px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 11px 15px 1px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 4px 20px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-12: 0 7px 8px -4px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 12px 17px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 5px 22px 4px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-13: 0 7px 8px -4px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 13px 19px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 5px 24px 4px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-14: 0 7px 9px -4px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 14px 21px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 5px 26px 4px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-15: 0 8px 9px -5px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 15px 22px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 6px 28px 5px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-16: 0 8px 10px -5px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 16px 24px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 6px 30px 5px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-17: 0 8px 11px -5px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 17px 26px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 6px 32px 5px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-18: 0 9px 11px -5px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 18px 28px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 7px 34px 6px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-19: 0 9px 12px -6px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 19px 29px 2px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 7px 36px 6px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-20: 0 10px 13px -6px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 20px 31px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 8px 38px 7px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-21: 0 10px 13px -6px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 21px 33px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 8px 40px 7px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-22: 0 10px 14px -6px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 22px 35px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 8px 42px 7px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-23: 0 11px 14px -7px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 23px 36px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 9px 44px 8px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  --ngx-ui-shadow-24: 0 11px 15px -7px rgba(0, 0, 0, var(--ngx-ui-shadow-key-umbra-opacity)),
    0 24px 38px 3px rgba(0, 0, 0, var(--ngx-ui-shadow-key-penumbra-opacity)),
    0 9px 46px 8px rgba(0, 0, 0, var(--ngx-ui-shadow-ambient-shadow-opacity));

  // Gradient
  --ngx-ui-gradient-blue: linear-gradient(
    to top right,
    #6bd1f9 0%,
    #54a4fb 100%
  );
  --ngx-ui-gradient-blue-green: linear-gradient(
    to top right,
    #69d1f8 0%,
    #59e6c8 100%
  );
  --ngx-ui-gradient-blue-red: linear-gradient(
    to top right,
    #50a1f9 0%,
    #f96f50 100%
  );
  --ngx-ui-gradient-blue-purple: linear-gradient(
    to top right,
    #73bef4 0%,
    #aa90ed 100%
  );
  --ngx-ui-gradient-red-orange: linear-gradient(
    to top right,
    #fc7c5f 0%,
    #fcbc5a 100%
  );
  --ngx-ui-gradient-orange-purple: linear-gradient(
    to top right,
    #f5cc98 0%,
    #ae94ec 100%
  );
  --ngx-ui-bg-radial-1: radial-gradient(
    ellipse farthest-corner at center top,
    #1e283e 0%,
    #1b1e27 100%
  );
  --ngx-ui-bg-radial-2: radial-gradient(
    ellipse farthest-corner at center top,
    rgba(33, 39, 54, 1) 0%,
    rgba(27, 31, 41, 1) 100%
  );
  --ngx-ui-bg-linear-1: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%);
  --ngx-ui-bg-linear-2: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%);
  --ngx-ui-bg-linear-3: linear-gradient(180deg, #252a37 0%, #212631 100%);

  // Blue
  @include defineColorCSSVar(--ngx-ui-color-blue, #1483ff);
  @include defineColorCSSVar(--ngx-ui-color-blue-100, #add4ff);
  @include defineColorCSSVar(--ngx-ui-color-blue-200, #93c6ff);
  @include defineColorCSSVar(--ngx-ui-color-blue-300, #7ab9ff);
  @include defineColorCSSVar(--ngx-ui-color-blue-400, #479eff);
  @include defineColorCSSVar(--ngx-ui-color-blue-500, #1483ff);
  @include defineColorCSSVar(--ngx-ui-color-blue-600, #006ae0);
  @include defineColorCSSVar(--ngx-ui-color-blue-700, #0052ad);
  @include defineColorCSSVar(--ngx-ui-color-blue-800, #003a7a);
  @include defineColorCSSVar(--ngx-ui-color-blue-900, #002e60);

  // Light Blue
  @include defineColorCSSVar(--ngx-ui-color-light-blue, #22befb);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-100, #b8eafe);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-200, #9fe3fd);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-300, #86dbfd);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-400, #54cdfc);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-500, #22befb);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-600, #04a6e6);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-700, #0382b4);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-800, #025e82);
  @include defineColorCSSVar(--ngx-ui-color-light-blue-900, #024c69);

  // Green
  @include defineColorCSSVar(--ngx-ui-color-green, #1ddeb6);
  @include defineColorCSSVar(--ngx-ui-color-green-100, #a1f3e2);
  @include defineColorCSSVar(--ngx-ui-color-green-200, #8bf0db);
  @include defineColorCSSVar(--ngx-ui-color-green-300, #74edd4);
  @include defineColorCSSVar(--ngx-ui-color-green-400, #47e7c6);
  @include defineColorCSSVar(--ngx-ui-color-green-500, #1ddeb6);
  @include defineColorCSSVar(--ngx-ui-color-green-600, #17b191);
  @include defineColorCSSVar(--ngx-ui-color-green-700, #11846c);
  @include defineColorCSSVar(--ngx-ui-color-green-800, #0b5747);
  @include defineColorCSSVar(--ngx-ui-color-green-900, #084035);

  // Red
  @include defineColorCSSVar(--ngx-ui-color-red, #ff4514);
  @include defineColorCSSVar(--ngx-ui-color-red-100, #ffbead);
  @include defineColorCSSVar(--ngx-ui-color-red-200, #ffaa93);
  @include defineColorCSSVar(--ngx-ui-color-red-300, #ff967a);
  @include defineColorCSSVar(--ngx-ui-color-red-400, #ff6d47);
  @include defineColorCSSVar(--ngx-ui-color-red-500, #ff4514);
  @include defineColorCSSVar(--ngx-ui-color-red-600, #e02f00);
  @include defineColorCSSVar(--ngx-ui-color-red-700, #ad2400);
  @include defineColorCSSVar(--ngx-ui-color-red-800, #7a1900);
  @include defineColorCSSVar(--ngx-ui-color-red-900, #601400);

  // Orange
  @include defineColorCSSVar(--ngx-ui-color-orange, #ffa814);
  @include defineColorCSSVar(--ngx-ui-color-orange-100, #ffe1ad);
  @include defineColorCSSVar(--ngx-ui-color-orange-200, #ffd793);
  @include defineColorCSSVar(--ngx-ui-color-orange-300, #ffce7a);
  @include defineColorCSSVar(--ngx-ui-color-orange-400, #ffbb47);
  @include defineColorCSSVar(--ngx-ui-color-orange-500, #ffa814);
  @include defineColorCSSVar(--ngx-ui-color-orange-600, #e08d00);
  @include defineColorCSSVar(--ngx-ui-color-orange-700, #ad6d00);
  @include defineColorCSSVar(--ngx-ui-color-orange-800, #7a4d00);
  @include defineColorCSSVar(--ngx-ui-color-orange-900, #603d00);

  // Purple
  @include defineColorCSSVar(--ngx-ui-color-purple, #8a65e8);
  @include defineColorCSSVar(--ngx-ui-color-purple-100, #efeafc);
  @include defineColorCSSVar(--ngx-ui-color-purple-200, #ded4f9);
  @include defineColorCSSVar(--ngx-ui-color-purple-300, #cdbef5);
  @include defineColorCSSVar(--ngx-ui-color-purple-400, #ac91ef);
  @include defineColorCSSVar(--ngx-ui-color-purple-500, #8a65e8);
  @include defineColorCSSVar(--ngx-ui-color-purple-600, #6839e1);
  @include defineColorCSSVar(--ngx-ui-color-purple-700, #4e1ec9);
  @include defineColorCSSVar(--ngx-ui-color-purple-800, #3d179d);
  @include defineColorCSSVar(--ngx-ui-color-purple-900, #341486);

  // Blue Grey
  @include defineColorCSSVar(--ngx-ui-color-blue-grey, #5a6884);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-050, #ebedf2);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-100, #cdd2dd);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-150, #bec5d3);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-200, #afb7c8);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-250, #a0aabe);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-300, #909cb4);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-350, #818fa9);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-400, #72819f);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-450, #647493);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-500, #5a6884);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-550, #505c75);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-600, #455066);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-650, #3b4457);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-700, #313847);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-725, #2b3240);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-750, #262c38);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-775, #212631);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-800, #1c2029);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-825, #171a21);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-850, #12141a);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-875, #0c0e12);
  @include defineColorCSSVar(--ngx-ui-color-blue-grey-900, #07080b);

  // Light Grey
  @include defineColorCSSVar(--ngx-ui-color-grey, #696969);
  @include defineColorCSSVar(--ngx-ui-color-grey-050, #e9e9e9);
  @include defineColorCSSVar(--ngx-ui-color-grey-100, #cfcfcf);
  @include defineColorCSSVar(--ngx-ui-color-grey-150, #c2c2c2);
  @include defineColorCSSVar(--ngx-ui-color-grey-200, #b6b6b6);
  @include defineColorCSSVar(--ngx-ui-color-grey-250, #a9a9a9);
  @include defineColorCSSVar(--ngx-ui-color-grey-300, #9c9c9c);
  @include defineColorCSSVar(--ngx-ui-color-grey-350, #8f8f8f);
  @include defineColorCSSVar(--ngx-ui-color-grey-400, #838383);
  @include defineColorCSSVar(--ngx-ui-color-grey-450, #767676);
  @include defineColorCSSVar(--ngx-ui-color-grey-500, #696969);
  @include defineColorCSSVar(--ngx-ui-color-grey-550, #696969);
  @include defineColorCSSVar(--ngx-ui-color-grey-600, #5c5c5c);
  @include defineColorCSSVar(--ngx-ui-color-grey-650, #505050);
  @include defineColorCSSVar(--ngx-ui-color-grey-700, #434343);
  @include defineColorCSSVar(--ngx-ui-color-grey-725, #363636);
  @include defineColorCSSVar(--ngx-ui-color-grey-750, #303030);
  @include defineColorCSSVar(--ngx-ui-color-grey-775, #292929);
  @include defineColorCSSVar(--ngx-ui-color-grey-800, #232323);
  @include defineColorCSSVar(--ngx-ui-color-grey-825, #1d1d1d);
  @include defineColorCSSVar(--ngx-ui-color-grey-850, #161616);
  @include defineColorCSSVar(--ngx-ui-color-grey-875, #101010);
  @include defineColorCSSVar(--ngx-ui-color-grey-900, #090909);

  --ngx-ui-color-error: var(--ngx-ui-color-red-500);
}
