/**
 * Button styling
 */
button {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;

  &:focus {
    outline: none;
  }
}

.btn {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.35em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;
  font-size: .9em;
  outline: none;

  background: $color-bg-med;
  border: solid 1px transparent;
  border-radius: 2px;
  box-shadow: $shadow-1;
  transition: background-color 200ms, box-shadow 200ms;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
    box-shadow: $shadow-3;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background: $color-bg-dark;
  }

  &.btn-primary {
    background-color: $color-blue-med;

    &:hover:not([disabled]),
    &:hover:not(.disabled),
    &:focus:not([disabled]),
    &:focus:not(.disabled) {
      background-color: $color-blue;
    }
  }

  &.btn-warning {
    background-color: $color-orange-med;

    &:hover:not([disabled]),
    &:hover:not(.disabled),
    &:focus:not([disabled]),
    &:focus:not(.disabled) {
      background-color: $color-orange;
    }
  }

  &.btn-danger {
    background-color: $color-red-med;

    &:hover:not([disabled]),
    &:hover:not(.disabled),
    &:focus:not([disabled]),
    &:focus:not(.disabled) {
      background-color: $color-red;
    }
  }

  &.btn-link {
    background-color: transparent;
    box-shadow: none;

    &:hover:not([disabled]),
    &:hover:not(.disabled),
    &:focus:not([disabled]),
    &:focus:not(.disabled) {
      background-color: transparent;
    }
  }

  &.btn-file {
    cursor: pointer;

    label[for="file-input"] {
      cursor: pointer;
    }

    input[type=file] {
      pointer-events: none;
      position: absolute;
      left: -9999px;
    }
  }
}
