.input-page {
  .divider {
    border: none;
    border-top: 1px solid var(--grey-700);
    margin: 4rem var(--spacing-0);
  }

  .muted {
    color: var(--grey-300);
    margin-bottom: var(--spacing-16);
  }

  .color-muted {
    color: var(--grey-300);
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    max-width: 500px;
  }

  .ml-sm {
    margin-left: var(--spacing-8);
  }

  .mt {
    margin-top: var(--spacing-16);
  }

  .narrow {
    max-width: 500px;
  }

  .cdn {
    margin-top: var(--spacing-0);
    margin-bottom: var(--spacing-24);
  }
}
