<i class="ngx-icon-icon ngx-icon-3d-rotate"></i>

<h3 class="style-header">Icons</h3>
<ul class="icons-preview">
  @for (icon of icons; track icon) {
    <li class="shadow-2 shadow-fx">
      <ngx-icon [fontIcon]="icon.name"></ngx-icon>
      <span class="icon-name" dbl-click-copy>ngx-icon ngx-{{ icon.name }}</span>
    </li>
  }
</ul>

<h3 class="style-header">Icons: effects</h3>
<ul class="icons-preview">
  <li class="shadow-2 shadow-fx">
    <span class="large-icon">
      <i class="ngx-icon ngx-refresh"></i>
    </span>
    <i class="icon-name">normal</i>
  </li>

  @for (fx of iconFx; track fx) {
    <li class="shadow-2 shadow-fx">
      <span class="large-icon">
        <i class="ngx-icon ngx-refresh icon-fx-{{ fx }}"></i>
      </span>
      <span class="icon-name" dbl-click-copy>icon-fx-{{ fx }}</span>
    </li>
  }
</ul>

<h3 class="style-header">Icons: colors</h3>
<ul class="icons-preview">
  @for (c of ['blue', 'light-blue', 'green', 'orange', 'red', 'purple', 'blue-grey', 'grey']; track c) {
    <li
      class="shadow-2 shadow-fx"
      >
      <span class="large-icon">
        <i class="ngx-icon ngx-refresh text-{{ c }}"></i>
      </span>
      <span class="icon-name" dbl-click-copy>text-{{ c }}</span>
    </li>
  }
</ul>

<h3 class="style-header">Icons: stacking</h3>

<span class="large-icon">
  <span class="icon-fx-stacked">
    <i class="ngx-icon ngx-square"></i>
    <i class="ngx-icon ngx-x text-red"></i>
  </span>
  <span class="icon-fx-stacked">
    <i class="ngx-icon ngx-square-filled"></i>
    <i class="ngx-icon ngx-x text-red"></i>
  </span>
  <span class="icon-fx-stacked">
    <i class="ngx-icon ngx-square-filled"></i>
    <i class="ngx-icon ngx-x text-red icon-fx-spinning"></i>
  </span>
  <span class="icon-fx-stacked">
    <i class="ngx-icon ngx-field-users"></i>
    <i class="ngx-icon ngx-circle-filled text-red icon-fx-badge"></i>
  </span>
</span>

<app-prism>
  <![CDATA[<span class="icon-fx-stacked"> <i class="ngx-icon ngx-square"></i><i class="ngx-icon ngx-x color-red"></i>
  </span> <span class="icon-fx-stacked"> <i class="ngx-icon ngx-square-filled"></i><i class="ngx-icon ngx-x
  text-red"></i> </span> <span class="icon-fx-stacked"> <i class="ngx-icon ngx-square-filled"></i><i class="ngx-icon
  ngx-x text-red icon-fx-spinning"></i> </span> <span class="icon-fx-stacked"> <i class="ngx-icon
  ngx-field-users"></i><i class="ngx-icon ngx-circle-filled text-red icon-fx-badge"></i> </span>]]>
</app-prism>
