/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$ngx-3d-rotate: unicode(ea01);
$ngx-action-close: unicode(ea02);
$ngx-action-maximize: unicode(ea03);
$ngx-action-minimize: unicode(ea04);
$ngx-add-circle-filled: unicode(ea05);
$ngx-add-circle-thin: unicode(ea07);
$ngx-add-circle: unicode(ea06);
$ngx-add-edge: unicode(ea08);
$ngx-add-new: unicode(ea09);
$ngx-add-node: unicode(ea0a);
$ngx-advanced-pie: unicode(ea0b);
$ngx-alert: unicode(ea0c);
$ngx-app-store: unicode(ea0d);
$ngx-app-workspaces: unicode(ea0e);
$ngx-applet: unicode(ea0f);
$ngx-applets: unicode(ea10);
$ngx-application: unicode(ea11);
$ngx-apps: unicode(ea12);
$ngx-area-chart: unicode(ea13);
$ngx-arrow-bold-circle-left: unicode(ea14);
$ngx-arrow-bold-circle-right: unicode(ea15);
$ngx-arrow-bold-down: unicode(ea16);
$ngx-arrow-bold-left: unicode(ea17);
$ngx-arrow-bold-right: unicode(ea18);
$ngx-arrow-bold-up: unicode(ea19);
$ngx-arrow-down: unicode(ea1a);
$ngx-arrow-input: unicode(ea1b);
$ngx-arrow-left: unicode(ea1c);
$ngx-arrow-output: unicode(ea1d);
$ngx-arrow-right: unicode(ea1e);
$ngx-arrow-tail-left: unicode(ea1f);
$ngx-arrow-tail-right: unicode(ea20);
$ngx-arrow-tail-solid-left: unicode(ea21);
$ngx-arrow-tail-solid-right: unicode(ea22);
$ngx-arrow-tail-subright: unicode(ea23);
$ngx-arrow-up: unicode(ea24);
$ngx-assets: unicode(ea25);
$ngx-attachment: unicode(ea26);
$ngx-back-arrow: unicode(ea27);
$ngx-bars: unicode(ea28);
$ngx-bell: unicode(ea29);
$ngx-bold: unicode(ea2a);
$ngx-bolt: unicode(ea2b);
$ngx-branch-node-vert: unicode(ea2c);
$ngx-branch-node: unicode(ea2d);
$ngx-broom: unicode(ea2e);
$ngx-browser-size: unicode(ea2f);
$ngx-bug: unicode(ea30);
$ngx-builder: unicode(ea31);
$ngx-calendar-clock: unicode(ea32);
$ngx-calendar: unicode(ea33);
$ngx-calender-clock: unicode(ea34);
$ngx-cards: unicode(ea35);
$ngx-center-align: unicode(ea36);
$ngx-chart-area: unicode(ea37);
$ngx-chart-bar-bar: unicode(ea38);
$ngx-chart-bubble: unicode(ea39);
$ngx-chart-donut: unicode(ea3a);
$ngx-chart-full-stacked-area: unicode(ea3b);
$ngx-chart-heat: unicode(ea3c);
$ngx-chart-horz-full-stack-bar: unicode(ea3d);
$ngx-chart-number-card: unicode(ea3e);
$ngx-chart-pie-grid: unicode(ea3f);
$ngx-chart-pie: unicode(ea40);
$ngx-chart-scatter: unicode(ea41);
$ngx-chart-stacked-area: unicode(ea42);
$ngx-chart-vert-bar: unicode(ea43);
$ngx-chart-vert-bar2: unicode(ea44);
$ngx-chart-vert-stacked-bar: unicode(ea45);
$ngx-check-filled-sm: unicode(ea46);
$ngx-check-filled: unicode(ea47);
$ngx-check-square-filled: unicode(ea48);
$ngx-check: unicode(ea49);
$ngx-chevron-bold-down: unicode(ea4a);
$ngx-chevron-bold-left: unicode(ea4b);
$ngx-chevron-bold-right: unicode(ea4c);
$ngx-chevron-bold-up: unicode(ea4d);
$ngx-circle-filled: unicode(ea4e);
$ngx-circle: unicode(ea4f);
$ngx-circles: unicode(ea50);
$ngx-circuit-board: unicode(ea51);
$ngx-clipboard: unicode(ea52);
$ngx-clock: unicode(ea53);
$ngx-cloud-download: unicode(ea54);
$ngx-cloud-upload: unicode(ea55);
$ngx-code: unicode(ea56);
$ngx-cog: unicode(ea57);
$ngx-commandline: unicode(ea58);
$ngx-comments: unicode(ea59);
$ngx-copy-app: unicode(ea5b);
$ngx-copy-filled: unicode(ea5a);
$ngx-copy: unicode(ea5c);
$ngx-credit-card: unicode(ea5e);
$ngx-dashboard: unicode(ea5d);
$ngx-database: unicode(ea5f);
$ngx-devil: unicode(ea60);
$ngx-document: unicode(ea61);
$ngx-domain: unicode(ea62);
$ngx-dots-horz: unicode(ea63);
$ngx-dots-vert-round: unicode(ea64);
$ngx-dots-vert: unicode(ea66);
$ngx-double-down: unicode(ea65);
$ngx-double-left: unicode(ea67);
$ngx-double-right: unicode(ea68);
$ngx-double-up: unicode(ea69);
$ngx-edit-app: unicode(ea6a);
$ngx-edit: unicode(ea6b);
$ngx-email: unicode(ea6c);
$ngx-expand: unicode(ea6d);
$ngx-explore: unicode(ea6e);
$ngx-export-filled: unicode(ea6f);
$ngx-export: unicode(ea70);
$ngx-eye-disabled: unicode(ea71);
$ngx-eye-hidden: unicode(ea73);
$ngx-eye: unicode(ea72);
$ngx-field-created-by: unicode(ea75);
$ngx-field-created-date: unicode(ea74);
$ngx-field-date: unicode(ea76);
$ngx-field-edited-by: unicode(ea77);
$ngx-field-edited-date: unicode(ea78);
$ngx-field-grid: unicode(ea79);
$ngx-field-html: unicode(ea7a);
$ngx-field-json: unicode(ea7b);
$ngx-field-list: unicode(ea7c);
$ngx-field-lists: unicode(ea7d);
$ngx-field-multiselect: unicode(ea7e);
$ngx-field-number: unicode(ea7f);
$ngx-field-numeric: unicode(ea80);
$ngx-field-richtext: unicode(ea81);
$ngx-field-single-select: unicode(ea82);
$ngx-field-singleline: unicode(ea83);
$ngx-field-text: unicode(ea84);
$ngx-field-textarea: unicode(ea85);
$ngx-field-textual: unicode(ea86);
$ngx-field-users: unicode(ea87);
$ngx-filter-bar: unicode(ea88);
$ngx-filter: unicode(ea89);
$ngx-find-page: unicode(ea8a);
$ngx-flame: unicode(ea8b);
$ngx-folder: unicode(ea8c);
$ngx-folders: unicode(ea8d);
$ngx-font: unicode(ea8e);
$ngx-format-indent-decrease: unicode(ea8f);
$ngx-format-indent-increase: unicode(ea90);
$ngx-formula: unicode(ea91);
$ngx-full-align: unicode(ea92);
$ngx-gauge: unicode(ea93);
$ngx-gear-square: unicode(ea94);
$ngx-gear: unicode(ea95);
$ngx-globe: unicode(ea96);
$ngx-graph-alt1: unicode(ea97);
$ngx-graph: unicode(ea98);
$ngx-grid-view: unicode(ea99);
$ngx-hand: unicode(ea9a);
$ngx-handle: unicode(ea9b);
$ngx-heat: unicode(ea9c);
$ngx-helper: unicode(ea9d);
$ngx-history: unicode(ea9e);
$ngx-horz-bar-graph-grouped: unicode(ea9f);
$ngx-horz-stacked-bar: unicode(eaa0);
$ngx-html-code: unicode(eaa1);
$ngx-icon-chart-bar-horizontal: unicode(eaa2);
$ngx-icon-chart-horz-bar: unicode(eaa3);
$ngx-info-filled: unicode(eaa4);
$ngx-inspect: unicode(eaa5);
$ngx-integration: unicode(eaa6);
$ngx-integrations: unicode(eaa7);
$ngx-ip: unicode(eaa8);
$ngx-italic: unicode(eaa9);
$ngx-keyboard-return: unicode(eaaa);
$ngx-keyboard: unicode(eaab);
$ngx-layer: unicode(eaac);
$ngx-left-align: unicode(eaad);
$ngx-line-chart: unicode(eaae);
$ngx-line-graph: unicode(eaaf);
$ngx-linear-gauge: unicode(eab0);
$ngx-link: unicode(eab1);
$ngx-list-1: unicode(eab2);
$ngx-list-view: unicode(eab3);
$ngx-list: unicode(eab4);
$ngx-loading: unicode(eab5);
$ngx-location: unicode(eab6);
$ngx-lock-sm: unicode(eab7);
$ngx-lock: unicode(eab8);
$ngx-mail-1: unicode(eab9);
$ngx-mail: unicode(eaba);
$ngx-map: unicode(eabb);
$ngx-menu: unicode(eabc);
$ngx-mic: unicode(eabd);
$ngx-minus: unicode(eabe);
$ngx-money: unicode(eabf);
$ngx-mouse-hold: unicode(eac0);
$ngx-multi-line: unicode(eac1);
$ngx-new-app: unicode(eac2);
$ngx-notation-arrow-up: unicode(eac3);
$ngx-numbered-list: unicode(eac4);
$ngx-open: unicode(eac5);
$ngx-paragraph: unicode(eac6);
$ngx-pause: unicode(eac7);
$ngx-phone: unicode(eac8);
$ngx-pie-chart: unicode(eac9);
$ngx-pin: unicode(eaca);
$ngx-plane: unicode(eacd);
$ngx-play: unicode(eacb);
$ngx-plus-bold: unicode(eacc);
$ngx-plus: unicode(eace);
$ngx-prev: unicode(eacf);
$ngx-printer: unicode(ead0);
$ngx-profile-filled: unicode(ead1);
$ngx-profile: unicode(ead2);
$ngx-question-filled-sm: unicode(ead3);
$ngx-question-filled: unicode(ead4);
$ngx-question: unicode(ead5);
$ngx-radio-button: unicode(ead6);
$ngx-reference-grid: unicode(ead7);
$ngx-reference-multi: unicode(ead8);
$ngx-reference-single: unicode(ead9);
$ngx-reference-tree: unicode(eada);
$ngx-reference: unicode(eadb);
$ngx-refresh-circle: unicode(eadc);
$ngx-refresh: unicode(eadd);
$ngx-remove-edge: unicode(eade);
$ngx-remove-node: unicode(eadf);
$ngx-remove-users: unicode(eae0);
$ngx-repeat: unicode(eae1);
$ngx-reports: unicode(eae2);
$ngx-resize: unicode(eae3);
$ngx-right-align: unicode(eae4);
$ngx-rocket: unicode(eae5);
$ngx-rotate: unicode(eae6);
$ngx-save: unicode(eae7);
$ngx-screen-1: unicode(eae8);
$ngx-screen: unicode(eae9);
$ngx-search: unicode(eaea);
$ngx-section: unicode(eaeb);
$ngx-select-all: unicode(eaec);
$ngx-select-user: unicode(eaed);
$ngx-select-users: unicode(eaee);
$ngx-server: unicode(eaef);
$ngx-shield: unicode(eaf0);
$ngx-shrink: unicode(eaf1);
$ngx-skip: unicode(eaf2);
$ngx-slide-left: unicode(eaf3);
$ngx-slide-right: unicode(eaf4);
$ngx-smartphone: unicode(eaf5);
$ngx-smiley-frown: unicode(eaf6);
$ngx-snapshot: unicode(eaf7);
$ngx-split-handle: unicode(eaf8);
$ngx-square-filled: unicode(eaf9);
$ngx-square: unicode(eafa);
$ngx-star-filled: unicode(eafb);
$ngx-star: unicode(eafc);
$ngx-stars: unicode(eafd);
$ngx-stopwatch: unicode(eafe);
$ngx-superscript: unicode(eaff);
$ngx-switch: unicode(eb00);
$ngx-system-diagnostics-2: unicode(eb01);
$ngx-system-diagnostics: unicode(eb02);
$ngx-table: unicode(eb03);
$ngx-tabs: unicode(eb04);
$ngx-tracking-id: unicode(eb05);
$ngx-transfer: unicode(eb06);
$ngx-trash: unicode(eb07);
$ngx-tree-collapse: unicode(eb08);
$ngx-tree-expand: unicode(eb09);
$ngx-tree: unicode(eb0a);
$ngx-trending: unicode(eb0b);
$ngx-underline: unicode(eb0c);
$ngx-user-add: unicode(eb0d);
$ngx-user-circle: unicode(eb0e);
$ngx-user-groups: unicode(eb0f);
$ngx-user: unicode(eb10);
$ngx-users: unicode(eb11);
$ngx-vert-bar-graph-grouped: unicode(eb12);
$ngx-vert-full-stack-bar: unicode(eb13);
$ngx-wand: unicode(eb14);
$ngx-warning-filled-sm: unicode(eb15);
$ngx-warning-filled: unicode(eb16);
$ngx-warning-thin: unicode(eb17);
$ngx-web-api: unicode(eb18);
$ngx-widget: unicode(eb19);
$ngx-worker: unicode(eb1a);
$ngx-workflow: unicode(eb1b);
$ngx-workspaces: unicode(eb1c);
$ngx-workstation: unicode(eb1d);
$ngx-wrench: unicode(eb1e);
$ngx-x-filled: unicode(eb1f);
$ngx-x: unicode(eb20);

.ngx-icon.ngx-3d-rotate::before {
  content: $ngx-3d-rotate;
}

.ngx-icon.ngx-action-close::before {
  content: $ngx-action-close;
}

.ngx-icon.ngx-action-maximize::before {
  content: $ngx-action-maximize;
}

.ngx-icon.ngx-action-minimize::before {
  content: $ngx-action-minimize;
}

.ngx-icon.ngx-add-circle-filled::before {
  content: $ngx-add-circle-filled;
}

.ngx-icon.ngx-add-circle-thin::before {
  content: $ngx-add-circle-thin;
}

.ngx-icon.ngx-add-circle::before {
  content: $ngx-add-circle;
}

.ngx-icon.ngx-add-edge::before {
  content: $ngx-add-edge;
}

.ngx-icon.ngx-add-new::before {
  content: $ngx-add-new;
}

.ngx-icon.ngx-add-node::before {
  content: $ngx-add-node;
}

.ngx-icon.ngx-advanced-pie::before {
  content: $ngx-advanced-pie;
}

.ngx-icon.ngx-alert::before {
  content: $ngx-alert;
}

.ngx-icon.ngx-app-store::before {
  content: $ngx-app-store;
}

.ngx-icon.ngx-app-workspaces::before {
  content: $ngx-app-workspaces;
}

.ngx-icon.ngx-applet::before {
  content: $ngx-applet;
}

.ngx-icon.ngx-applets::before {
  content: $ngx-applets;
}

.ngx-icon.ngx-application::before {
  content: $ngx-application;
}

.ngx-icon.ngx-apps::before {
  content: $ngx-apps;
}

.ngx-icon.ngx-area-chart::before {
  content: $ngx-area-chart;
}

.ngx-icon.ngx-arrow-bold-circle-left::before {
  content: $ngx-arrow-bold-circle-left;
}

.ngx-icon.ngx-arrow-bold-circle-right::before {
  content: $ngx-arrow-bold-circle-right;
}

.ngx-icon.ngx-arrow-bold-down::before {
  content: $ngx-arrow-bold-down;
}

.ngx-icon.ngx-arrow-bold-left::before {
  content: $ngx-arrow-bold-left;
}

.ngx-icon.ngx-arrow-bold-right::before {
  content: $ngx-arrow-bold-right;
}

.ngx-icon.ngx-arrow-bold-up::before {
  content: $ngx-arrow-bold-up;
}

.ngx-icon.ngx-arrow-down::before {
  content: $ngx-arrow-down;
}

.ngx-icon.ngx-arrow-input::before {
  content: $ngx-arrow-input;
}

.ngx-icon.ngx-arrow-left::before {
  content: $ngx-arrow-left;
}

.ngx-icon.ngx-arrow-output::before {
  content: $ngx-arrow-output;
}

.ngx-icon.ngx-arrow-right::before {
  content: $ngx-arrow-right;
}

.ngx-icon.ngx-arrow-tail-left::before {
  content: $ngx-arrow-tail-left;
}

.ngx-icon.ngx-arrow-tail-right::before {
  content: $ngx-arrow-tail-right;
}

.ngx-icon.ngx-arrow-tail-solid-left::before {
  content: $ngx-arrow-tail-solid-left;
}

.ngx-icon.ngx-arrow-tail-solid-right::before {
  content: $ngx-arrow-tail-solid-right;
}

.ngx-icon.ngx-arrow-tail-subright::before {
  content: $ngx-arrow-tail-subright;
}

.ngx-icon.ngx-arrow-up::before {
  content: $ngx-arrow-up;
}

.ngx-icon.ngx-assets::before {
  content: $ngx-assets;
}

.ngx-icon.ngx-attachment::before {
  content: $ngx-attachment;
}

.ngx-icon.ngx-back-arrow::before {
  content: $ngx-back-arrow;
}

.ngx-icon.ngx-bars::before {
  content: $ngx-bars;
}

.ngx-icon.ngx-bell::before {
  content: $ngx-bell;
}

.ngx-icon.ngx-bold::before {
  content: $ngx-bold;
}

.ngx-icon.ngx-bolt::before {
  content: $ngx-bolt;
}

.ngx-icon.ngx-branch-node-vert::before {
  content: $ngx-branch-node-vert;
}

.ngx-icon.ngx-branch-node::before {
  content: $ngx-branch-node;
}

.ngx-icon.ngx-broom::before {
  content: $ngx-broom;
}

.ngx-icon.ngx-browser-size::before {
  content: $ngx-browser-size;
}

.ngx-icon.ngx-bug::before {
  content: $ngx-bug;
}

.ngx-icon.ngx-builder::before {
  content: $ngx-builder;
}

.ngx-icon.ngx-calendar-clock::before {
  content: $ngx-calendar-clock;
}

.ngx-icon.ngx-calendar::before {
  content: $ngx-calendar;
}

.ngx-icon.ngx-calender-clock::before {
  content: $ngx-calender-clock;
}

.ngx-icon.ngx-cards::before {
  content: $ngx-cards;
}

.ngx-icon.ngx-center-align::before {
  content: $ngx-center-align;
}

.ngx-icon.ngx-chart-area::before {
  content: $ngx-chart-area;
}

.ngx-icon.ngx-chart-bar-bar::before {
  content: $ngx-chart-bar-bar;
}

.ngx-icon.ngx-chart-bubble::before {
  content: $ngx-chart-bubble;
}

.ngx-icon.ngx-chart-donut::before {
  content: $ngx-chart-donut;
}

.ngx-icon.ngx-chart-full-stacked-area::before {
  content: $ngx-chart-full-stacked-area;
}

.ngx-icon.ngx-chart-heat::before {
  content: $ngx-chart-heat;
}

.ngx-icon.ngx-chart-horz-full-stack-bar::before {
  content: $ngx-chart-horz-full-stack-bar;
}

.ngx-icon.ngx-chart-number-card::before {
  content: $ngx-chart-number-card;
}

.ngx-icon.ngx-chart-pie-grid::before {
  content: $ngx-chart-pie-grid;
}

.ngx-icon.ngx-chart-pie::before {
  content: $ngx-chart-pie;
}

.ngx-icon.ngx-chart-scatter::before {
  content: $ngx-chart-scatter;
}

.ngx-icon.ngx-chart-stacked-area::before {
  content: $ngx-chart-stacked-area;
}

.ngx-icon.ngx-chart-vert-bar::before {
  content: $ngx-chart-vert-bar;
}

.ngx-icon.ngx-chart-vert-bar2::before {
  content: $ngx-chart-vert-bar2;
}

.ngx-icon.ngx-chart-vert-stacked-bar::before {
  content: $ngx-chart-vert-stacked-bar;
}

.ngx-icon.ngx-check-filled-sm::before {
  content: $ngx-check-filled-sm;
}

.ngx-icon.ngx-check-filled::before {
  content: $ngx-check-filled;
}

.ngx-icon.ngx-check-square-filled::before {
  content: $ngx-check-square-filled;
}

.ngx-icon.ngx-check::before {
  content: $ngx-check;
}

.ngx-icon.ngx-chevron-bold-down::before {
  content: $ngx-chevron-bold-down;
}

.ngx-icon.ngx-chevron-bold-left::before {
  content: $ngx-chevron-bold-left;
}

.ngx-icon.ngx-chevron-bold-right::before {
  content: $ngx-chevron-bold-right;
}

.ngx-icon.ngx-chevron-bold-up::before {
  content: $ngx-chevron-bold-up;
}

.ngx-icon.ngx-circle-filled::before {
  content: $ngx-circle-filled;
}

.ngx-icon.ngx-circle::before {
  content: $ngx-circle;
}

.ngx-icon.ngx-circles::before {
  content: $ngx-circles;
}

.ngx-icon.ngx-circuit-board::before {
  content: $ngx-circuit-board;
}

.ngx-icon.ngx-clipboard::before {
  content: $ngx-clipboard;
}

.ngx-icon.ngx-clock::before {
  content: $ngx-clock;
}

.ngx-icon.ngx-cloud-download::before {
  content: $ngx-cloud-download;
}

.ngx-icon.ngx-cloud-upload::before {
  content: $ngx-cloud-upload;
}

.ngx-icon.ngx-code::before {
  content: $ngx-code;
}

.ngx-icon.ngx-cog::before {
  content: $ngx-cog;
}

.ngx-icon.ngx-commandline::before {
  content: $ngx-commandline;
}

.ngx-icon.ngx-comments::before {
  content: $ngx-comments;
}

.ngx-icon.ngx-copy-app::before {
  content: $ngx-copy-app;
}

.ngx-icon.ngx-copy-filled::before {
  content: $ngx-copy-filled;
}

.ngx-icon.ngx-copy::before {
  content: $ngx-copy;
}

.ngx-icon.ngx-credit-card::before {
  content: $ngx-credit-card;
}

.ngx-icon.ngx-dashboard::before {
  content: $ngx-dashboard;
}

.ngx-icon.ngx-database::before {
  content: $ngx-database;
}

.ngx-icon.ngx-devil::before {
  content: $ngx-devil;
}

.ngx-icon.ngx-document::before {
  content: $ngx-document;
}

.ngx-icon.ngx-domain::before {
  content: $ngx-domain;
}

.ngx-icon.ngx-dots-horz::before {
  content: $ngx-dots-horz;
}

.ngx-icon.ngx-dots-vert-round::before {
  content: $ngx-dots-vert-round;
}

.ngx-icon.ngx-dots-vert::before {
  content: $ngx-dots-vert;
}

.ngx-icon.ngx-double-down::before {
  content: $ngx-double-down;
}

.ngx-icon.ngx-double-left::before {
  content: $ngx-double-left;
}

.ngx-icon.ngx-double-right::before {
  content: $ngx-double-right;
}

.ngx-icon.ngx-double-up::before {
  content: $ngx-double-up;
}

.ngx-icon.ngx-edit-app::before {
  content: $ngx-edit-app;
}

.ngx-icon.ngx-edit::before {
  content: $ngx-edit;
}

.ngx-icon.ngx-email::before {
  content: $ngx-email;
}

.ngx-icon.ngx-expand::before {
  content: $ngx-expand;
}

.ngx-icon.ngx-explore::before {
  content: $ngx-explore;
}

.ngx-icon.ngx-export-filled::before {
  content: $ngx-export-filled;
}

.ngx-icon.ngx-export::before {
  content: $ngx-export;
}

.ngx-icon.ngx-eye-disabled::before {
  content: $ngx-eye-disabled;
}

.ngx-icon.ngx-eye-hidden::before {
  content: $ngx-eye-hidden;
}

.ngx-icon.ngx-eye::before {
  content: $ngx-eye;
}

.ngx-icon.ngx-field-created-by::before {
  content: $ngx-field-created-by;
}

.ngx-icon.ngx-field-created-date::before {
  content: $ngx-field-created-date;
}

.ngx-icon.ngx-field-date::before {
  content: $ngx-field-date;
}

.ngx-icon.ngx-field-edited-by::before {
  content: $ngx-field-edited-by;
}

.ngx-icon.ngx-field-edited-date::before {
  content: $ngx-field-edited-date;
}

.ngx-icon.ngx-field-grid::before {
  content: $ngx-field-grid;
}

.ngx-icon.ngx-field-html::before {
  content: $ngx-field-html;
}

.ngx-icon.ngx-field-json::before {
  content: $ngx-field-json;
}

.ngx-icon.ngx-field-list::before {
  content: $ngx-field-list;
}

.ngx-icon.ngx-field-lists::before {
  content: $ngx-field-lists;
}

.ngx-icon.ngx-field-multiselect::before {
  content: $ngx-field-multiselect;
}

.ngx-icon.ngx-field-number::before {
  content: $ngx-field-number;
}

.ngx-icon.ngx-field-numeric::before {
  content: $ngx-field-numeric;
}

.ngx-icon.ngx-field-richtext::before {
  content: $ngx-field-richtext;
}

.ngx-icon.ngx-field-single-select::before {
  content: $ngx-field-single-select;
}

.ngx-icon.ngx-field-singleline::before {
  content: $ngx-field-singleline;
}

.ngx-icon.ngx-field-text::before {
  content: $ngx-field-text;
}

.ngx-icon.ngx-field-textarea::before {
  content: $ngx-field-textarea;
}

.ngx-icon.ngx-field-textual::before {
  content: $ngx-field-textual;
}

.ngx-icon.ngx-field-users::before {
  content: $ngx-field-users;
}

.ngx-icon.ngx-filter-bar::before {
  content: $ngx-filter-bar;
}

.ngx-icon.ngx-filter::before {
  content: $ngx-filter;
}

.ngx-icon.ngx-find-page::before {
  content: $ngx-find-page;
}

.ngx-icon.ngx-flame::before {
  content: $ngx-flame;
}

.ngx-icon.ngx-folder::before {
  content: $ngx-folder;
}

.ngx-icon.ngx-folders::before {
  content: $ngx-folders;
}

.ngx-icon.ngx-font::before {
  content: $ngx-font;
}

.ngx-icon.ngx-format-indent-decrease::before {
  content: $ngx-format-indent-decrease;
}

.ngx-icon.ngx-format-indent-increase::before {
  content: $ngx-format-indent-increase;
}

.ngx-icon.ngx-formula::before {
  content: $ngx-formula;
}

.ngx-icon.ngx-full-align::before {
  content: $ngx-full-align;
}

.ngx-icon.ngx-gauge::before {
  content: $ngx-gauge;
}

.ngx-icon.ngx-gear-square::before {
  content: $ngx-gear-square;
}

.ngx-icon.ngx-gear::before {
  content: $ngx-gear;
}

.ngx-icon.ngx-globe::before {
  content: $ngx-globe;
}

.ngx-icon.ngx-graph-alt1::before {
  content: $ngx-graph-alt1;
}

.ngx-icon.ngx-graph::before {
  content: $ngx-graph;
}

.ngx-icon.ngx-grid-view::before {
  content: $ngx-grid-view;
}

.ngx-icon.ngx-hand::before {
  content: $ngx-hand;
}

.ngx-icon.ngx-handle::before {
  content: $ngx-handle;
}

.ngx-icon.ngx-heat::before {
  content: $ngx-heat;
}

.ngx-icon.ngx-helper::before {
  content: $ngx-helper;
}

.ngx-icon.ngx-history::before {
  content: $ngx-history;
}

.ngx-icon.ngx-horz-bar-graph-grouped::before {
  content: $ngx-horz-bar-graph-grouped;
}

.ngx-icon.ngx-horz-stacked-bar::before {
  content: $ngx-horz-stacked-bar;
}

.ngx-icon.ngx-html-code::before {
  content: $ngx-html-code;
}

.ngx-icon.ngx-icon-chart-bar-horizontal::before {
  content: $ngx-icon-chart-bar-horizontal;
}

.ngx-icon.ngx-icon-chart-horz-bar::before {
  content: $ngx-icon-chart-horz-bar;
}

.ngx-icon.ngx-info-filled::before {
  content: $ngx-info-filled;
}

.ngx-icon.ngx-inspect::before {
  content: $ngx-inspect;
}

.ngx-icon.ngx-integration::before {
  content: $ngx-integration;
}

.ngx-icon.ngx-integrations::before {
  content: $ngx-integrations;
}

.ngx-icon.ngx-ip::before {
  content: $ngx-ip;
}

.ngx-icon.ngx-italic::before {
  content: $ngx-italic;
}

.ngx-icon.ngx-keyboard-return::before {
  content: $ngx-keyboard-return;
}

.ngx-icon.ngx-keyboard::before {
  content: $ngx-keyboard;
}

.ngx-icon.ngx-layer::before {
  content: $ngx-layer;
}

.ngx-icon.ngx-left-align::before {
  content: $ngx-left-align;
}

.ngx-icon.ngx-line-chart::before {
  content: $ngx-line-chart;
}

.ngx-icon.ngx-line-graph::before {
  content: $ngx-line-graph;
}

.ngx-icon.ngx-linear-gauge::before {
  content: $ngx-linear-gauge;
}

.ngx-icon.ngx-link::before {
  content: $ngx-link;
}

.ngx-icon.ngx-list-1::before {
  content: $ngx-list-1;
}

.ngx-icon.ngx-list-view::before {
  content: $ngx-list-view;
}

.ngx-icon.ngx-list::before {
  content: $ngx-list;
}

.ngx-icon.ngx-loading::before {
  content: $ngx-loading;
}

.ngx-icon.ngx-location::before {
  content: $ngx-location;
}

.ngx-icon.ngx-lock-sm::before {
  content: $ngx-lock-sm;
}

.ngx-icon.ngx-lock::before {
  content: $ngx-lock;
}

.ngx-icon.ngx-mail-1::before {
  content: $ngx-mail-1;
}

.ngx-icon.ngx-mail::before {
  content: $ngx-mail;
}

.ngx-icon.ngx-map::before {
  content: $ngx-map;
}

.ngx-icon.ngx-menu::before {
  content: $ngx-menu;
}

.ngx-icon.ngx-mic::before {
  content: $ngx-mic;
}

.ngx-icon.ngx-minus::before {
  content: $ngx-minus;
}

.ngx-icon.ngx-money::before {
  content: $ngx-money;
}

.ngx-icon.ngx-mouse-hold::before {
  content: $ngx-mouse-hold;
}

.ngx-icon.ngx-multi-line::before {
  content: $ngx-multi-line;
}

.ngx-icon.ngx-new-app::before {
  content: $ngx-new-app;
}

.ngx-icon.ngx-notation-arrow-up::before {
  content: $ngx-notation-arrow-up;
}

.ngx-icon.ngx-numbered-list::before {
  content: $ngx-numbered-list;
}

.ngx-icon.ngx-open::before {
  content: $ngx-open;
}

.ngx-icon.ngx-paragraph::before {
  content: $ngx-paragraph;
}

.ngx-icon.ngx-pause::before {
  content: $ngx-pause;
}

.ngx-icon.ngx-phone::before {
  content: $ngx-phone;
}

.ngx-icon.ngx-pie-chart::before {
  content: $ngx-pie-chart;
}

.ngx-icon.ngx-pin::before {
  content: $ngx-pin;
}

.ngx-icon.ngx-plane::before {
  content: $ngx-plane;
}

.ngx-icon.ngx-play::before {
  content: $ngx-play;
}

.ngx-icon.ngx-plus-bold::before {
  content: $ngx-plus-bold;
}

.ngx-icon.ngx-plus::before {
  content: $ngx-plus;
}

.ngx-icon.ngx-prev::before {
  content: $ngx-prev;
}

.ngx-icon.ngx-printer::before {
  content: $ngx-printer;
}

.ngx-icon.ngx-profile-filled::before {
  content: $ngx-profile-filled;
}

.ngx-icon.ngx-profile::before {
  content: $ngx-profile;
}

.ngx-icon.ngx-question-filled-sm::before {
  content: $ngx-question-filled-sm;
}

.ngx-icon.ngx-question-filled::before {
  content: $ngx-question-filled;
}

.ngx-icon.ngx-question::before {
  content: $ngx-question;
}

.ngx-icon.ngx-radio-button::before {
  content: $ngx-radio-button;
}

.ngx-icon.ngx-reference-grid::before {
  content: $ngx-reference-grid;
}

.ngx-icon.ngx-reference-multi::before {
  content: $ngx-reference-multi;
}

.ngx-icon.ngx-reference-single::before {
  content: $ngx-reference-single;
}

.ngx-icon.ngx-reference-tree::before {
  content: $ngx-reference-tree;
}

.ngx-icon.ngx-reference::before {
  content: $ngx-reference;
}

.ngx-icon.ngx-refresh-circle::before {
  content: $ngx-refresh-circle;
}

.ngx-icon.ngx-refresh::before {
  content: $ngx-refresh;
}

.ngx-icon.ngx-remove-edge::before {
  content: $ngx-remove-edge;
}

.ngx-icon.ngx-remove-node::before {
  content: $ngx-remove-node;
}

.ngx-icon.ngx-remove-users::before {
  content: $ngx-remove-users;
}

.ngx-icon.ngx-repeat::before {
  content: $ngx-repeat;
}

.ngx-icon.ngx-reports::before {
  content: $ngx-reports;
}

.ngx-icon.ngx-resize::before {
  content: $ngx-resize;
}

.ngx-icon.ngx-right-align::before {
  content: $ngx-right-align;
}

.ngx-icon.ngx-rocket::before {
  content: $ngx-rocket;
}

.ngx-icon.ngx-rotate::before {
  content: $ngx-rotate;
}

.ngx-icon.ngx-save::before {
  content: $ngx-save;
}

.ngx-icon.ngx-screen-1::before {
  content: $ngx-screen-1;
}

.ngx-icon.ngx-screen::before {
  content: $ngx-screen;
}

.ngx-icon.ngx-search::before {
  content: $ngx-search;
}

.ngx-icon.ngx-section::before {
  content: $ngx-section;
}

.ngx-icon.ngx-select-all::before {
  content: $ngx-select-all;
}

.ngx-icon.ngx-select-user::before {
  content: $ngx-select-user;
}

.ngx-icon.ngx-select-users::before {
  content: $ngx-select-users;
}

.ngx-icon.ngx-server::before {
  content: $ngx-server;
}

.ngx-icon.ngx-shield::before {
  content: $ngx-shield;
}

.ngx-icon.ngx-shrink::before {
  content: $ngx-shrink;
}

.ngx-icon.ngx-skip::before {
  content: $ngx-skip;
}

.ngx-icon.ngx-slide-left::before {
  content: $ngx-slide-left;
}

.ngx-icon.ngx-slide-right::before {
  content: $ngx-slide-right;
}

.ngx-icon.ngx-smartphone::before {
  content: $ngx-smartphone;
}

.ngx-icon.ngx-smiley-frown::before {
  content: $ngx-smiley-frown;
}

.ngx-icon.ngx-snapshot::before {
  content: $ngx-snapshot;
}

.ngx-icon.ngx-split-handle::before {
  content: $ngx-split-handle;
}

.ngx-icon.ngx-square-filled::before {
  content: $ngx-square-filled;
}

.ngx-icon.ngx-square::before {
  content: $ngx-square;
}

.ngx-icon.ngx-star-filled::before {
  content: $ngx-star-filled;
}

.ngx-icon.ngx-star::before {
  content: $ngx-star;
}

.ngx-icon.ngx-stars::before {
  content: $ngx-stars;
}

.ngx-icon.ngx-stopwatch::before {
  content: $ngx-stopwatch;
}

.ngx-icon.ngx-superscript::before {
  content: $ngx-superscript;
}

.ngx-icon.ngx-switch::before {
  content: $ngx-switch;
}

.ngx-icon.ngx-system-diagnostics-2::before {
  content: $ngx-system-diagnostics-2;
}

.ngx-icon.ngx-system-diagnostics::before {
  content: $ngx-system-diagnostics;
}

.ngx-icon.ngx-table::before {
  content: $ngx-table;
}

.ngx-icon.ngx-tabs::before {
  content: $ngx-tabs;
}

.ngx-icon.ngx-tracking-id::before {
  content: $ngx-tracking-id;
}

.ngx-icon.ngx-transfer::before {
  content: $ngx-transfer;
}

.ngx-icon.ngx-trash::before {
  content: $ngx-trash;
}

.ngx-icon.ngx-tree-collapse::before {
  content: $ngx-tree-collapse;
}

.ngx-icon.ngx-tree-expand::before {
  content: $ngx-tree-expand;
}

.ngx-icon.ngx-tree::before {
  content: $ngx-tree;
}

.ngx-icon.ngx-trending::before {
  content: $ngx-trending;
}

.ngx-icon.ngx-underline::before {
  content: $ngx-underline;
}

.ngx-icon.ngx-user-add::before {
  content: $ngx-user-add;
}

.ngx-icon.ngx-user-circle::before {
  content: $ngx-user-circle;
}

.ngx-icon.ngx-user-groups::before {
  content: $ngx-user-groups;
}

.ngx-icon.ngx-user::before {
  content: $ngx-user;
}

.ngx-icon.ngx-users::before {
  content: $ngx-users;
}

.ngx-icon.ngx-vert-bar-graph-grouped::before {
  content: $ngx-vert-bar-graph-grouped;
}

.ngx-icon.ngx-vert-full-stack-bar::before {
  content: $ngx-vert-full-stack-bar;
}

.ngx-icon.ngx-wand::before {
  content: $ngx-wand;
}

.ngx-icon.ngx-warning-filled-sm::before {
  content: $ngx-warning-filled-sm;
}

.ngx-icon.ngx-warning-filled::before {
  content: $ngx-warning-filled;
}

.ngx-icon.ngx-warning-thin::before {
  content: $ngx-warning-thin;
}

.ngx-icon.ngx-web-api::before {
  content: $ngx-web-api;
}

.ngx-icon.ngx-widget::before {
  content: $ngx-widget;
}

.ngx-icon.ngx-worker::before {
  content: $ngx-worker;
}

.ngx-icon.ngx-workflow::before {
  content: $ngx-workflow;
}

.ngx-icon.ngx-workspaces::before {
  content: $ngx-workspaces;
}

.ngx-icon.ngx-workstation::before {
  content: $ngx-workstation;
}

.ngx-icon.ngx-wrench::before {
  content: $ngx-wrench;
}

.ngx-icon.ngx-x-filled::before {
  content: $ngx-x-filled;
}

.ngx-icon.ngx-x::before {
  content: $ngx-x;
}
