/**
 * Colors
 */
/**
 * Gradients
 */
.gradient-blue {
  background-image: linear-gradient(to top right, #6bd1f9 0%, #54a4fb 100%); }

.gradient-blue-green {
  background-image: linear-gradient(to top right, #69d1f8 0%, #59e6c8 100%); }

.gradient-blue-red {
  background-image: linear-gradient(to top right, #50a1f9 0%, #f96f50 100%); }

.gradient-blue-purple {
  background-image: linear-gradient(to top right, #73bef4 0%, #aa90ed 100%); }

.gradient-red-orange {
  background-image: linear-gradient(to top right, #fc7c5f 0%, #fcbc5a 100%); }

.gradient-orange-purple {
  background-image: linear-gradient(to top right, #f5cc98 0%, #ae94ec 100%); }

/**
 * Gradient Backgrounds
 */
.bg-linear-1 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%); }

.bg-linear-2 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%); }

.bg-radial-1 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #1e283e 0%, #1b1e27 100%); }

.bg-radial-2 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #212736 0%, #1b1f29 100%); }

/**
 * Shadow Presets
 * Concept from: https://github.com/angular/material/blob/master/src/core/style/variables.css
 */
.shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.shadow-2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

.shadow-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }

.shadow-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.shadow-5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }

.shadow-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.shadow-7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12); }

.shadow-8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.shadow-9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12); }

.shadow-10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.shadow-11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12); }

.shadow-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }

.shadow-13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }

.shadow-14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12); }

.shadow-15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12); }

.shadow-16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12); }

.shadow-17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12); }

.shadow-18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12); }

.shadow-19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12); }

.shadow-20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.shadow-21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12); }

.shadow-22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12); }

.shadow-23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12); }

.shadow-24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }

.shadow-fx {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow-fx:hover {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

/**
 * Button styling
 */
button {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;
  background: transparent;
  border: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.07); }
  button:active, button:focus {
    outline: none; }

.btn {
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  padding: 0.30em 0.55em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;
  font-size: .9em;
  font-weight: bold;
  outline: none;
  background: #455066;
  border: solid 1px transparent;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: background-color 200ms, box-shadow 200ms; }
  .btn .icon {
    font-size: 1em;
    font-weight: inherit;
    vertical-align: text-bottom;
    line-height: 100%; }
    .btn .icon:before {
      font-weight: inherit; }
    .btn .icon.has-text, .btn .icon.has-text-right {
      margin-right: 5px; }
    .btn .icon.has-text-left {
      margin-left: 5px; }
  .btn::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .btn:focus {
    outline: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .btn:active:hover:focus:not([disabled]), .btn:active:hover:focus:not(.disabled) {
    cursor: pointer;
    background: #313847; }
    .btn:active:hover:focus:not([disabled]).btn-primary, .btn:active:hover:focus:not(.disabled).btn-primary {
      background-color: #1483ff; }
    .btn:active:hover:focus:not([disabled]).btn-warning, .btn:active:hover:focus:not(.disabled).btn-warning {
      background-color: #ffa814; }
    .btn:active:hover:focus:not([disabled]).btn-danger, .btn:active:hover:focus:not(.disabled).btn-danger {
      background-color: #ff4514; }
    .btn:active:hover:focus:not([disabled]).btn-link, .btn:active:hover:focus:not(.disabled).btn-link {
      background-color: transparent; }
    .btn:active:hover:focus:not([disabled]).btn-bordered, .btn:active:hover:focus:not(.disabled).btn-bordered {
      border-color: #94c6ff;
      color: #94c6ff; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn.btn-primary {
    background-color: #479eff; }
  .btn.btn-warning {
    background-color: #ffbb47; }
  .btn.btn-danger {
    background-color: #ff6d47; }
  .btn.btn-link {
    background-color: transparent;
    box-shadow: none; }
  .btn.btn-bordered, .btn.btn-primary.btn-bordered {
    border: 1px solid #479eff !important;
    color: #479eff !important;
    background-color: transparent !important;
    box-shadow: none; }
    .btn.btn-bordered.disabled-button, .btn.btn-primary.btn-bordered.disabled-button {
      opacity: 0.5; }
      .btn.btn-bordered.disabled-button .button, .btn.btn-primary.btn-bordered.disabled-button .button {
        opacity: 1; }
  .btn.btn-default.btn-bordered {
    border: 1px solid #FFF !important;
    color: #FFF !important;
    background-color: transparent !important;
    box-shadow: none; }
    .btn.btn-default.btn-bordered:hover {
      border-color: #1483ff !important;
      color: #1483ff !important; }
    .btn.btn-default.btn-bordered.disabled-button {
      opacity: 0.5; }
      .btn.btn-default.btn-bordered.disabled-button .button {
        opacity: 1; }
  .btn.btn-file {
    cursor: pointer;
    padding: 0; }
    .btn.btn-file label {
      display: block;
      cursor: pointer;
      padding: 0.35em 0.75em; }
    .btn.btn-file[disabled] label {
      cursor: not-allowed; }
    .btn.btn-file input[type=file] {
      pointer-events: none;
      position: absolute;
      left: -9999px; }

/**
 * File upload button
 *
 * Styles loosely based on:
 * - http://codepen.io/balapa/pen/VYVedm
 * - http://codepen.io/prasanjit/pen/NxjZMO
 *
 */
.ngx-file-button {
  display: inline-block;
  box-sizing: border-box;
  position: relative; }
  .ngx-file-button .ngx-file-button-input {
    position: absolute;
    left: -9999px; }
  .ngx-file-button.standard-style .icon-check {
    display: none; }
  .ngx-file-button.standard-style .ngx-file-button-text {
    font-size: .9rem;
    margin-left: 8px;
    color: #696969; }
  .ngx-file-button.progress-style {
    min-width: 150px;
    text-align: center;
    transition: .3s all ease .3s;
    max-height: 50px;
    overflow: hidden; }
    .ngx-file-button.progress-style .ngx-file-button-button {
      width: 100%;
      background: #455066;
      border: none;
      border-radius: 50px;
      padding: 5px 0;
      transition: .3s all ease;
      position: relative;
      margin: 0; }
      .ngx-file-button.progress-style .ngx-file-button-button:hover:not([disabled]), .ngx-file-button.progress-style .ngx-file-button-button:focus:not([disabled]), .ngx-file-button.progress-style .ngx-file-button-button:hover:not('.disabled'), .ngx-file-button.progress-style .ngx-file-button-button:focus:not('.disabled') {
        background: #313847; }
      .ngx-file-button.progress-style .ngx-file-button-button .ngx-file-button-label {
        color: #cfcfcf;
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        max-height: 40px;
        transition: .3s all ease;
        cursor: pointer;
        display: block; }
      .ngx-file-button.progress-style .ngx-file-button-button[disabled] .ngx-file-button-label, .ngx-file-button.progress-style .ngx-file-button-button.disabled .ngx-file-button-label {
        cursor: not-allowed; }
      .ngx-file-button.progress-style .ngx-file-button-button .ngx-file-button-text {
        display: none; }
    .ngx-file-button.progress-style .ngx-file-button-fill {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0%;
      background: #479eff;
      border-radius: 50px;
      display: none; }
    .ngx-file-button.progress-style .icon-check {
      font-size: 25px;
      color: #cfcfcf;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 50px;
      transform: scale(0); }
    .ngx-file-button.progress-style.active {
      padding: 0; }
      .ngx-file-button.progress-style.active .ngx-file-button-button {
        background: #696969;
        margin-top: 25px; }
      .ngx-file-button.progress-style.active .ngx-file-button-fill {
        display: block;
        margin-top: 25px;
        transition: 100ms all ease 100ms; }
      .ngx-file-button.progress-style.active .ngx-file-button-label {
        display: none; }
    .ngx-file-button.progress-style.success .ngx-file-button-button {
      margin: 0;
      padding: 25px;
      width: 50px;
      background: #479eff; }
    .ngx-file-button.progress-style.success .ngx-file-button-fill,
    .ngx-file-button.progress-style.success .ngx-file-button-label {
      display: none; }
    .ngx-file-button.progress-style.success .icon-check {
      transform: scale(1);
      transition: .3s all ease .3s; }
