<h3 class="style-header">JSON Editor</h3>
<ngx-section class="shadow" [sectionTitle]="'JSON Editor'">
  <ngx-tabs>
    <ngx-tab label="Editor">
      <ngx-json-editor-v2 [(model)]="jsonEditorModel" [schema]="jsonEditorSchema" label="Model"
        [typeCheckOverrides]="typeOverrides">
      </ngx-json-editor-v2>
      <ngx-json-editor [(model)]="jsonEditorModel" [schema]="jsonEditorSchema" label="Model"
        [typeCheckOverrides]="typeOverrides">
      </ngx-json-editor>
      <hr />
      <h3>Model</h3>
      <pre>{{ jsonEditorModel | json }}</pre>
    </ngx-tab>
    <ngx-tab label="Schema">
      <ngx-button class="btn btn-primary" (click)="updateJsonEditorSchema(_jsonEditorSchema)">Update Schema</ngx-button>
      <ngx-codemirror mode="javascript" [ngModel]="jsonEditorSchema | json"
        (ngModelChange)="_jsonEditorSchema = $event"></ngx-codemirror>
    </ngx-tab>
  </ngx-tabs>

  <ngx-tabs>
    <ngx-tab label="Markup">
      <ngx-codemirror mode="htmlmixed" readOnly="true">
        <![CDATA[ 
        <ngx-json-editor [(model)]="jsonEditorModel" [schema]="jsonEditorSchema" label="Model"
        [typeCheckOverrides]="typeOverrides"> </ngx-json-editor> ]]>
      </ngx-codemirror>
    </ngx-tab>
    <ngx-tab label="Typescript">
      <ngx-codemirror mode="javascript" readOnly="true">
        <![CDATA[ 
        typeOverrides: any = {
          'string=code': (value: any) => {
            if (typeof value !== 'string') {
              return false;
            }
            const regex = new RegExp(/^<<(.*)>>$/, 's');
            return regex.test(value);
          }
        }; 
        ]]>
      </ngx-codemirror>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>