<h3 class="style-header">JSON Editor</h3>

<ngx-section class="shadow" [sectionTitle]="'JSON Editor'">
  <ngx-tabs>
    <ngx-tab label="Editor">
      <ngx-json-editor
        [(model)]="jsonEditorModel"
        [schema]="jsonEditorSchema"
        label="Model"
        [typeCheckOverrides]="typeOverrides"
        [additionalFormats]="formats"
        [additionalKeywords]="keywords"
      >
      </ngx-json-editor>

      <hr />
      <h3>Model</h3>
      <pre>{{ jsonEditorModel | json }}</pre>
    </ngx-tab>
    <ngx-tab label="Schema">
      <ngx-button class="btn btn-primary" (click)="updateJsonEditorSchema(_jsonEditorSchema)">Update Schema</ngx-button>
      <ngx-codemirror
        mode="javascript"
        [ngModel]="jsonEditorSchema | json"
        (ngModelChange)="_jsonEditorSchema = $event"
      ></ngx-codemirror>
    </ngx-tab>
  </ngx-tabs>

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism language="html">
        <![CDATA[<ngx-json-editor [(model)]="jsonEditorModel" [schema]="jsonEditorSchema" label="Model"
        [typeCheckOverrides]="typeOverrides" > </ngx-json-editor>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="Typescript">
      <app-prism language="js">
        <![CDATA[typeOverrides: any = { 'string=code': (value: any) => { if (typeof value !== 'string') { return false;
        } const regex = new RegExp(/^<<(.*)>>$/, 's'); return regex.test(value); } };]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'ngx-json-editor-flat'">
  <ngx-toggle [(ngModel)]="hideRoot" label="Hide Root"> </ngx-toggle>

  <ngx-toggle [(ngModel)]="showKnownProperties" label="Show Known Object Properties"> </ngx-toggle>

  <ngx-toggle [(ngModel)]="passwordToggleEnabled" label="Enable Password Toggle"> </ngx-toggle>

  <ngx-json-editor-flat
    [(model)]="jsonEditorModelFlat"
    [schema]="jsonEditorSchema"
    label="Model"
    [typeCheckOverrides]="typeOverrides"
    [hideRoot]="hideRoot"
    [showKnownProperties]="showKnownProperties"
    [passwordToggleEnabled]="passwordToggleEnabled"
    (schemaUpdate)="modelschemaUpdate($event)"
  >
  </ngx-json-editor-flat>

  <hr />
  <h3>Model</h3>
  <pre>{{ jsonEditorModelFlat | json }}</pre>
  <h3>Schema</h3>
  <pre>{{ modelSchemaRef | json }}</pre>

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism language="html">
        <![CDATA[<ngx-json-editor-flat [(model)]="jsonEditorModelFlat" [schema]="jsonEditorSchema" label="Model"
        [typeCheckOverrides]="typeOverrides" [hideRoot]="hideRoot" [showKnownProperties]="showKnownProperties"
        [passwordToggleEnabled]="showKnownProperties" (schemaUpdate)="modelschemaUpdate($event)">
        </ngx-json-editor-flat>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="Typescript">
      <app-prism language="js">
        <![CDATA[typeOverrides: any = { 'string=code': (value: any) => { if (typeof value !== 'string') { return false;
        } const regex = new RegExp(/^<<(.*)>>$/, 's'); return regex.test(value); } };]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'ngx-json-editor-flat with custom template for input control'">
  <section>
    This component exposes the below variables to the template:
    <ul>
      <li><b>nodeModel: </b>the model of the current node</li>
      <li><b>nodeSchema: </b>the schema of the current node</li>
      <li><b>nodeContext: </b>an object of JSONEditorTemplateProperty type that has some information about the current node</li>
      <li><b>nodePath: </b>the path of the current node (the root property does not have path)</li>
      <li><b>nodeChangeValue$: </b>subject that is used to update the model of the current node</li>
      <li><b>nodeExpandTrigger$: </b>subject that is used to collapse/expand the current node</li>
    </ul>
  </section>
  <ngx-json-editor-flat
    [(model)]="jsonEditorFlatWithTemplateModel"
    [schema]="schemaWithTemplate"
    label="Model"
    [hideRoot]="hideRoot"
    [showKnownProperties]="showKnownProperties"
    [passwordToggleEnabled]="true"
    [inputControlTemplate]="myInputControl"
    [enableSchemaValidation]="false"
    (schemaUpdate)="schemaWithTemplate = $event"
  >
  </ngx-json-editor-flat>

  <ng-template #myInputControl let-nodeModel="nodeModel" let-nodeSchema="nodeSchema" let-nodePath="nodePath" let-nodeExpandTrigger$="nodeExpandTrigger$" let-nodeChangeValue$="nodeChangeValue$" let-nodeContext="nodeContext">
    <div class="myInputControlNodeContainer">
      <ngx-tabs>
        <ngx-tab label="Value">
          <ng-container [ngSwitch]="nodeContext.keyFieldType">
            <input type="number" *ngSwitchCase="'integer'" [ngModel]="nodeModel" (ngModelChange)="nodeChangeValue$.next($event)"/>
            <input type="text" *ngSwitchCase="'string'" [ngModel]="nodeModel" (ngModelChange)="nodeChangeValue$.next($event)"/>
            <ngx-button *ngSwitchCase="'object'" class="btn btn-primary" (click)="expanded = !expanded; nodeExpandTrigger$.next(expanded)">{{ expanded ? 'Collapse' : 'Expand' }} me!</ngx-button>
          </ng-container>
        </ngx-tab>
        <ngx-tab label="NodeModel">
          <div class="myInputControlNodeContainer__scrollable">
            {{ nodeModel | json }}
          </div>
        </ngx-tab>
        <ngx-tab label="NodeSchema">
          <div class="myInputControlNodeContainer__scrollable">
            {{ nodeSchema | json }}
          </div>
        </ngx-tab>
        <ngx-tab label="NodeContext">
          {{ nodeContext | json }}
        </ngx-tab>
        <ngx-tab label="NodePath">
          {{ nodePath }}
        </ngx-tab>
      </ngx-tabs>
    </div>
    
  </ng-template>

  <hr />
  <h3>Model</h3>
  <pre>{{ jsonEditorFlatWithTemplateModel | json }}</pre>
  <h3>Schema</h3>
  <pre>{{ schemaWithTemplate | json }}</pre>

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism language="html">
      <![CDATA[<ngx-json-editor-flat
        [(model)]="jsonEditorFlatWithTemplateModel"
        [schema]="schemaWithTemplate"
        label="Model"
        [hideRoot]="hideRoot"
        [showKnownProperties]="showKnownProperties"
        [passwordToggleEnabled]="true"
        [inputControlTemplate]="myInputControl"
        [enableSchemaValidation]="false"
        (schemaUpdate)="schemaWithTemplate = $event"
      >
      </ngx-json-editor-flat>
      <ng-template #myInputControl let-nodeModel="nodeModel" let-nodeSchema="nodeSchema" let-nodePath="nodePath" let-nodeExpandTrigger$="nodeExpandTrigger$" let-nodeChangeValue$="nodeChangeValue$" let-nodeContext="nodeContext">
        <div class="myInputControlNodeContainer">
          <ngx-tabs>
            <ngx-tab label="Value">
              <ng-container [ngSwitch]="nodeContext.keyFieldType">
                <input type="number" *ngSwitchCase="'integer'" [ngModel]="nodeModel" (ngModelChange)="nodeChangeValue$.next($event)"/>
                <input type="text" *ngSwitchCase="'string'" [ngModel]="nodeModel" (ngModelChange)="nodeChangeValue$.next($event)"/>
                <ngx-button *ngSwitchCase="'object'" class="btn btn-primary" (click)="expanded = !expanded; nodeExpandTrigger$.next(expanded)">{{ expanded ? 'Collapse' : 'Expand' }} me!</ngx-button>
              </ng-container>
            </ngx-tab>
            <ngx-tab label="NodeModel">
              <div class="myInputControlNodeContainer__scrollable">
              </div>
            </ngx-tab>
            <ngx-tab label="NodeSchema">
              <div class="myInputControlNodeContainer__scrollable">
              </div>
            </ngx-tab>
            <ngx-tab label="NodeContext">
            </ngx-tab>
            <ngx-tab label="NodePath">
            </ngx-tab>
          </ngx-tabs>
        </div>
        
      </ng-template>
      ]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Schema Builder Mode'">
  <ngx-json-editor-flat
    [(model)]="jsonEditorSchemaBuilderModel"
    [schema]="{}"
    label="Schema"
    [hideRoot]="true"
    [typeCheckOverrides]="typeOverrides"
    [schemaBuilderMode]="true"
    [formats]="customFormats"
    (schemaUpdate)="schemaUpdate($event)"
  >
  </ngx-json-editor-flat>
  <hr />
  <h3>Schema</h3>
  <pre>{{ schemaRef | json }}</pre>

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism language="html">
        <![CDATA[<ngx-json-editor-flat [(model)]="jsonEditorSchemaBuilderModel" [schema]="{}" label="Schema"
        [typeCheckOverrides]="typeOverrides" [schemaBuilderMode]="true" [formats]="customFormats"
        (schemaUpdate)="schemaUpdate($event)"> </ngx-json-editor-flat>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="Typescript">
      <app-prism language="js">
        <![CDATA[typeOverrides: any = { 'string=code': (value: any) => { if (typeof value !== 'string') { return false;
        } const regex = new RegExp(/^<<(.*)>>$/, 's'); return regex.test(value); } };]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>
