@import "colors/index";
@import "forms/inputs";

$input-hint-color: $color-blue-grey-300;
$input-invalid-color: $color-red;
$input-active-underline-fill: $color-blue;
$input-inactive-underline-fill: $color-blue-grey-500;
$input-icon-color: $color-grey-300;
$input-placeholder-color: $color-blue-grey-450;

.ngx-input {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-top: calc(0.7em + 8px);
  padding-bottom: 0;
  
  // override chrome autofill styles
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $color-grey-100 !important;
  }

  .ngx-input-flex-wrap {
    flex-direction: row;
    display: flex;

    .ngx-input-flex-wrap-inner {
      display: flex;
      flex: 1;
    }

    ngx-input-suffix,
    ngx-input-prefix {
      flex: none;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;

      > * {
        display: inline-fflex;
      }
    }
  }

  ngx-input-prefix {
    margin-right: 8px;
  }

  ngx-input-suffix {
    margin-left: 8px;
  }

  .ngx-input-wrap {
    position: relative;
    display: block;
    margin-bottom: 0;
    width: 100%;

    .ngx-input-box-wrap {
      position: relative;
      width: 100%;

      &:focus {
        outline: none;
      }

      .ngx-input-box,
      .ngx-input-textarea {
        flex: auto;
        background: transparent;
        border: none;
        margin-bottom: 0px;
        padding-left: 0px;
        width: 100%;
        color: $color-blue-grey-100;
        font-size: 1em;
        min-height: 0px;
        font-family: inherit;

        &::placeholder {
          color: $input-placeholder-color;
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }

        &[disabled] {
          color: $color-blue-grey-400;
          user-select: none;
        }
      }

      .ngx-input-box {
        margin: 3px 0;
      }

      .ngx-input-textarea {
        resize: none;
      }

      .icon-eye {
        line-height: 25px;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: .8rem;
        color: $input-icon-color;
        transition: color 100ms;

        &:hover {
          color: $color-grey-200;
        }
      }
    }

    .ngx-input-label {
      pointer-events: none;
      position: absolute;
      font-size: 16px;
    }

    .ngx-input-underline {
      width: 100%;
      height: 1px;
      background-color: $input-inactive-underline-fill;

      .underline-fill {
        background-color: $input-active-underline-fill;
        width: 100%;
        height: 2px;
        margin: 0 auto;
      }
    }

    .ngx-input-hint {
      font-size: 12px;
      color: $input-hint-color;
      margin-top: 2px;
      min-height: 1em;
    }

    &.ng-invalid.ng-touched {
      .ngx-input-underline {
        background-color: $input-invalid-color;
      }

      .ngx-input-label {
        color: $input-invalid-color;
      }
    }
  }
}
