<div class="hotkeys-container" *ngIf="hotkeys.length > 0">
  <div class="hotkeys" *ngIf="showHotkeys">
    <div *ngFor="let hotkey of hotkeys" class="hotkey-row">
        {{hotkey.description}}
        
        <div class="combination">
          <span *ngFor="let key of hotkey.combination; let i = index">
            <span class="key">{{key}}</span>
            <span *ngIf="i < hotkey.combination.length - 1"> + </span>
          </span>
        </div>      
    </div>
  </div>
  <span class="close-icon icon icon-x-filled" *ngIf="showHotkeys" (click)="hide()" ></span>
  <span class="hotkeys-icon icon icon-keyboard" *ngIf="!showHotkeys" (click)="show()" ></span>
</div>