/**
 * Colors
 */
/**
 * Gradient Backgrounds
 */
.bg-linear-1 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%); }

.bg-linear-2 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%); }

.bg-radial-1 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #1e283e 0%, #1b1e27 100%); }

.bg-radial-2 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #212736 0%, #1b1f29 100%); }

.gradient-blue {
  background-image: linear-gradient(to top right, #6bd1f9 0%, #54a4fb 100%); }

.gradient-blue-green {
  background-image: linear-gradient(to top right, #69d1f8 0%, #59e6c8 100%); }

.gradient-blue-red {
  background-image: linear-gradient(to top right, #50a1f9 0%, #f96f50 100%); }

.gradient-blue-purple {
  background-image: linear-gradient(to top right, #73bef4 0%, #aa90ed 100%); }

.gradient-red-orange {
  background-image: linear-gradient(to top right, #fc7c5f 0%, #fcbc5a 100%); }

.gradient-orange-purple {
  background-image: linear-gradient(to top right, #f5cc98 0%, #ae94ec 100%); }

/**
 * Gradients
 */
.gradient-blues {
  background-image: linear-gradient(#006ae0 0%, #04a6e6 100%); }

.gradient-swimlane {
  background-image: linear-gradient(#02AAFF 0%, #00FFF4 100%); }

.gradient-green-aqua {
  background-image: linear-gradient(#1ddeb6 0%, #01CADF 100%); }

.gradient-greens {
  background-image: linear-gradient(#1DDE73 0%, #1ddeb6 100%); }

.gradient-golds {
  background-image: linear-gradient(#ffa814 0%, #FFE347 100%); }

.gradient-oranges {
  background-image: linear-gradient(#FF6903 0%, #ffa814 100%); }

.gradient-magentas {
  background-image: linear-gradient(#AB00E2 0%, #E200B6 100%); }

.gradient-blues-90deg {
  background-image: linear-gradient(90deg, #006ae0 0%, #04a6e6 100%); }

.gradient-swimlane-90deg {
  background-image: linear-gradient(90deg, #02AAFF 0%, #00FFF4 100%); }

.gradient-green-aqua-90deg {
  background-image: linear-gradient(90deg, #1ddeb6 0%, #01CADF 100%); }

.gradient-greens-90deg {
  background-image: linear-gradient(90deg, #1DDE73 0%, #1ddeb6 100%); }

.gradient-golds-90deg {
  background-image: linear-gradient(90deg, #ffa814 0%, #FFE347 100%); }

.gradient-oranges-90deg {
  background-image: linear-gradient(90deg, #FF6903 0%, #ffa814 100%); }

.gradient-magentas-90deg {
  background-image: linear-gradient(90deg, #AB00E2 0%, #E200B6 100%); }

/**
 * Shadow Presets
 * Concept from: https://github.com/angular/material/blob/master/src/core/style/variables.css
 */
.shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.shadow-2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

.shadow-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }

.shadow-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.shadow-5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }

.shadow-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.shadow-7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12); }

.shadow-8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.shadow-9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12); }

.shadow-10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.shadow-11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12); }

.shadow-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }

.shadow-13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }

.shadow-14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12); }

.shadow-15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12); }

.shadow-16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12); }

.shadow-17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12); }

.shadow-18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12); }

.shadow-19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12); }

.shadow-20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.shadow-21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12); }

.shadow-22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12); }

.shadow-23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12); }

.shadow-24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }

.shadow-fx {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow-fx:hover {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

/**
 * Form Element Inputs
 */
input[type=number],
input[type=tel],
input[type=text],
input[type=password],
textarea {
  display: inline-block;
  box-sizing: border-box;
  outline: none; }

.form-input {
  background: #313847;
  border: solid 1px #455066;
  color: #b6b6b6;
  transition: box-shadow 200ms;
  border-radius: 0;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  width: 100%;
  padding: 6px;
  margin-bottom: 1em; }
  .form-input::placeholder {
    color: #647493; }
  .form-input:focus {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
  .form-input[disabled] {
    cursor: not-allowed;
    color: #909cb4; }

textarea.form-input {
  min-height: 120px;
  line-height: 1.3em; }

.ngx-input {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-top: calc(0.7em + 8px);
  padding-bottom: 0; }
  .ngx-input input:-webkit-autofill,
  .ngx-input input:-webkit-autofill:hover,
  .ngx-input input:-webkit-autofill:focus,
  .ngx-input input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #cfcfcf !important; }
  .ngx-input .ngx-input-flex-wrap {
    flex-direction: row;
    display: flex; }
    .ngx-input .ngx-input-flex-wrap .ngx-input-flex-wrap-inner {
      display: flex;
      flex: 1; }
    .ngx-input .ngx-input-flex-wrap ngx-input-suffix,
    .ngx-input .ngx-input-flex-wrap ngx-input-prefix {
      flex: none;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center; }
      .ngx-input .ngx-input-flex-wrap ngx-input-suffix > *,
      .ngx-input .ngx-input-flex-wrap ngx-input-prefix > * {
        display: inline-fflex; }
  .ngx-input ngx-input-prefix {
    margin-right: 8px; }
  .ngx-input ngx-input-suffix {
    margin-left: 8px; }
  .ngx-input .ngx-input-wrap {
    position: relative;
    display: block;
    margin-bottom: 0;
    width: 100%; }
    .ngx-input .ngx-input-wrap .ngx-input-box-wrap {
      position: relative;
      width: 100%; }
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap:focus {
        outline: none; }
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box,
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea {
        flex: auto;
        background: transparent;
        border: none;
        margin-bottom: 0px;
        padding-left: 0px;
        width: 100%;
        color: #cdd2dd;
        font-size: 1em;
        min-height: 0px;
        font-family: inherit; }
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box::placeholder,
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea::placeholder {
          color: #647493; }
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box:focus,
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea:focus {
          box-shadow: none;
          outline: none; }
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box[disabled],
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea[disabled] {
          user-select: none; }
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box[disabled]::placeholder, .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box:disabled::placeholder, .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box.disabled::placeholder,
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea[disabled]::placeholder,
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea:disabled::placeholder,
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea.disabled::placeholder {
          color: #647493;
          opacity: 1; }
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box {
        margin: 3px 0; }
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap .ngx-input-textarea {
        resize: none; }
      .ngx-input .ngx-input-wrap .ngx-input-box-wrap .icon-eye {
        line-height: 25px;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: .8rem;
        color: #9c9c9c;
        transition: color 100ms; }
        .ngx-input .ngx-input-wrap .ngx-input-box-wrap .icon-eye:hover {
          color: #b6b6b6; }
    .ngx-input .ngx-input-wrap .ngx-input-label {
      pointer-events: none;
      position: absolute;
      font-size: 16px; }
    .ngx-input .ngx-input-wrap .ngx-input-underline {
      width: 100%;
      height: 1px;
      background-color: #5A6884; }
      .ngx-input .ngx-input-wrap .ngx-input-underline .underline-fill {
        background-color: #1483ff;
        width: 100%;
        height: 2px;
        margin: 0 auto; }
    .ngx-input .ngx-input-wrap .ngx-input-hint {
      font-size: 12px;
      color: #909cb4;
      margin-top: 2px;
      min-height: 1em; }
    .ngx-input .ngx-input-wrap.ng-invalid.ng-touched .ngx-input-underline {
      background-color: #ff4514; }
    .ngx-input .ngx-input-wrap.ng-invalid.ng-touched .ngx-input-label {
      color: #ff4514; }
