/**
 * Gradients
 */

.gradient-blue {
  background-image: var(--ngx-ui-gradient-blue);
}

.gradient-blue-green {
  background-image: var(--ngx-ui-gradient-blue-green);
}

.gradient-blue-red {
  background-image: var(--ngx-ui-gradient-blue-red);
}

.gradient-blue-purple {
  background-image: var(--ngx-ui-gradient-blue-purple);
}

.gradient-red-orange {
  background-image: var(--ngx-ui-gradient-red-orange);
}

.gradient-orange-purple {
  background-image: var(--ngx-ui-gradient-orange-purple);
}

/**
 * Gradient Backgrounds
 */

.bg-linear-1 {
  background-image: var(--ngx-ui-bg-linear-1);
}

.bg-linear-2 {
  background-image: var(--ngx-ui-bg-linear-2);
}

.bg-linear-3 {
  background-image: var(--ngx-ui-bg-linear-3);
}

.bg-radial-1 {
  background-image: var(--ngx-ui-bg-radial-1);
}

.bg-radial-2 {
  background-image: var(--ngx-ui-bg-radial-2);
}
