<h3 class="style-header">Pipes</h3>

<ngx-section class="shadow" sectionTitle="DecamelizePipe">
  {{ 'DecamelizePipe' | decamelize }}

  <app-prism language="js">
    <![CDATA[{ { 'DecamelizePipe' | decamelize } }]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="TimeZonePipe">
  {{ date | amTimeZone: 'America/Los_Angeles' }}

  <app-prism language="js">
    <![CDATA[{ { date | amTimeZone: 'America/Los_Angeles' } }]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="FilterPipe">
  <ngx-input type="text" [(ngModel)]="stringFilter"></ngx-input>
  <ul>
    @for (item of array | filterBy: stringFilter; track item) {
      <li>
        {{ item }}
      </li>
    }
  </ul>

  <app-prism>
    <![CDATA[<ngx-input type="text" [(ngModel)]="stringFilter"></ngx-input>
    <ul>
      <li *ngFor="let item of array | filterBy: stringFilter">
        { { item } }
      </li>
    </ul>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="JSONTreePipe">
  <code><pre>{{ jsonObject | jsonTree | json }}</pre></code>

  <app-prism>
    <![CDATA[<code><pre>{ { jsonObject | jsonTree | json } }</pre></code>]]>
  </app-prism>
</ngx-section>
