.appearance-table {
  max-width: 100%;

  tr td {
    height: 170px;
    overflow: auto;
    position: relative;
    vertical-align: top;

    ngx-tooltip-content {
      top: 0;
    }
  }
}

.content {
  cursor: pointer;
  display: block;
  margin-block: 1rem;
}

.content:last-of-type {
  margin-bottom: 2rem;
}

.docs-table {
  th,
  td {
    width: 50%;
  }
}
