@import 'vendor/index';
@import 'colors/variables';
@import 'components/index';

.appearance-table {
  max-width: 100%;

  tr td {
    height: 170px;
    overflow: auto;
    position: relative;
    vertical-align: top;

    ngx-tooltip-content {
      top: 0;
    }
  }
}
