<h3 class="style-header">Colors: Hues</h3>
<div class="flex-container">
  <div *ngFor="let color of ['blue', 'light-blue', 'green', 'orange', 'red', 'purple']">
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li class="color main-color color-{{ color }}-500">$color-{{ color }}</li>
      <li #swatch *ngFor="let weight of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="color color-{{ color }}-{{ weight }}00">
        <span class="hex tag tag-small" [innerHTML]="'$color-' + color + '-' + weight + '00'" dbl-click-copy> </span>
        <span class="hex tag tag-small" [innerHTML]="getBackgroundColor(swatch)" dbl-click-copy> </span>
      </li>
    </ul>
  </div>
</div>

<h3 class="style-header">Colors: Greys</h3>
<div class="flex-container">
  <div *ngFor="let color of ['blue-grey', 'grey']">
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li class="color main-color color-{{ color }}-500">$color-{{ color }}</li>
      <li
        #swatch
        *ngFor="
          let weight of [
            '050',
            100,
            150,
            200,
            250,
            300,
            350,
            400,
            450,
            500,
            550,
            600,
            650,
            700,
            725,
            750,
            775,
            800,
            825,
            850,
            875,
            900
          ]
        "
        class="color color-{{ color }}-{{ weight }}"
      >
        <span class="hex tag tag-small" [innerHTML]="'$color-' + color + '-' + weight" dbl-click-copy> </span>
        <span class="hex tag tag-small" [innerHTML]="getBackgroundColor(swatch)" dbl-click-copy> </span>
      </li>
    </ul>
  </div>
</div>

<h3 class="style-header">Colors: Gradients</h3>
<div class="flex-container">
  <div>
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li
        *ngFor="let gradient of gradients; let i = index"
        style="border-top: solid 1px #fff;"
        class="color main-color {{ gradient }}"
      >
        <span *ngIf="i === 0" class="name u-floatLeft" style="color: white;">Linear</span>
        <br />
        <span class="hex tag tag-small u-floatRight" dbl-click-copy>${{ gradient }}</span>
      </li>
    </ul>
  </div>
  <div>
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li class="color main-color bg-linear-1">
        <span class="name u-floatLeft" style="color: white;">Bg Linear</span>
        <br />
        <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-1</span>
      </li>
      <li style="border-top: solid 1px #fff;" class="color main-color bg-linear-2">
        <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-2</span>
      </li>
    </ul>
  </div>
  <div>
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li class="color main-color bg-radial-1">
        <span class="name u-floatLeft" style="color: white;">Bg Radial</span>
        <br />
        <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-1</span>
      </li>
      <li style="border-top: solid 1px #fff;" class="color main-color bg-radial-2">
        <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-2</span>
      </li>
    </ul>
  </div>
</div>

<h3 class="style-header">Colors: Ordinal Charts</h3>
<div class="flex-container">
  <div *ngFor="let colorGroup of chartColorsOrdinal">
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li
        *ngFor="let color of colorGroup.colors; let idx = index"
        class="color"
        [style.background]="color"
        [ngClass]="{ 'main-color': idx === 0 }"
      >
        <span class="name u-floatLeft" *ngIf="idx === 0"
          >{{ colorGroup.name }}
          <br />
        </span>
        <span class="hex tag tag-small u-floatRight" dbl-click-copy [innerHTML]="color"> </span>
      </li>
    </ul>
  </div>
</div>

<h3 class="style-header">Colors: Sequential Charts</h3>
<div class="flex-container">
  <div *ngFor="let colorGroup of chartColorsSequential">
    <ul class="color-group shadow-2 shadow-fx list-reset">
      <li
        *ngFor="let color of colorGroup.colors; let idx = index"
        class="color"
        [style.background]="color"
        [ngClass]="{ 'main-color': idx === 0 }"
      >
        <span class="name u-floatLeft" *ngIf="idx === 0"
          >{{ colorGroup.name }}
          <br />
        </span>
        <span class="hex tag tag-small u-floatRight" dbl-click-copy [innerHTML]="color"> </span>
      </li>
    </ul>
  </div>
</div>

<h3 class="style-header">Colors: Borders and Glows</h3>
Apply the class to an element to give it a glowing border. Alternatively, you can use the glow mixin in any class:
<ngx-codemirror mode="htmlmixed" readOnly="true">
  <![CDATA[ .my-class { @include glow($color); } ]]>
</ngx-codemirror>
<div class="flex-container-fill">
  <div *ngFor="let color of ['blue', 'light-blue', 'green', 'orange', 'red', 'purple']">
    <div
      *ngFor="let weight of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
      class="glow-demo glow-{{ color }}-{{ weight }}00"
      dbl-click-copy
    >
      .glow-{{ color }}-{{ weight }}00
    </div>
  </div>
</div>

<h3 class="style-header">Colors: Shadows</h3>
<div class="flex-container-fill">
  <div *ngFor="let i of shadows">
    <div class="shadow-demo shadow-{{ i }}" dbl-click-copy>$shadow-{{ i }}</div>
  </div>
  <div class="FlexItem">
    <div class="shadow-demo shadow-10 shadow-fx">
      shadow-fx
    </div>
  </div>
</div>
