.color-group {
  width: 250px;

  .main-color {
    height: 70px;
  }

  .color {
    padding: var(--spacing-16) var(--spacing-10);
  }
}

.shadow-demo {
  height: 120px;
  margin: var(--spacing-16);
  text-align: center;
  line-height: 120px;
}
