<ngx-section class="shadow" sectionTitle="Basic">
  <ng-template #mediumFormatDialog let-context="context">
    <ngx-medium-format-dialog-content 
      dialogTitle="Title"
      (closeOrCancel)="onCloseOrCancel()">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet lobortis nisi non ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus faucibus metus diam, non pulvinar orci maximus sit amet. Maecenas dui felis, tempor sit amet magna quis, ornare fermentum mauris. In quis nibh et erat semper sagittis ut quis risus. Proin malesuada eleifend risus ut mattis. Maecenas scelerisque nibh eu elit sagittis, a egestas leo posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent ornare vulputate semper. Nullam in justo in tortor interdum ultrices nec eget nisl.
        Maecenas vel volutpat ligula. Suspendisse blandit ac felis non tempor. Integer tincidunt lorem nunc, non vulputate nisi bibendum quis. Fusce sapien erat, eleifend sit amet mi vitae, posuere malesuada ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce tempus venenatis eros. Mauris volutpat neque vel elementum dignissim. Nulla facilisi. Cras vulputate arcu et nulla tincidunt, eu efficitur nisi iaculis.
        Nulla euismod sem ut purus fermentum, non venenatis turpis blandit. Donec ut bibendum odio, vel mollis dui. Suspendisse suscipit lacus eu odio egestas tempus in ut quam. Maecenas iaculis tristique vehicula. Aliquam nisl mauris, lobortis et porttitor id, egestas sed nunc. Nulla nec gravida magna. Donec at est sit amet justo tempor semper. Praesent vel sollicitudin dolor, eget tempus nisi. Ut et arcu vitae nunc dignissim fringilla. Proin maximus bibendum egestas. Morbi a velit risus. Suspendisse luctus arcu non tortor fermentum suscipit. Aenean id hendrerit orci.
      </p>
    </ngx-medium-format-dialog-content>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatDialog, format: 'medium', closeOnEscape: true })">
    Open Medium Dialog
  </button>

  <app-prism>
<![CDATA[<ng-template  #mediumFormatDialog>
  <ngx-medium-format-dialog-content dialogSubtitle="Optional Subtitle" (closeOrCancel)="onCloseOrCancel()">
    <p>Lorem ipsum dolor...</p>
  </ngx-medium-format-dialog-content>
</ng-template>

<button type="button" class="btn" (click)="openDialog({ template: largeFormat, format: 'large' })">
  Open Large Dialog
</button>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Basic w/ Footer">
  <p>Large Format Dialog can also have a <strong>Footer</strong> by rendering <code>ngx-large-format-dialog-footer</code> component as its content</p>

  <ng-template  #mediumFormatWithFooter>
    <ngx-medium-format-dialog-content dialogTitle="Title" (closeOrCancel)="onCloseOrCancel()">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet lobortis nisi non ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus faucibus metus diam, non pulvinar orci maximus sit amet. Maecenas dui felis, tempor sit amet magna quis, ornare fermentum mauris. In quis nibh et erat semper sagittis ut quis risus. Proin malesuada eleifend risus ut mattis. Maecenas scelerisque nibh eu elit sagittis, a egestas leo posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent ornare vulputate semper. Nullam in justo in tortor interdum ultrices nec eget nisl.
        Maecenas vel volutpat ligula. Suspendisse blandit ac felis non tempor. Integer tincidunt lorem nunc, non vulputate nisi bibendum quis. Fusce sapien erat, eleifend sit amet mi vitae, posuere malesuada ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce tempus venenatis eros. Mauris volutpat neque vel elementum dignissim. Nulla facilisi. Cras vulputate arcu et nulla tincidunt, eu efficitur nisi iaculis.
        Nulla euismod sem ut purus fermentum, non venenatis turpis blandit. Donec ut bibendum odio, vel mollis dui. Suspendisse suscipit lacus eu odio egestas tempus in ut quam. Maecenas iaculis tristique vehicula. Aliquam nisl mauris, lobortis et porttitor id, egestas sed nunc. Nulla nec gravida magna. Donec at est sit amet justo tempor semper. Praesent vel sollicitudin dolor, eget tempus nisi. Ut et arcu vitae nunc dignissim fringilla. Proin maximus bibendum egestas. Morbi a velit risus. Suspendisse luctus arcu non tortor fermentum suscipit. Aenean id hendrerit orci.
        Donec tempus ac orci at scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras maximus tincidunt arcu ac lobortis. Morbi sit amet interdum justo. Fusce in dignissim massa. Proin vitae libero vel diam mattis convallis eu sit amet erat. Morbi semper ornare dui, ut accumsan diam aliquam vel. Donec tristique mattis mi, hendrerit imperdiet tellus dignissim sed. Vestibulum at felis pellentesque, ornare ex vel, sodales ante.
        Praesent a blandit lectus, a aliquam magna. Mauris placerat auctor nisl elementum pharetra. Phasellus dictum aliquam neque porta molestie. Morbi accumsan eleifend leo sed tempus. Donec fermentum enim nulla, id pharetra neque efficitur eu. Praesent quam lectus, dapibus ac erat non, sagittis vehicula tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae erat id enim posuere tempus. Duis vitae malesuada est. Nam pellentesque ultricies nibh ac pulvinar. Fusce quis ullamcorper ipsum. Ut sed rutrum velit. Vestibulum metus velit, porta sed hendrerit sed, scelerisque ac mi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet lobortis nisi non ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus faucibus metus diam, non pulvinar orci maximus sit amet. Maecenas dui felis, tempor sit amet magna quis, ornare fermentum mauris. In quis nibh et erat semper sagittis ut quis risus. Proin malesuada eleifend risus ut mattis. Maecenas scelerisque nibh eu elit sagittis, a egestas leo posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent ornare vulputate semper. Nullam in justo in tortor interdum ultrices nec eget nisl.
        Maecenas vel volutpat ligula. Suspendisse blandit ac felis non tempor. Integer tincidunt lorem nunc, non vulputate nisi bibendum quis. Fusce sapien erat, eleifend sit amet mi vitae, posuere malesuada ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce tempus venenatis eros. Mauris volutpat neque vel elementum dignissim. Nulla facilisi. Cras vulputate arcu et nulla tincidunt, eu efficitur nisi iaculis.
        Nulla euismod sem ut purus fermentum, non venenatis turpis blandit. Donec ut bibendum odio, vel mollis dui. Suspendisse suscipit lacus eu odio egestas tempus in ut quam. Maecenas iaculis tristique vehicula. Aliquam nisl mauris, lobortis et porttitor id, egestas sed nunc. Nulla nec gravida magna. Donec at est sit amet justo tempor semper. Praesent vel sollicitudin dolor, eget tempus nisi. Ut et arcu vitae nunc dignissim fringilla. Proin maximus bibendum egestas. Morbi a velit risus. Suspendisse luctus arcu non tortor fermentum suscipit. Aenean id hendrerit orci.
        Donec tempus ac orci at scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras maximus tincidunt arcu ac lobortis. Morbi sit amet interdum justo. Fusce in dignissim massa. Proin vitae libero vel diam mattis convallis eu sit amet erat. Morbi semper ornare dui, ut accumsan diam aliquam vel. Donec tristique mattis mi, hendrerit imperdiet tellus dignissim sed. Vestibulum at felis pellentesque, ornare ex vel, sodales ante.
        Praesent a blandit lectus, a aliquam magna. Mauris placerat auctor nisl elementum pharetra. Phasellus dictum aliquam neque porta molestie. Morbi accumsan eleifend leo sed tempus. Donec fermentum enim nulla, id pharetra neque efficitur eu. Praesent quam lectus, dapibus ac erat non, sagittis vehicula tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae erat id enim posuere tempus. Duis vitae malesuada est. Nam pellentesque ultricies nibh ac pulvinar. Fusce quis ullamcorper ipsum. Ut sed rutrum velit. Vestibulum metus velit, porta sed hendrerit sed, scelerisque ac mi.
      </p>
      <ngx-medium-format-dialog-footer [style.--item-gap.rem]="1">
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" class="btn btn-primary">Second Button</button>
      </ngx-medium-format-dialog-footer>
    </ngx-medium-format-dialog-content>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatWithFooter, format: 'medium' })">
    Open Large Dialog w/ Footer
  </button>

  <app-prism>
<![CDATA[<ng-template  #mediumFormatWithFooter>
  <ngx-medium-format-dialog-content dialogTitle="Title" (closeOrCancel)="onCloseOrCancel()">
    <p>Lorem ipsum...</p>

    <ngx-medium-format-dialog-footer [style.--item-gap.rem]="1">
      <button type="button" class="btn btn-primary">Button</button>
      <button type="button" class="btn btn-primary">Second Button</button>
    </ngx-medium-format-dialog-footer>

  </ngx-medium-format-dialog-content>
</ng-template>

<button type="button" class="btn" (click)="openDialog({ template: largeFormatWithFooter, format: 'large' })">
  Open Large Dialog w/ Footer
</button>]]>
  </app-prism>

  <p><code>ngx-large-format-dialog-footer</code> will always be at the bottom of the Dialog with the max height of <code>64px</code></p>
  <p><code>ngx-large-format-dialog-footer</code> applies some default styles to set the children to the center with a default <code>gap</code> of <code>0.5rem</code>. The <code>gap</code> can be customized by using <code>--item-gap</code> CSS variable</p>
  <p>You can pass in <code>[styleClass]</code> to completely nullify the default styles.</p>
</ngx-section>