<h3 class="style-header">Dialog - Large Format</h3>
<p>
  Medium Format Dialog is a regular Dialog whose content is wrapped inside of <code>NgxMediumFormatDialogContent</code>
  component
</p>

<ngx-section class="shadow" sectionTitle="Basic">
  <ng-template #mediumFormatDialog let-context="context">
    <ngx-medium-format-dialog-content 
      dialogTitle="Title"
      (closeOrCancel)="onCloseOrCancel()">
      <p> {{ content }} </p>
    </ngx-medium-format-dialog-content>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatDialog })">
    Open Medium Dialog
  </button>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatDialog }, true)">
    Open Medium Dialog with Content
  </button>

  <app-prism>
<![CDATA[<ng-template  #mediumFormatDialog>
  <ngx-medium-format-dialog-content dialogSubtitle="Optional Subtitle" (closeOrCancel)="onCloseOrCancel()">
    <p>Lorem ipsum dolor...</p>
  </ngx-medium-format-dialog-content>
</ng-template>

<button type="button" class="btn" (click)="openDialog({ template: largeFormat, format: 'large' })">
  Open Large Dialog
</button>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Basic w/ Footer">
  <p>Large Format Dialog can also have a <strong>Footer</strong> by rendering <code>ngx-large-format-dialog-footer</code> component as its content</p>

  <ng-template  #mediumFormatWithFooter>
    <ngx-medium-format-dialog-content dialogTitle="Title" (closeOrCancel)="onCloseOrCancel()">
      <p> {{ content }} </p>
      <ngx-medium-format-dialog-footer [style.--item-gap.rem]="1">
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" class="btn btn-primary">Second Button</button>
      </ngx-medium-format-dialog-footer>
    </ngx-medium-format-dialog-content>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatWithFooter })">
    Open Large Dialog w/ Footer
  </button>

  <button type="button" class="btn" (click)="openDialog({ template: mediumFormatWithFooter }, true)">
    Open Large Dialog w/ Footer and Content
  </button>

  <app-prism>
<![CDATA[<ng-template  #mediumFormatWithFooter>
  <ngx-medium-format-dialog-content dialogTitle="Title" (closeOrCancel)="onCloseOrCancel()">
    <p>Lorem ipsum...</p>

    <ngx-medium-format-dialog-footer [style.--item-gap.rem]="1">
      <button type="button" class="btn btn-primary">Button</button>
      <button type="button" class="btn btn-primary">Second Button</button>
    </ngx-medium-format-dialog-footer>

  </ngx-medium-format-dialog-content>
</ng-template>

<button type="button" class="btn" (click)="openDialog({ template: largeFormatWithFooter, format: 'large' })">
  Open Large Dialog w/ Footer
</button>]]>
  </app-prism>

  <p><code>ngx-large-format-dialog-footer</code> will always be at the bottom of the Dialog with the max height of <code>64px</code></p>
  <p><code>ngx-large-format-dialog-footer</code> applies some default styles to set the children to the center with a default <code>gap</code> of <code>0.5rem</code>. The <code>gap</code> can be customized by using <code>--item-gap</code> CSS variable</p>
  <p>You can pass in <code>[styleClass]</code> to completely nullify the default styles.</p>
</ngx-section>

<dialog open>
  Hey, this is an HTML dialog!
</dialog>