@use 'sass:color';
@use 'colors/colors' as colors;

section {
  margin: 40px 0;
}

code {
  display: inline;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-grey-775);
  border-radius: 3px;
}

.ngx-flex--wrap,
.ngx-flex--wrap-fluid,
.ngx-flex--wrap-fixed {
  margin: 40px 0;
  border: 1px solid var(--color-grey-725);
  position: relative;

  &:before {
    content: attr(class);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -20px;
  }
}

.ngx-flex--row {
  background-color: rgba(var(--color-green-rgb), 0.1);
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;

  &:before {
    content: attr(class);
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 4px);
    text-align: left;
    top: -14px;
    left: 10px;
  }

  > * {
    background-color: rgba(var(--color-light-blue-rgb), 0.15);
    position: relative;
    border: 1px solid rgba(var(--color-light-blue-rgb), 0.06);
    box-sizing: border-box;

    &:before {
      content: attr(class);
      font-size: 10px;
      position: absolute;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      top: 10px;
      width: calc(100% - 15px);
      left: 10px;
      padding: 0 5px;
      border-radius: 3px;
    }

    &:hover:before {
      font-size: 12px;
      background-color: var(--color-grey-800);
      overflow: visible;
      z-index: 1000;
      width: auto;
    }
  }
}

.box {
  margin: 5px 0;
  padding: 0 5px;
  background: var(--color-blue-500);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: black;
  font-size: 10px;
  font-weight: bold;
  min-height: 30px;
  line-height: 30px;
  vertical-align: middle;

  &.medium {
    height: 4rem;
    line-height: 65px;
  }

  &.large {
    height: 8rem;
  }
}

.app-columns-24-wide-gutter,
.app-columns-24-wide-gutter .ngx-flex--row,
.app-columns-24-wide-gutter .ngx-flex--col {
  --columns: 24;
  --column-width: calc(100% / var(--columns));
  --gutter-width: 2rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
}

.app-columns-10,
.app-columns-10 .ngx-flex--row,
.app-columns-10 .ngx-flex--row > * {
  --columns: 10;
  --column-width: calc(100% / var(--columns));
}
