<div class="page">
  <h3 class="style-header">Table</h3>

  <ngx-section class="shadow" sectionTitle="Raw Table">
    <table>
      <caption>Attack Category Details</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Attack Type</th>
          <th>Date of Attack</th>
          <th>Origin of Attack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Malware</td>
          <td>1/1/2011</td>
          <td>China</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>Russia</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>China</td>
        </tr>
      </tbody>
    </table>
    <br />
    <ngx-codemirror mode="htmlmixed" readOnly="true">
      <![CDATA[
        <table>
          <caption>Attack Category Details</caption>
          <thead>
            <tr>
              <th>#</th>
              <th>Attack Type</th>
              <th>Date of Attack</th>
              <th>Origin of Attack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Malware</td>
              <td>1/1/2011</td>
              <td>China</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>Russia</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>China</td>
            </tr>
          </tbody>
        </table>
      ]]>
    </ngx-codemirror>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Formatted Table">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Attack Type</th>
          <th>Date of Attack</th>
          <th>Origin of Attack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Malware</td>
          <td>1/1/2011</td>
          <td>China</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>Russia</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>China</td>
        </tr>
      </tbody>
    </table>
    <br />
    <ngx-codemirror mode="htmlmixed" readOnly="true">
      <![CDATA[
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Attack Type</th>
              <th>Date of Attack</th>
              <th>Origin of Attack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Malware</td>
              <td>1/1/2011</td>
              <td>China</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>Russia</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>China</td>
            </tr>
          </tbody>
        </table>
      ]]>
    </ngx-codemirror>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Striped Table">
    <table class="table striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Attack Type</th>
          <th>Date of Attack</th>
          <th>Origin of Attack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Malware</td>
          <td>1/1/2011</td>
          <td>China</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>Russia</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>DDOS</td>
          <td>1/5/2011</td>
          <td>China</td>
        </tr>
      </tbody>
    </table>
    <br />
    <ngx-codemirror mode="htmlmixed" readOnly="true">
      <![CDATA[
        <table class="table striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Attack Type</th>
              <th>Date of Attack</th>
              <th>Origin of Attack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Malware</td>
              <td>1/1/2011</td>
              <td>China</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>Russia</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>DDOS</td>
              <td>1/5/2011</td>
              <td>China</td>
            </tr>
          </tbody>
        </table>
      ]]>
    </ngx-codemirror>
  </ngx-section>
</div>