<h3 class="style-header">Navbar</h3>

<ngx-section class="shadow" sectionTitle="Navbar">
  <h3>Active bar on bottom</h3>
  <div class="navbar-page--container">
    <ngx-navbar [(active)]="activeBottom">
      <ngx-nav><ngx-icon fontIcon="apps"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="chart-scatter"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="database"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="commandline"></ngx-icon></ngx-nav>
    </ngx-navbar>
  </div>
  <h3>Active bar on top</h3>
  <div class="navbar-page--container">
    <ngx-navbar [(active)]="activeTop" [barAtTop]="true" #navbar>
      <ngx-nav><ngx-icon fontIcon="apps"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="chart-scatter"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="database"></ngx-icon></ngx-nav>
      <ngx-nav><ngx-icon fontIcon="commandline"></ngx-icon></ngx-nav>
    </ngx-navbar>
  </div>

  <button class="btn btn-default" (click)="navbar.goTo(3)">Activate 4th nav item</button>
</ngx-section>
