/* Minimal ngx-icon font for demo. Full set in @swimlane/ngx-ui. */
@font-face {
  font-family: 'ngx-icon';
  src: url('ngx-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ngx-icon {
  display: inline-block;
  font: normal normal normal 1em/1 'ngx-icon';
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
