<h3 class="style-header">Select</h3>

<ngx-section class="shadow" [sectionTitle]="'Single Select'">

  <h4>Basic</h4>
  <ngx-select [filterable]="false" [label]="'Attack Type'">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false" [label]="'Attack Type'">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Required</h4>
  <ngx-select [filterable]="false" [label]="'Attack Type'" [required]="true">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false" [label]="'Attack Type'" [required]="true">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Filtering</h4>
  <ngx-select [filterable]="true" (keyup)="onSelectKeyUp($event)">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="true" (keyup)="onSelectKeyUp($event)">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Filtering (Case Sensitive)</h4>
  <ngx-select [filterable]="true" (keyup)="onSelectKeyUp($event)" [filterCaseSensitive]="true">
    <ngx-select-option name="Breach" value="Breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="DDOS"></ngx-select-option>
    <ngx-select-option name="Physical" value="Physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="true" (keyup)="onSelectKeyUp($event)" [filterCaseSensitive]="true">
        <ngx-select-option name="Breach" value="Breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="DDOS"></ngx-select-option>
        <ngx-select-option name="Physical" value="Physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Add New</h4>
  <ngx-select [filterable]="true" [allowAdditions]="true" [allowAdditionsText]="'Add New Value'">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true" ngNonBindable>
    <![CDATA[
      <ngx-select [filterable]="true" [allowAdditions]="true" [allowAdditionsText]="'Add New Value'">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Long Values</h4>
  <ngx-select style="max-width: 300px"
    [ngModel]="['supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious']">
    <ngx-select-option
      name="supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious"
      value="supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious">
    </ngx-select-option>
    <ngx-select-option name="supe rcalifragilist icexpialidocious" value="s2344"></ngx-select-option>
    <ngx-select-option name="super califragilisticex pialidoc ious" value="s3121"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select
        style="max-width: 300px"
        [filterable]="true"
        [ngModel]="['supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious']">
        <ngx-select-option
          name="supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious"
          value="supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious">
        </ngx-select-option>
        <ngx-select-option name="supe rcalifragilist icexpialidocious" value="s2344"></ngx-select-option>
        <ngx-select-option name="super califragilisticex pialidoc ious" value="s3121"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Large ngFor with Default Selections</h4>
  <ngx-select [identifier]="'attr'" [ngModel]="[selects[0]]" label="Select a value...">
    <ngx-select-option *ngFor="let option of selects" [name]="option.name" [value]="option">
    </ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [identifier]="'attr'" [ngModel]="[selects[0]]" label="Select a value...">
        <ngx-select-option
          *ngFor="let option of selects"
          [name]="option.name"
          [value]="option">
        </ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Single select value</h4>
  <ngx-select [ngModel]="[singleSelectModel]" (ngModelChange)="singleSelectModel = $event[0]" label="Select a value...">
    <ngx-select-option *ngFor="let option of selects" [name]="option.name" [value]="option">
    </ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [ngModel]="[singleSelectModel]" (ngModelChange)="singleSelectModel = $event[0]" label="Select a value...">
        <ngx-select-option
          *ngFor="let option of selects"
          [name]="option.name"
          [value]="option">
        </ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <h4>Input and Option Templates</h4>
  <ngx-select>
    <ngx-select-option value="breach">
      <ng-template ngx-select-option-input-template let-option="option">
        <span class="tag">{{option.value}}</span>
      </ng-template>
      <ng-template ngx-select-option-template let-option="option">
        <span class="icon-bug"></span> {{option.value}}
      </ng-template>
    </ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical">
      <ng-template ngx-select-option-template let-option="option">
        <span class="icon-logo"></span> {{option.value}}
      </ng-template>
    </ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select>
        <ngx-select-option value="breach">
          <ng-template ngx-select-option-input-template let-option="option">
            <span class="tag">option.value</span>
          </ng-template>
          <ng-template ngx-select-option-template let-option="option">
            <span class="icon-bug"></span> option.value
          </ng-template>
        </ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical">
          <ng-template ngx-select-option-template let-option="option">
            <span class="icon-logo"></span> option.value
          </ng-template>
        </ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Objects with Grouping</h4>
  <ngx-select [groupBy]="'type'">
    <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
    <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
    <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [groupBy]="'type'">
        <ngx-select-option [name]="'Breach'" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Disabled Options with Placeholder</h4>
  <ngx-select [placeholder]="'Select incident type...'">
    <ngx-select-option [name]="'Breach'" [value]="'breach'"></ngx-select-option>
    <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
    <ngx-select-option [name]="'Physical'" [value]="'pyhs'" [disabled]="true"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [placeholder]="'Select incident type...'">
        <ngx-select-option [name]="'Breach'" [value]="'breach'"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="'pyhs'" [disabled]="true"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4> Hidden Disabled Options </h4>
  <ngx-select [placeholder]="'Select incident type...'">
    <ngx-select-option [name]="'Breach'" [value]="'breach'"></ngx-select-option>
    <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true" [hidden]="true"></ngx-select-option>
    <ngx-select-option [name]="'Physical'" [value]="'pyhs'" [disabled]="true" [hidden]="true"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [placeholder]="'Select incident type...'">
        <ngx-select-option [name]="'Breach'" [value]="'breach'"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true" [hidden]="true"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="'pyhs'" [disabled]="true" [hidden]="true"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Disabled Select with Preselected Value</h4>
  <ngx-select [disabled]="true" [ngModel]="['Breach']">
    <ngx-select-option [name]="'Breach'" [value]="'Breach'"></ngx-select-option>
    <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
    <ngx-select-option [name]="'Physical'" [value]="'Physical'" [disabled]="true"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [disabled]="true" [ngModel]="['Breach']">
        <ngx-select-option [name]="'Breach'" [value]="'Breach'"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="'Physical'" [disabled]="true"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4> Preselected Value as Hidden Option </h4>
  <ngx-select [ngModel]="['Breach']">
    <ngx-select-option [name]="'Breach'" [value]="'Breach'" [hidden]="true"></ngx-select-option>
    <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
    <ngx-select-option [name]="'Physical'" [value]="'Physical'" [disabled]="true"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [ngModel]="['Breach']">
        <ngx-select-option [name]="'Breach'" [value]="'Breach'" [hidden]="true"></ngx-select-option>
        <ngx-select-option [name]="'DDOS'" [value]="'ddos'" [disabled]="true"></ngx-select-option>
        <ngx-select-option [name]="'Physical'" [value]="'Physical'" [disabled]="true"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>No Options</h4>
  <ngx-select [filterable]="false"></ngx-select>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false"></ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Events</h4>
  <ngx-select [filterable]="true" label="Attack Type" (change)="onEvent('ngx-select change', $event)"
    (keyup)="onEvent('ngx-select change', $event)" (toggle)="onEvent('ngx-select toggle', $event)">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false"></ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Customization</h4>
  <ngx-select [filterable]="true" [allowAdditions]="true" [allowAdditionsText]="'Add New Value'"
    [selectCaret]="doubleDown">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ng-template #doubleDown>
    <ngx-icon fontIcon="double-down"></ngx-icon>
  </ng-template>

  <ngx-codemirror mode="htmlmixed" readOnly="true" ngNonBindable>
    <![CDATA[
      <ngx-select
        [filterable]="true"
        [allowAdditions]="true"
        [allowAdditionsText]="Add New Value'"
        [selectCaret]="doubleDown">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>

      <ng-template #doubleDown>
        <ngx-icon fontIcon="double-down"></ngx-icon>
      </ng-template>

      <!-- `allowAdditionsText` and `selectCaret` both accept strings or template references -->
    ]]>
  </ngx-codemirror>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Multi Select'">
  <h4>Basic</h4>
  <ngx-select [filterable]="false" [multiple]="true">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false" [multiple]="true">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>


  <br />
  <br />
  <br />

  <h4>Min/Max Selections</h4>
  <ngx-select label="Select one or two" [filterable]="false" [multiple]="true" [minSelections]="1" [maxSelections]="2">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select label="Select one or two" [filterable]="false" [multiple]="true" [minSelections]="1" [maxSelections]="2">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Auto Close on Select</h4>
  <ngx-select [filterable]="false" [multiple]="true" [closeOnSelect]="true">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false" [multiple]="true" [closeOnSelect]="true">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Several Default Selections</h4>
  <ngx-select [multiple]="true" [identifier]="'attr'"
    [ngModel]="[selects[0], selects[1], selects[2], selects[3], selects[4], selects[5], selects[6], selects[7], selects[8]]">
    <ngx-select-option *ngFor="let option of selects" [name]="option.name" [disabled]="option.disabled"
      [value]="option">
    </ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select
        [multiple]="true"
        [identifier]="'attr'"
        [ngModel]="[selects[0], selects[1], selects[2], selects[3], selects[4], selects[5], selects[6], selects[7], selects[8]]">
        <ngx-select-option
          *ngFor="let option of selects"
          [name]="option.name"
          [disabled]="option.disabled"
          [value]="option">
        </ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>Templates</h4>
  <ngx-select [multiple]="true" (keyup)="onSelectKeyUp($event)" [identifier]="'attr'" [ngModel]="[selects[0]]">
    <ngx-select-option *ngFor="let option of selects" [name]="option.name" [disabled]="option.disabled"
      [value]="option">
      <ng-template ngx-select-option-input-template let-option="option">
        <span class="icon-bug"></span> {{option.value.name}}
      </ng-template>
    </ngx-select-option>
  </ngx-select>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Tagging'">
  <h4>Basic</h4>
  <ngx-select [filterable]="false" [tagging]="true" (keyup)="onSelectKeyUp($event)">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select [filterable]="false" [tagging]="true" (keyup)="onSelectKeyUp($event)">
        <ngx-select-option name="Breach" value="breach"></ngx-select-option>
        <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
        <ngx-select-option name="Physical" value="physical"></ngx-select-option>
      </ngx-select>
    ]]>
  </ngx-codemirror>

  <br />
  <br />
  <br />

  <h4>No Options</h4>
  <ngx-select [filterable]="false" [tagging]="true">
  </ngx-select>

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-select
        [filterable]="false"
        [tagging]="true">
      </ngx-select>
    ]]>
  </ngx-codemirror>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Native">
  <select>
    <option>Red</option>
    <option>Blue</option>
    <option>Green</option>
  </select>
  <br />
  <br />
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <select>
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
      </select>
    ]]>
  </ngx-codemirror>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Async">
  <ngx-select>
    <ngx-select-option
      *ngFor="let option of asyncOptions$ | async"
      [name]="option.name"
      [value]="option"
      [disabled]="option.disabled"
    ></ngx-select-option>
  </ngx-select>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Appearances">
  <ngx-select [filterable]="false" appearance="legacy" label="Legacy input">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <br />

  <ngx-select [filterable]="false" appearance="fill" label="Fill Input" hint="im a hint" placeholder="Select a value...">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical" disabled></ngx-select-option>
  </ngx-select>

  <br />

  <ngx-select [filterable]="true" appearance="fill" label="Fill With Search">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <br />

  <ngx-select [filterable]="false" [multiple]="true" appearance="fill" label="Fill With Multiple Selections">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <br />

  <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill With Tagging">
    <ngx-select-option name="Breach" value="breach"></ngx-select-option>
    <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
    <ngx-select-option name="Physical" value="physical"></ngx-select-option>
  </ngx-select>

  <br />

  <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill Tagging With No Options">
  </ngx-select>

  <br />

  <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill With Grouping" groupBy="type">
    <ngx-select-option name="Breach" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
    <ngx-select-option name="DDOS" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
    <ngx-select-option name="Physical" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
  </ngx-select>

  <br />

  <br />

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
    <ngx-select [filterable]="false" appearance="legacy">
      <ngx-select-option name="Breach" value="breach"></ngx-select-option>
      <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
      <ngx-select-option name="Physical" value="physical"></ngx-select-option>
    </ngx-select>

    <ngx-select [filterable]="false" appearance="fill">
      <ngx-select-option name="Breach" value="breach"></ngx-select-option>
      <ngx-select-option name="a very long choice that you need to make" value="ddos"></ngx-select-option>
      <ngx-select-option name="Physical" value="physical"></ngx-select-option>
    </ngx-select>

    <ngx-select [filterable]="true" appearance="fill" label="Fill With Search">
      <ngx-select-option name="Breach" value="breach"></ngx-select-option>
      <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
      <ngx-select-option name="Physical" value="physical"></ngx-select-option>
    </ngx-select>
  
    <ngx-select [filterable]="false" [multiple]="true" appearance="fill" label="Fill With Multiple Selections">
      <ngx-select-option name="Breach" value="breach"></ngx-select-option>
      <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
      <ngx-select-option name="Physical" value="physical"></ngx-select-option>
    </ngx-select>
  
    <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill With Tagging">
      <ngx-select-option name="Breach" value="breach"></ngx-select-option>
      <ngx-select-option name="DDOS" value="ddos"></ngx-select-option>
      <ngx-select-option name="Physical" value="physical"></ngx-select-option>
    </ngx-select>
  
    <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill Tagging With No Options">
    </ngx-select>
  
    <ngx-select [filterable]="false" [tagging]="true" appearance="fill" label="Fill With Grouping" groupBy="type">
      <ngx-select-option name="Breach" [value]="{ value: 'breach', type: 'IOS' }"></ngx-select-option>
      <ngx-select-option name="DDOS" [value]="{ value: 'ddos', type: 'IOS' }"></ngx-select-option>
      <ngx-select-option name="Physical" [value]="{ value: 'Physical', type: 'MOX' }"></ngx-select-option>
    </ngx-select>
    ]]>
  </ngx-codemirror>
</ngx-section>
