<h3 class="style-header">Toolbar</h3>

<ngx-section class="shadow" sectionTitle="Title/Menu">
  <ngx-toolbar [mainTitle]="'Record'" [subtitle]="'IR-344'" [menu]="toolbarMenu" (menuClick)="menuClicked($event)">
  </ngx-toolbar>
  <br />
  <app-prism>
<![CDATA[<ngx-toolbar
  [mainTitle]="'Record'"
  [subtitle]="'IR-344'"
  [menu]="toolbarMenu"
  (menuClick)="menuClicked($event)">
</ngx-toolbar>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Dynamic Content">
  <ngx-toolbar>
    <ngx-toolbar-title>
      <span class="tag">dynamic title</span>
    </ngx-toolbar-title>
    <ngx-toolbar-content>
      <i>dynamic content</i>
    </ngx-toolbar-content>
  </ngx-toolbar>
  <br />
  <app-prism>
<![CDATA[<ngx-toolbar>
  <ngx-toolbar-title>
    <span class="tag">dynamic title</span>
  </ngx-toolbar-title>
  <ngx-toolbar-content>
    <i>dynamic content</i>
  </ngx-toolbar-content>
</ngx-toolbar>]]>
  </app-prism>
</ngx-section>
