<h3 class="style-header">Toolbar</h3>

<ngx-section class="shadow" [sectionTitle]="'Title/Menu'">
  <ngx-toolbar [title]="'Record'" [subtitle]="'IR-344'" [menu]="toolbarMenu" (menuClick)="menuClicked($event)">
  </ngx-toolbar>
  <br />
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-toolbar
        [title]="'Record'"
        [subtitle]="'IR-344'"
        [menu]="toolbarMenu"
        (menuClick)="menuClicked($event)">
      </ngx-toolbar>
    ]]>
  </ngx-codemirror>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Dynamic Content'">
  <ngx-toolbar>
    <ngx-toolbar-title>
      <span class="tag">dynamic title</span>
    </ngx-toolbar-title>
    <ngx-toolbar-content>
      <i>dynamic content</i>
    </ngx-toolbar-content>
  </ngx-toolbar>
  <br />
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-toolbar>
        <ngx-toolbar-title>
          <span class="tag">dynamic title</span>
        </ngx-toolbar-title>
        <ngx-toolbar-content>
          <i>dynamic content</i>
        </ngx-toolbar-content>
      </ngx-toolbar>
    ]]>
  </ngx-codemirror>
</ngx-section>