/**
 * Colors
 */
:root {
  --color-white: #fff;

  /* Backgrounds */
  --color-bg-darkest: #060709;
  --color-bg-darker: #1b1e27;
  --color-bg-dark: #2f3646;
  --color-bg-light: #455066;
  --color-bg-lighter: #5b6882;

  /* Text */
  --color-text-dark: #72809b;
  --color-text-med-dark: #919db5;
  --color-text-med: #a8b2c7;
  --color-text-med-light: #d9dce1;
  --color-text-light: #f0f1f6;

  /* Header */
  --color-header-darkest: #161a23;
  --color-header-darker: #1c212c;
  --color-header-med: #202632;
  --color-header-light: #2a3142;

  /* Blues */
  --color-blue: #1483ff;
  --color-blue-med: #479eff;
  --color-blue-light: #7ab9ff;

  /* Light Blues */
  --color-light-blue: #22befb;
  --color-light-blue-med: #54cdfc;
  --color-light-blue-light: #86dcfd;

  /* Greens */
  --color-green: #1ddeb6;
  --color-green-med: #47e7c6;
  --color-green-light: #74edd4;

  /* Reds */
  --color-red: #ff4514;
  --color-red-med: #ff6d47;
  --color-red-light: #ff957a;

  /* Oranges */
  --color-orange: #ffa814;
  --color-orange-med: #ffbb47;
  --color-orange-light: #ffce7a;
}
