$ngx-font-path:        "../fonts" !default;
$ngx-font-size-base:   14px !default;
$ngx-css-prefix:       ngx-icon !default;
$ngx-background-color: #eee !default;
$ngx-li-width:         (30em / 14) !default;
$ngx-padding-width:    (1em/3) !default;
