@import "../../styles/colors/index";

.password-strength {
  width: 100%;

  .password-strength-input-wrap {
    position: relative;

    .password-strength-input {
      width: 100%;
    }

    .icon-eye {
      position: absolute;
      line-height: 36px;
      top: 0;
      right: 10px;
      cursor: pointer;
      font-size: .8rem;
      color: $color-text-med-dark;

      &:hover {
        color: $color-text-light;
      }
    }
  }

  .password-strength-meter {
    display: inline-block;
    appearance: none;
    width: 100%;
    height: 2px;
    margin: 0 auto 10em;

    background: none;
    background-color: transparent;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;

    .meter-text {
      color: $color-text-med-dark;
      font-size: .75em;
      text-transform: uppercase;
      text-align: right;
      margin-top: 7px;
    }

    &[value="0"] {
      background-color: transparent;
    }

    &[value="1"] {
      background-color: $color-red;
      // box-shadow: $color-red 1px 0 6px 1px;
    }

    &[value="2"] {
      background-color: $color-orange;
      // box-shadow: $color-orange 1px 0 6px 1px;
    }

    &[value="3"] {
      background-color: $color-green;
      // box-shadow: $color-green 1px 0 6px 1px;
    }

    &[value="4"] {
      background-color: $color-blue;
      // box-shadow: $color-blue 1px 0 6px 1px;
    }
  }
}
