@import "../../styles/colors.scss";

.password-strength {
  width: 100%;

  .password-strength-input-wrap {
    position: relative;

    .password-strength-input {
      width: 100%;
    }

    .icon-eye {
      position: absolute;
      line-height: 32px;
      top: 0;
      right: 10px;
      cursor: pointer;
      font-size: .8rem;
      color: $color-text-med-dark;

      &:hover {
        color: $color-text-light;
      }
    }
  }

  .password-strength-meter {
    display: inline-block;
    appearance: none;
    margin: 0 auto 1em;
    width: 100%;
    height: 0.2em;
    background: none;
    background-color: transparent;

    &::-webkit-meter-bar {
      background: none;
      background-color: transparent;
    }

    &[value="1"] {
      background-color: $color-red;
      // box-shadow: $color-red 1px 0 6px 1px;
    }

    &[value="2"] {
      background-color: $color-orange;
      // box-shadow: $color-orange 1px 0 6px 1px;
    }

    &[value="3"] {
      background-color: $color-green;
      // box-shadow: $color-green 1px 0 6px 1px;
    }

    &[value="4"] {
      background-color: $color-blue;
      // box-shadow: $color-blue 1px 0 6px 1px;
    }
  }
}
