<h3 class="style-header">Toggle</h3>

<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" [sectionTitle]="'Demo'">
      <ngx-toggle name="toggle1" [(ngModel)]="toggleChk" [label]="'High Priority'"> </ngx-toggle>
      <app-prism>
        <![CDATA[<ngx-toggle name="toggle1" [(ngModel)]="toggleChk" [label]="'High Priority'"> </ngx-toggle>]]>
      </app-prism>
      <br />
      <br />

      <ngx-toggle name="toggle2" [disabled]="true" [label]="'Disabled'"> </ngx-toggle>
      <app-prism>
        <![CDATA[<ngx-toggle name="toggle2" [disabled]="true" [label]="'Disabled'"> </ngx-toggle>]]>
      </app-prism>
      <br />
      <br />

      <ngx-toggle name="toggle3" [(ngModel)]="toggleChk" (ngModelChange)="onToggleChange($event)">
        <strong class="color-red" [hidden]="!toggleChk">Alert Everyone!</strong>
        <strong class="color-green" [hidden]="toggleChk">All good!</strong>
      </ngx-toggle>
      <app-prism>
        <![CDATA[<ngx-toggle name="toggle3" [(ngModel)]="toggleChk" (ngModelChange)="onToggleChange($event)"> <strong
        class="color-red" [hidden]="!toggleChk">Alert Everyone!</strong> <strong class="color-green"
        [hidden]="toggleChk">All good!</strong> </ngx-toggle>]]>
      </app-prism>
      <br />
      <br />

      <ngx-toggle name="toggle4" [(ngModel)]="toggleChk" [label]="'High Priority With No Icons'" [showIcons]="false">
      </ngx-toggle>
      <app-prism>
        <![CDATA[<ngx-toggle name="toggle4" [(ngModel)]="toggleChk" [label]="'High Priority With No Icons'"
        [showIcons]="false"> </ngx-toggle>]]>
      </app-prism>
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('inputs')">Component Inputs</a>
    <a class="documentation-content" (click)="scrollTo('outputs')">Component Outputs</a>
    <hr />

    <h3 class="style-header" id="inputs">Component Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>id: string = 'toggle-1'</code>
          </th>
          <td>The ID of the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>label: string</code>
          </th>
          <td>The label for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>name: string = null</code>
          </th>
          <td>The name for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>required: boolean</code>
          </th>
          <td>Whether the user's input is required.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>showIcons: boolean = true</code>
          </th>
          <td>Whether the component displays the status of the toggle by utilizing icons. See Examples tab.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>tabIndex: number</code>
          </th>
          <td>The tab index for the component.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="outputs">Component Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>change: EventEmitter&lt;Event&gt;</code>
          </th>
          <td>Event emitted when the value is changed.</td>
        </tr>
      </tbody>
    </table>
  </ngx-tab>
</ngx-tabs>
