@import "index.scss";

/**
 * Theme Styles
 */
.style-guide {
  transition: background 500ms, background-image 500ms, color 500ms;
}

/**
 * Navigation
 */
.nav-col {
  color: $color-white;
  background: $color-bg-med;

  a {
    color: $color-white;
  }

  h1 {
    display: block;
    height: 50px;
    background: $color-bg-logo;
    padding: 0 15px;
    line-height: 50px;
    margin: 0;
  }

  nav {
    margin: 20px 15px;

    li {
      padding:.1rem 0;
    }

    ul ul {
      padding-left:10px;
      padding-bottom:10px;
      font-size: .9em;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  }
}

/**
 * Header
 */
.style-header {
  text-transform: uppercase;
  color: $color-text-med;
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: 600;

  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background: $color-text-med;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Colors
 */
.color-group {
  width: 250px;
  margin: 0 20px 20px 0 !important;

  .main-color {
    height: 70px;
  }

  .color {
    padding: 15px 10px;
  }
}

/**
 * Icons Preview
 */
.icons-preview {
  li {
    height: 150px;
    overflow:hidden;
    width: 150px;
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
    margin: 10px;
    border: solid 1px $color-bg-darkest;
    border-radius: 2px;


    .icon-name {
      color: $color-text-med-dark;
      font-size: .9rem;
      line-height: 1rem;
    }

    .ngx-icon, .large-icon {
      display: block;
      font-size: 50px;
      line-height: 80px;
    }

    .icon-loading {
      font-size: 50px;
      height: 50px;
      line-height: 0;
    }

    .icon {
      display: block;
    }
  }
}

.inputs-section {
  input {
    display: block;
    margin: 8px 0;
  }
}

.shadow-demo {
  width: 120px;
  height: 120px;
  margin: 15px;
  text-align: center;
  line-height: 120px;
}

.demo-class {
  color: yellow !important;
  text-transform: uppercase;
}

.CodeMirror {
  margin-top: 20px;
}
