<h3 class="style-header">Section</h3>

<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" sectionTitle="Title and Shadow">
      <ngx-section id="attack-details" class="shadow" sectionTitle="Attack Details">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section id="attack-details" class="shadow" sectionTitle="Attack Details" > Some Content
        </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section class="shadow" [sectionTitle]="'Custom Template and Shadow'">
      <ngx-section class="shadow">
        <ngx-section-header>
          <h3 style="color: red; font-style: italic">Attack Found!</h3>
          <a href="/" class="icon-apps" style="position: absolute; right: 15px; top: 1px">List</a>
        </ngx-section-header>
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section class="shadow"> <ngx-section-header> <h3>Attack Found!</h3> <a href="/">List</a>
        </ngx-section-header> Some Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section class="shadow" [sectionTitle]="'Custom Template and Shadow'">
      <ngx-section class="shadow" [sectionTitle]="'Attack Details'" [sectionCollapsible]="false">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section class="shadow" [sectionTitle]="'Attack Details'" [sectionCollapsible]="false" > Some
        Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section class="shadow" [sectionTitle]="'No Title and Shadow'">
      <ngx-section class="shadow">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism> <![CDATA[<ngx-section class="shadow"> Some Content </ngx-section>]]> </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Outline'">
      <ngx-section [sectionTitle]="'Attack Details'" appearance="outline">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section [sectionTitle]="'Attack Details'" appearance="outline" > Some Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Outline and Toggle Right'">
      <ngx-section [sectionTitle]="'Attack Details'" appearance="outline" togglePosition="right">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section [sectionTitle]="'Attack Details'" appearance="outline" togglePosition="right" > Some
        Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Light'">
      <ngx-section [sectionTitle]="'Light'" appearance="light">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section [sectionTitle]="'Light'" appearance="light" > Some Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Minimal'">
      <ngx-section [sectionTitle]="'Minimal'" appearance="minimal">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section [sectionTitle]="'Minimal'" appearance="minimal" > Some Content </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Hide toggle use Header'">
      <ngx-section sectionTitle="Attack Details" togglePosition="none" [headerToggle]="true">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        uwu
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section sectionTitle="Attack Details" togglePosition="none" [headerToggle]="true"> Some Content
        </ngx-section>]]>
      </app-prism>
    </ngx-section>

    <ngx-section [sectionTitle]="'Hide toggle use Header'">
      <ngx-section sectionTitle="Multiple toggle triggers" togglePosition="right" [headerToggle]="true">
        Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball
        bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system
        mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        uwu
      </ngx-section>
      <app-prism>
        <![CDATA[<ngx-section sectionTitle="Attack Details" togglePosition="none" [headerToggle]="true"> Some Content
        </ngx-section>]]>
      </app-prism>
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('ngx-section-inputs')">ngx-section Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-section-outputs')">ngx-section Outputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-section-header-inputs')">ngx-section-header Inputs</a>
    <a class="documentation-content" (click)="scrollTo('ngx-section-header-outputs')">ngx-section-header Outputs</a>
    <hr />

    <h3 class="style-header" id="ngx-section-inputs">ngx-section Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>appearance: SectionAppearance = SectionAppearance.Legacy</code>
          </th>
          <td>The appearance style of the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>headerToggle: boolean</code>
          </th>
          <td>Whether the component can be expanded or collapsed by clicking on the header.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>id: string = 'section-1'</code>
          </th>
          <td>The ID for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>padding: any = '1.8em'</code>
          </th>
          <td>The padding applied to the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>sectionCollapsed: boolean</code>
          </th>
          <td>Whether the component is collapsed.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>sectionCollapsible: boolean = true</code>
          </th>
          <td>Whether the component is collapsible.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>sectionTitle: string</code>
          </th>
          <td>The title for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>togglePosition: TogglePosition = TogglePosition.Left</code>
          </th>
          <td>The position of the toggle that expands and collapses the component.</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3 class="style-header" id="ngx-section-outputs">ngx-section Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>toggle: EventEmitter&lt;any&gt;</code>
          </th>
          <td>Event emitted when the component is expanded or collapsed.</td>
        </tr>
      </tbody>
    </table>
    <hr />

    <h3 class="style-header" id="ngx-section-header-inputs">ngx-section-header Inputs</h3>
    <h4>No component inputs to display.</h4>
    <hr />
    <h3 class="style-header" id="ngx-section-header-outputs">ngx-section-header Outputs</h3>
    <h4>No component outputs to display.</h4>
  </ngx-tab>
</ngx-tabs>
