/**
 * Typography
 */
$font-size: 16px;
$font-family: "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
$code-font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
$line-height: 1.4;

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.75;
}

span.note,
p.note {
  color: $color-text-med;
  font-style: italic;
  font-size: .9rem;
}

a {
  text-decoration: none;
}

button {
  color: $color-white;
}


/**
 * Lists
 */
ul,
ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum' 1;
  padding-left: 2rem;
  display: block;
  list-style-type: decimal;
  margin-bottom: 1.5rem;
}

/*
ul {
  display: block;
  list-style-type: square;
  margin-bottom: 1.5rem;
}
*/

/**
 * Code
 */
pre, code {
  display: block;
}

pre {
  padding: 1rem;
  background: $color-bg-darkest;
  color: $color-text-light;
  margin: .5rem 0;
  font-family: $code-font-family;
  overflow-x: auto;
  line-height: 1.45;
  tab-size: 2;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: none;
  position: relative;
  border-radius: 2px;
  font-size: 0.8rem;
}

code {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
