<main class="Grid u-flex u-flexAlignItemsStretch">
  <div class="Grid-cell u-size1of5 FlexItem nav-col">
    <h1 class="branding">
      <span class="branding-logo icon-logo"></span>
      <span class="branding-name">Swimlane</span>
    </h1>
    <nav>
      <ul class="list-reset">
        <li>
          <span>Colors</span>
          <ul class="list-reset">
            <li><a href="#" (click)="state = 'colors'">Hues</a></li>
            <li><a href="#" (click)="state = 'colors'">Formatting</a></li>
            <li><a href="#" (click)="state = 'colors'">Gradients</a></li>
            <li><a href="#" (click)="state = 'colors'">Charts</a></li>
            <li><a href="#" (click)="state = 'colors'">Branding</a></li>
            <li><a href="#" (click)="state = 'colors'">Shadows</a></li>
          </ul>
        </li>
        <li>
          <span>Typography</span>
          <ul class="list-reset">
            <li><a href="#" (click)="state = 'typography'">Headers</a></li>
            <li><a href="#" (click)="state = 'typography'">Links</a></li>
            <li><a href="#" (click)="state = 'typography'">Paragraph</a></li>
            <li><a href="#" (click)="state = 'typography'">Lists</a></li>
            <li><a href="#" (click)="state = 'typography'">Code</a></li>
            <li><a href="#"(click)="state = 'icons'">Icons</a></li>
          </ul>
        </li>
        <li>
          <span>Forms</span>
          <ul class="list-reset">
            <li><a href="#" (click)="state = 'inputs'">Inputs</a></li>
            <li><a href="#" (click)="state = 'buttons'">Buttons</a></li>
            <li><a href="#" (click)="state = 'selects'">Selects</a></li>
            <li><a href="#" class="disabled">Toggle</a></li>
            <li><a href="#" class="disabled">Checkbox</a></li>
            <li><a href="#" class="disabled">Radio</a></li>
          </ul>
        </li>
        <li>
          <span>Elements</span>
          <ul class="list-reset">
            <li><a href="#" (click)="state = 'table'">Tables</a></li>
          </ul>
        </li>
        <li>
          <span>Components</span>
          <ul class="list-reset">
            <li><a href="#" (click)="state = 'sections'">Sections</a></li>
            <li><a href="#" (click)="state = 'toolbar'">Toolbar</a></li>
            <li><a href="#" (click)="state = 'drawer'">Drawer</a></li>
            <li><a href="#" (click)="state = 'complexity'">Complexity Meter</a></li>
            <li><a href="#" (click)="state = 'input'">Input</a></li>
            <li><a href="#" (click)="state = 'tabs'">Tabs</a></li>
            <li><a href="#" (click)="state = 'slider'">Slider</a></li>
            <li><a href="#" (click)="state = 'codeEditor'">Code Editor</a></li>
            <li><a href="#" (click)="state = 'dropdown'">Dropdown</a></li>
            <li><a href="#" (click)="state = 'tooltip'">Tooltip</a></li>
            <li><a href="#" (click)="state = 'datetime'">Date/Time</a></li>
            <li><a href="#" class="disabled">Accordion</a></li>
            <li><a href="#" class="disabled">Fab</a></li>
            <li><a href="#" class="disabled">Dialog</a></li>
            <li><a href="#" class="disabled">Notifications</a></li>
          </ul>
        </li>
        <li>
          <span>Directives</span>
          <ul class="list-reset">
            <li><a href="#" class="disabled">Dbl Click Copy</a></li>
            <li><a href="#" class="disabled">Visibility</a></li>
          </ul>
        </li>
        <li>
          <span>Pipes</span>
          <ul class="list-reset">
            <li><a href="#" class="disabled">Map Iterable</a></li>
            <li><a href="#" class="disabled">Decamlize</a></li>
            <li><a href="#" class="disabled">Filter</a></li>
            <li><a href="#" class="disabled">Safe HTML</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="Grid-cell u-sizeFill FlexItem">

    <swui-toolbar
      [title]="'Style Guide'"
      [subtitle]="'v' + version">
      <swui-toolbar-content>
        <a href="#" (click)="setTheme('light')">Light</a> | <a href="#" (click)="setTheme('dark')">Dark</a> | <a href="#" (click)="setTheme('gradient')">Graident</a>
      </swui-toolbar-content>
    </swui-toolbar>

    <section class="section" *ngIf="!state">
      <p>
        Style guide for Swimlane branding, colors and components. <br />
        <span class="hint">Select a category on the left to get started</span>
      </p>
    </section>

    <!-- colors -->
    <div *ngIf="state === 'colors'">
      <section class="section">
        <h3 class="style-header">Colors: Hues</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let color of colors">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li class="color main-color u-cf bg-{{color}}">
                <span class="name u-floatLeft">{{color}}</span>
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color"
                  dbl-click-copy>
                </span>
              </li>
              <li class="color bg-{{color}}-med u-cf">
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color + '-med'"
                  dbl-click-copy>
                </span>
              </li>
              <li class="color bg-{{color}}-light u-cf">
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color + '-light'"
                  dbl-click-copy>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Formatting</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li class="color main-color u-cf bg-darkest">
                <span class="name u-floatLeft" style="color:white">Backgrounds</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-darkest</span>
              </li>
              <li class="color bg-darker u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-darker</span>
              </li>
              <li class="color bg-dark u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-dark</span>
              </li>
              <li class="color bg-med u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-med</span>
              </li>
              <li class="color bg-light u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-light</span>
              </li>
              <li class="color bg-lighter u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-lighter</span>
              </li>
            </ul>
          </div>

          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li class="color main-color u-cf bg-text-dark">
                <span class="name u-floatLeft">Text</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-dark</span>
              </li>
              <li class="color bg-text-med-dark u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-med-dark</span>
              </li>
              <li class="color bg-text-med u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-med</span>
              </li>
              <li class="color bg-text-light u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-light</span>
              </li>
              <li class="color bg-text-lighter u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-lighter</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Gradients</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li
                *ngFor="let gradient of gradients; let i = index"
                style="border-top:solid 1px #fff"
                class="color main-color u-cf {{gradient}}">
                <span *ngIf="i === 0" class="name u-floatLeft" style="color:white">Linear</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>${{gradient}}</span>
              </li>
            </ul>
          </div>
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li class="color main-color u-cf bg-linear-1">
                <span class="name u-floatLeft" style="color:white">Bg Linear</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-1</span>
              </li>
              <li style="border-top:solid 1px #fff" class="color main-color u-cf bg-linear-2">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-2</span>
              </li>
            </ul>
          </div>
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li class="color main-color u-cf bg-radial-1">
                <span class="name u-floatLeft" style="color:white">Bg Radial</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-1</span>
              </li>
              <li style="border-top:solid 1px #fff" class="color main-color u-cf bg-radial-2">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-2</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Branding</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-fx list-reset">
              <li class="color main-color u-cf bg-logo">
                <span class="name u-floatLeft" style="color:white">Logo</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-logo</span>
              </li>
              <li class="color bg-text-logo u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-logo</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Ordinal Charts</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let colorGroup of chartColorsOrdinal">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li
                *ngFor="let color of colorGroup.colors; let idx = index;"
                class="color u-cf"
                [style.background]="color"
                [ngClass]="{ 'main-color': idx === 0 }">
                <span class="name u-floatLeft" *ngIf="idx === 0">{{colorGroup.name}}</span>
                <span
                  class="hex tag tag-small u-floatRight"
                  dbl-click-copy
                  [innerHTML]="color">
                </span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Sequential Charts</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let colorGroup of chartColorsSequential">
            <ul class="color-group shadow-2 shadow-fx list-reset">
              <li
                *ngFor="let color of colorGroup.colors; let idx = index;"
                class="color u-cf"
                [style.background]="color"
                [ngClass]="{ 'main-color': idx === 0 }">
                <span class="name u-floatLeft" *ngIf="idx === 0">{{colorGroup.name}}</span>
                <span
                  class="hex tag tag-small u-floatRight"
                  dbl-click-copy
                  [innerHTML]="color">
                </span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Colors: Shadows</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let i of shadows">
            <div class="shadow-demo shadow-{{i}}" dbl-click-copy>
              $shadow-{{i}}
            </div>
          </div>
          <div class="FlexItem">
            <div class="shadow-demo shadow-10 shadow-fx">
              shadow-fx
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Typography -->
    <div *ngIf="state === 'typography'">
      <section class="section">
        <h3 class="style-header">Typography: Headings</h3>
        <h1>h1. Improve your Security Operations <small>Insight and Automation</small></h1>
        <h2>h2. Improve your Security Operations <small>Insight and Automation</small></h2>
        <h3>h3. Improve your Security Operations <small>Insight and Automation</small></h3>
        <h4>h4. Improve your Security Operations <small>Insight and Automation</small></h4>
        <h5>h5. Improve your Security Operations <small>Insight and Automation</small></h5>
      </section>

      <section class="section">
        <h3 class="style-header">Typography: Anchors</h3>
        <div>
          <a href="#">Default</a>
          <span style="padding: 0 15px">|</span>
          <a href="#" class="disabled">Disabled</a>
        </div>
      </section>

      <section class="section">
        <h3 class="style-header">Typography: Paragraph</h3>
        <p>As cyber attacks continue to rise, organizations are investing heavily in attack identification, threat intelligence and the staff required to protect the enterprise. However, alerts are still going unresolved, and often unseen. Realizing that simply adding people does not solve the problem, organizations are choosing Swimlane for security automation and orchestration</p>
        <p>Swimlane consolidates security alerts from multiple sources and automatically assists organizations with the activities required to resolve alerts and stop attacks. The resolution of the alert can occur either automatically or manually by analyst intervention. Either way, the alert is resolved utilizing expert-defined processes, enabling the organization to cost-effectively close alerts.</p>
        <p class="hint">Paragraphs with the 'hint' class are styled smaller with italics.</p>
        <p class="thin">Paragraphs with the 'thin' class are light font weight.</p>
        <p class="ultra-thin">Paragraphs with the 'ultra-thin' class are extra light font weight.</p>
      </section>

      <section class="section">
        <h3 class="style-header">Typography: Lists</h3>

        <ol>
          <li>DDOS</li>
          <li>Malware</li>
          <li>Physical</li>
        </ol>

        <br />

        <ul>
          <li>DDOS</li>
          <li>Malware</li>
          <li>Physical</li>
        </ul>

        <br />

        <ul class="list-reset">
          <li>DDOS</li>
          <li>Malware</li>
          <li>Physical</li>
        </ul>

        <br />
        <p class="hint">Use <i>.list-reset</i> class to remove default styles</p>

      </section>

      <section class="section">
        <h3 class="style-header">Typography: Code</h3>
        <swui-code-highlight lang="javascript">
          <![CDATA[
          var foo;
          var bar;
          ]]>
        </swui-code-highlight>
      </section>
    </div>

    <!-- Icons -->
    <div *ngIf="state === 'icons'" class="inputs-section">
      <section class="section">
        <h3 class="style-header">Typography: Icons</h3>
        <ul class="icons-preview">
          <li *ngFor="let icon of icons" class="shadow-2 shadow-fx">
            <span class="icon-{{icon}} icon"></span>
            <span class="icon-name" dbl-click-copy>icon-{{icon}}</span>
          </li>
        </ul>
      </section>
    </div>

    <!-- Input Boxes -->
    <div *ngIf="state === 'inputs'" class="inputs-section">
      <section class="section">
        <h3 class="style-header">Inputs</h3>

        <h4>Text</h4>
        <input type="text" class="form-input" />
        <input type="text" class="form-input" value="pre populated" />
        <input type="text" class="form-input" placeholder="A placeholder" />
        <input type="text" class="form-input" value="disabled" disabled />
        <input type="tel" class="form-input" value="555-555-5555" />

        <h4>Textarea</h4>
        <textarea class="form-input"></textarea>

        <h4>Number</h4>
        <input type="number" class="form-input" />
      </section>
    </div>

    <!-- Components: Buttons -->
    <div *ngIf="state === 'buttons'">
      <section class="section">
        <h3 class="style-header">Buttons</h3>
        <a class="btn" href="#">Link</a>
        <button type="button" class="btn">Button</button>
        <button type="button" class="btn primary">Primary</button>
        <button type="button" class="btn warning">Warning</button>
        <button type="button" class="btn danger">Danger</button>
        <button type="button" class="btn link">Link</button>
        <button type="button" class="btn disabled">Disabled</button>
      </section>
    </div>

    <!-- Forms: Select -->
    <div *ngIf="state === 'selects'">
      <section class="section">
        <h3 class="style-header">Selects</h3>
        <select>
          <option>Hello</option>
        </select>
      </section>
    </div>

    <!-- Elements: Tables -->
    <div *ngIf="state === 'table'">
      <section class="section">
        <h3 class="style-header">Table</h3>

        <swui-section class="shadow" sectionTitle="Raw Table">
          <table>
            <caption>Attack Category Details</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Attack Type</th>
                <th>Date of Attack</th>
                <th>Origin of Attack</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Malware</td>
                <td>1/1/2011</td>
                <td>China</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>Russia</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>China</td>
              </tr>
            </tbody>
          </table>
        </swui-section>

        <swui-section class="shadow" sectionTitle="Formatted Table">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Attack Type</th>
                <th>Date of Attack</th>
                <th>Origin of Attack</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Malware</td>
                <td>1/1/2011</td>
                <td>China</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>Russia</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>China</td>
              </tr>
            </tbody>
          </table>
        </swui-section>

        <swui-section class="shadow" sectionTitle="Striped Table">
          <table class="table striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Attack Type</th>
                <th>Date of Attack</th>
                <th>Origin of Attack</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Malware</td>
                <td>1/1/2011</td>
                <td>China</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>Russia</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>DDOS</td>
                <td>1/5/2011</td>
                <td>China</td>
              </tr>
            </tbody>
          </table>
        </swui-section>

      </section>
    </div>

    <!-- Components: Section -->
    <div *ngIf="state === 'sections'">
      <section class="section">
        <h3 class="style-header">Section</h3>

        <swui-section class="shadow" [sectionTitle]="'Attack Details'">
          Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        </swui-section>

        <swui-section class="shadow">
          <swui-section-header>
            <h3 style="color:red;font-style:italic;">Attack Found!</h3>
            <a href="#" class="icon-apps" style="position:absolute;right:15px;top:1px;">List</a>
          </swui-section-header>
          Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Attack Details'" [sectionCollapsible]="false">
          Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        </swui-section>

        <swui-section class="shadow">
          Hash rm -rf gc Starcraft continue *.* d00dz deadlock snarf endif wannabee tera perl less bar strlen tarball bytes ban headers gnu brute force. All your base are belong to us semaphore exception giga highjack system mailbomb eaten by a grue error fopen null. James T. Kirk firewall recursively hello world man pages protected.
        </swui-section>

      </section>
    </div>

    <!-- Components: Slider -->
    <section class="section" *ngIf="state === 'slider'">
      <h3 class="style-header">Slider</h3>

      <swui-section class="shadow" [sectionTitle]="'Horizontal'">
        <swui-slider
          [value]="50"
          [step]="5"
          [filled]="true"
          [min]="10"
          [max]="200"
          (onChange)="sliderEvent1 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [filled]="true"
            [min]="10"
            [max]="200"
            (onChange)="sliderEvent1 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent1"
          [json]="sliderEvent1">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="50"
          [step]="5"
          [showTicks]="true"
          [tickStep]="25"
          [filled]="true"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent2 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [showTicks]="true"
            [tickStep]="25"
            [filled]="true"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent2 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent2"
          [json]="sliderEvent2">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [filled]="false"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent3 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent3 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent3"
          [json]="sliderEvent3">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [showTicks]="true"
          [filled]="false"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent4 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [showTicks]="true"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent4 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent4"
          [json]="sliderEvent4">
        </swui-code-highlight>
      </swui-section>

      <swui-section class="shadow" [sectionTitle]="'Vertical'">
        <swui-slider
          [value]="50"
          [step]="5"
          [orientation]="'vertical'"
          [filled]="true"
          [min]="10"
          [max]="200"
          (onChange)="sliderEvent5 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [filled]="true"
            [orientation]="'vertical'"
            [min]="10"
            [max]="200"
            (onChange)="sliderEvent5 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent5"
          [json]="sliderEvent5">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="50"
          [step]="5"
          [showTicks]="true"
          [tickStep]="25"
          [orientation]="'vertical'"
          [filled]="true"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent6 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [orientation]="'vertical'"
            [showTicks]="true"
            [tickStep]="25"
            [filled]="true"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent6 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent6"
          [json]="sliderEvent6">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [filled]="false"
          [min]="0"
          [orientation]="'vertical'"
          [max]="100"
          (onChange)="sliderEvent7 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [filled]="false"
            [orientation]="'vertical'"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent7 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent7"
          [json]="sliderEvent7">
        </swui-code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [showTicks]="true"
          [filled]="false"
          [orientation]="'vertical'"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent8 = $event">
        </swui-slider>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [orientation]="'vertical'"
            [step]="5"
            [showTicks]="true"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent8 = $event">
          </swui-slider>
          ]]>
        </swui-code-highlight>

        <swui-code-highlight
          *ngIf="sliderEvent8"
          [json]="sliderEvent8">
        </swui-code-highlight>
      </swui-section>

    </section>

    <!-- Components: Toolbar -->
    <section class="section" *ngIf="state === 'toolbar'">
      <h3 class="style-header">Toolbar</h3>

      <swui-section class="shadow" [sectionTitle]="'Title/Menu'">
        <swui-toolbar
          [title]="'Record'"
          [subtitle]="'IR-344'"
          [menu]="toolbarMenu"
          (onMenuClick)="menuClicked($event)">
        </swui-toolbar>
        <br />
        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-toolbar
            [title]="'Record'"
            [subtitle]="'IR-344'"
            [menu]="toolbarMenu"
            (onMenuClick)="menuClicked($event)">
          </swui-toolbar>
          ]]>
        </swui-code-highlight>
      </swui-section>

      <swui-section class="shadow" [sectionTitle]="'Dynamic Content'">
        <swui-toolbar>
          <swui-toolbar-title>
            <span class="tag">dynamic title</span>
          </swui-toolbar-title>
          <swui-toolbar-content>
            <i>dynamic content</i>
          </swui-toolbar-content>
        </swui-toolbar>
        <br />
        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-toolbar>
            <swui-toolbar-title>
              <span class="tag">dynamic title</span>
            </swui-toolbar-title>
            <swui-toolbar-content>
              <i>dynamic content</i>
            </swui-toolbar-content>
          </swui-toolbar>
          ]]>
        </swui-code-highlight>
      </swui-section>
    </section>

    <!-- Components: Date Time -->
    <section class="section" *ngIf="state === 'datetime'">
      <swui-section class="shadow" [sectionTitle]="'Calendar'">
        <swui-calendar
          name="calendar1"
          [(ngModel)]="curDate"
          (onSelect)="dateChanged($event)">
        </swui-calendar>

        <br />
        <br />

        <p>
          Current Date: <i>{{curDate}}</i>
          <span *ngIf="curDate1"><br /> Changed Date: <i>{{curDate1}}</i></span>
        </p>

        <swui-code-highlight
          *ngIf="curDate1"
          [json]="curDate1.toString()">
        </swui-code-highlight>
      </swui-section>

      <swui-section class="shadow" [sectionTitle]="'Calendar Input'">

        <swui-calendar-input
          name="calendar2"
          [(ngModel)]="curDate2"
          (onSelect)="dateChanged($event)">
        </swui-calendar-input>

      </swui-section>
    </section>

    <!-- Components: Tabs -->
    <section class="section" *ngIf="state === 'tabs'">
      <h3 class="style-header">Tabs</h3>

      <swui-section class="shadow" [sectionTitle]="'Demo'">
        <swui-tabs>
          <swui-tab [title]="'Tab 1'">
            Tab 1 Content
          </swui-tab>
          <swui-tab [title]="'Tab 2'">
            Tab 2 Content
          </swui-tab>
          <swui-tab [title]="'Tab 3'" [disabled]="true">
            Tab 3 Content
          </swui-tab>
        </swui-tabs>

        <swui-code-highlight lang="javascript">
          <![CDATA[
          <swui-tabs>
            <swui-tab [title]="'Tab 1'">
              Tab 1 Content
            </swui-tab>
            <swui-tab [title]="'Tab 2'">
              Tab 2 Content
            </swui-tab>
            <swui-tab [title]="'Tab 3'" [disabled]="true">
              Tab 3 Content
            </swui-tab>
          </swui-tabs>
          ]]>
        </swui-code-highlight>
      </swui-section>
    </section>

    <!-- Components: Code Editor -->
    <section class="section" *ngIf="state === 'codeEditor'">
      <h3 class="style-header">Code Editor</h3>

      <swui-section class="shadow" [sectionTitle]="'Demo'">
        <codemirror
          [(ngModel)]="code"
          [config]="editorConfig"
          (change)="editorResult = $event">
        </codemirror>

        <div *ngIf="editorResult">
          <br />
          <swui-code-highlight
            [json]="editorResult || {}">
          </swui-code-highlight>
        </div>

        <br />
        <swui-code-highlight lang="javascript">
          <![CDATA[
          <codemirror
            [(ngModel)]="code"
            [config]="editorConfig">
          </codemirror>
          ]]>
        </swui-code-highlight>
      </swui-section>
    </section>

    <!-- Components: Tooltip -->
    <div *ngIf="state === 'tooltip'">
      <section class="section">
        <h3 class="style-header">Tooltip</h3>

        <swui-section class="shadow" [sectionTitle]="'Tooltip'">
          <a
            href="#"
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTitle]="'Phishing Attack'">
            Top
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            [tooltipPlacement]="'right'"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTitle]="'Phishing Attack'">
            Right
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            [tooltipPlacement]="'bottom'"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTitle]="'Phishing Attack'">
            Bottom
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            [tooltipPlacement]="'left'"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTitle]="'Phishing Attack'">
            Left
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            [tooltipPlacement]="'top'"
            [tooltipAppendToBody]="false"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTitle]="dynamicVal">
            Sibling
          </a>

          <span style="padding: 0 15px">|</span>

          <template #toolTipTemplate>
            <strong style="color:red;">ALERT: High Priority</strong>
          </template>

          <a
            href="#"
            [tooltipPlacement]="'top'"
            [tooltipAppendToBody]="false"
            [tooltipType]="'tooltip'"
            swui-tooltip
            [tooltipTemplate]="toolTipTemplate">
            Template
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipPlacement]="'top'"
            [tooltipAppendToBody]="false"
            [tooltipType]="'tooltip'"
            [tooltipTitle]="'Suitably small values long sudo bar giga mutex tarball race condition <strong>January 1, 1970</strong>. <br />Case d00dz bytes eaten by a grue linux script kiddies hack the mainframe mailbomb highjack Linus Torvalds <br />snarf firewall false. Wannabee printf wombat back door fail terminal for warez James T. <br />Kirk /dev/null private void Starcraft do big-endian break spoof.'">
            Large HTML
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipPlacement]="'top'"
            [tooltipAppendToBody]="false"
            [tooltipType]="'tooltip'"
            [tooltipCssClass]="'demo-class demo-class2'"
            [tooltipTitle]="'Security breach!'">
            Custom Class
          </a>

        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Popover'">
          <template #popoverTemplate let-model="model">
            <h3>Tool tip custom content defined inside a template</h3>
            <p>With context binding: {{tooltipModel.text}}</p>
            <p *ngIf="model">Outside Context {{model.foo}}</p>
          </template>

          <a
            href="#"
            swui-tooltip
            [tooltipContext]="{ foo: 'YAZ' }"
            [tooltipType]="'popover'"
            [tooltipPlacement]="'top'"
            [tooltipTemplate]="popoverTemplate">
            Top
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'right'"
            [tooltipTemplate]="popoverTemplate">
            Right
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'bottom'"
            [tooltipTemplate]="popoverTemplate">
            Bottom
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'left'"
            [tooltipTemplate]="popoverTemplate">
            Left
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'top'"
            [tooltipShowEvent]="'focus'"
            [tooltipTemplate]="popoverTemplate">
            Focus
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'top'"
            [tooltipShowTimeout]="0"
            [tooltipHideTimeout]="0"
            [tooltipTemplate]="popoverTemplate">
            Immediate
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            [tooltipType]="'popover'"
            [tooltipPlacement]="'top'"
            [tooltipDisabled]="true"
            [tooltipTemplate]="popoverTemplate">
            Disabled
          </a>

          <span style="padding: 0 15px">|</span>

          <a
            href="#"
            swui-tooltip
            (onShow)="shown = 'Yay!'"
            (onHide)="shown = ''"
            [tooltipType]="'popover'"
            [tooltipPlacement]="'top'"
            [tooltipShowCaret]="false"
            [tooltipTemplate]="popoverTemplate">
            No Caret {{shown}}
          </a>
        </swui-section>
      </section>
    </div>

    <!-- Components: Dropdown -->
    <div *ngIf="state === 'dropdown'">
      <section class="section">
        <h3 class="style-header">Dropdown</h3>

        <swui-section class="shadow" [sectionTitle]="'Dropdown'">
          <swui-dropdown>
            <swui-dropdown-toggle>
              <button
                class="btn"
                type="button">
                Button List
              </button>
            </swui-dropdown-toggle>
            <swui-dropdown-menu>
              <ul class="list-reset">
                <li><button type="button" class="disabled">Button 1</button></li>
                <li><button type="button">Button 2</button></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#" class="disabled">Link 2</a></li>
              </ul>
            </swui-dropdown-menu>
          </swui-dropdown>

          <br />
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-dropdown>
              <swui-dropdown-toggle>
                <button
                  type="button">
                  Button List
                </button>
              </swui-dropdown-toggle>
              <swui-dropdown-menu>
                <ul>
                  <li class="disabled"><button type="button">Button 1</button></li>
                  <li><button type="button">Button 2</button></li>
                  <li><a href="#">Link 1</a></li>
                  <li class="disabled"><a href="#">Link 2</a></li>
                </ul>
              </swui-dropdown-menu>
            </swui-dropdown>
            ]]>
          </swui-code-highlight>

          <br />
          <br />
          <br />

          <swui-dropdown>
            <swui-dropdown-toggle>
              <button
                disabled
                class="btn"
                type="button">
                Disabled Button
              </button>
            </swui-dropdown-toggle>
            <swui-dropdown-menu>
              <ul>
                <li><button type="button" disabled>Button 1</button></li>
              </ul>
            </swui-dropdown-menu>
          </swui-dropdown>

          <br />
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-dropdown>
              <swui-dropdown-toggle>
                <button
                  disabled
                  type="button">
                  Disabled Button
                </button>
              </swui-dropdown-toggle>
              <swui-dropdown-menu>
                <ul>
                  <li><button type="button" disabled>Button 1</button></li>
                </ul>
              </swui-dropdown-menu>
            </swui-dropdown>
            ]]>
          </swui-code-highlight>
        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Dropdown Content'">
          <swui-dropdown>
            <swui-dropdown-toggle>
              <a href="#">
                Link Content
              </a>
            </swui-dropdown-toggle>
            <swui-dropdown-menu>
              <h1>Hello!</h1>
              <div>
                <ul>
                  <li><a href="#">Foo</a></li>
                </ul>
              </div>
            </swui-dropdown-menu>
          </swui-dropdown>

          <br />
          <br />
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-dropdown>
              <swui-dropdown-toggle>
                <a href="#">
                  Link Content
                </a>
              </swui-dropdown-toggle>
              <swui-dropdown-menu>
                <h1>Hello!</h1>
                <div>
                  <ul>
                    <li><a href="#">Foo</a></li>
                  </ul>
                </div>
              </swui-dropdown-menu>
            </swui-dropdown>
            ]]>
          </swui-code-highlight>

        </swui-section>
      </section>
    </div>

    <!-- Components: Drawer -->
    <div *ngIf="state === 'drawer'">
      <section class="section">
        <h3 class="style-header">Drawer</h3>

        <swui-section class="shadow" [sectionTitle]="'Demo'">
          <button
            type="button"
            class="btn"
            (click)="openDrawer('left')">
            Open Left Drawer
          </button>

          <button
            type="button"
            class="btn"
            (click)="openDrawer('bottom')">
            Open Bottom Drawer
          </button>

          <template #editTmpl>
            <swui-toolbar
              [title]="'Attack Alert!'">
            </swui-toolbar>
            <section class="section">
              <h1>Attack Type: Malware</h1>
              <button
                type="button"
                class="btn"
                (click)="openDrawer()">
                Open Details
              </button>
            </section>
          </template>

          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <button
              type="button"
              (click)="openDrawer('bottom')">
              Open Bottom Drawer
            </button>

            <template #editTmpl>
              <swui-toolbar
                [title]="'Attack Alert!'">
              </swui-toolbar>
              <section class="section">
                <h1>Attack Type: Malware</h1>
                <button
                  type="button"
                  class="btn"
                  (click)="openDrawer()">
                  Open Details
                </button>
              </section>
            </template>
            ]]>
          </swui-code-highlight>
        </swui-section>
      </section>
    </div>

    <!-- Components: Complexity -->
    <div *ngIf="state === 'complexity'">
      <section class="section">
        <h3 class="style-header">Complexity Meter</h3>

        <swui-section class="shadow" [sectionTitle]="'Demo'">
          <input type="text" (keyup)="passwordValue = $event.target.value" />

          <swui-complexity-meter
            [value]="passwordValue"
            (onChange)="passwordResult = $event">
          </swui-complexity-meter>

          <br />
          <br />

          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-complexity-meter
              [value]="passwordValue"
              (onChange)="passwordResult = $event">
            </swui-complexity-meter>
            ]]>
          </swui-code-highlight>

        </swui-section>

        <swui-section
          class="shadow"
          [sectionTitle]="'Results'"
          *ngIf="passwordResult && passwordResult.value.length">
          <swui-code-highlight
            [json]="passwordResult || {}">
          </swui-code-highlight>
        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Abstract'">
          <p>Password complexity is determined using <a href="https://github.com/dropbox/zxcvbn" target="_black">zxcvbn</a>
          which enforces passwords beyond simple min/max charaters/length. Scoring is based on:</p>
          <ol>
            <li>Word repitition</li>
            <li>Word Complexity such as length, capitalization, etc</li>
            <li>Black listing: Common words, names, dates and keyboard patterns</li>
            <li>Entropy to crack time</li>
          </ol>
        </swui-section>
      </section>
    </div>

    <!-- Components: Input -->
    <div *ngIf="state === 'input'">
      <section class="section">
        <h3 class="style-header">Inputs</h3>

        <swui-section class="shadow" [sectionTitle]="'Password'">
          {{usernameValue}}
          {{passwordValue}}
          <form action="#">
            <swui-input
              type="username"
              [label]="'Password'"
              [ngModel]="usernameValue"
              name="input5"
              [required]="true"
              [hint]="'Enter a Username'"
              (onChange)="usernameValue = $event">
            </swui-input>
            <swui-input
              type="password"
              [label]="'Password'"
              [ngModel]="passwordValue"
              name="input5"
              [required]="true"
              [hint]="'Enter a password'"
              (onChange)="passwordValue = $event">
            </swui-input>
            <input type="submit" value="Login" />
          </form>
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="password"
              [label]="'Password'"
              [ngModel]="passwordValue"
              [required]="true"
              [hint]="'Enter a password'"
              (onChange)="passwordValue = $event">
            </swui-input>
            ]]>

          </swui-code-highlight>
        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Text'">
          <swui-input
            type="text"
            name="input1"
            [label]="'Name'"
            [ngModel]="inputValue"
            [hint]="'Enter your first and last name'"
            (onChange)="inputValue = $event">
          </swui-input>
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="text"
              [label]="'Name'"
              [ngModel]="inputValue"
              [hint]="'Enter your first and last name'"
              (onChange)="inputValue = $event">
            </swui-input>
            ]]>
          </swui-code-highlight>
          <br />

          <swui-input
            type="text"
            name="input2"
            [ngModel]="inputValue1"
            [placeholder]="'Enter your first and last name'"
            (onChange)="inputValue = $event">
          </swui-input>
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="text"
              [ngModel]="inputValue1"
              [placeholder]="'Enter your first and last name'"
              (onChange)="inputValue = $event">
            </swui-input>
            ]]>
          </swui-code-highlight>
          <br />

          <swui-input
            type="text"
            name="input3"
            [label]="'Disabled Example'"
            [disabled]="true"
            [ngModel]="'Disabled value'"
            (onChange)="inputValue1 = $event">
          </swui-input>
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="text"
              [label]="'Disabled Example'"
              [disabled]="true"
              [ngModel]="'Disabled value'"
              (onChange)="inputValue1 = $event">
            </swui-input>
            ]]>
          </swui-code-highlight>
          <br />

          <swui-input
            [label]="'Required Input Example Of The Day'"
            type="text"
            name="input4"
            [required]="true"
            (onChange)="inputValue3 = $event">
          </swui-input>
          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              [label]="'Required Input Example Of The Day'"
              type="text"
              [required]="true"
              (onChange)="inputValue3 = $event">
            </swui-input>
            ]]>
          </swui-code-highlight>

        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Password'">
          <swui-input
            type="password"
            [label]="'Password'"
            [ngModel]="passwordValue"
            name="input5"
            [required]="true"
            [hint]="'Enter a password'"
            (onChange)="passwordValue = $event">
          </swui-input>

          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="password"
              [label]="'Password'"
              [ngModel]="passwordValue"
              [required]="true"
              [hint]="'Enter a password'"
              (onChange)="passwordValue = $event">
            </swui-input>
            ]]>

          </swui-code-highlight>
        </swui-section>

        <swui-section class="shadow" [sectionTitle]="'Numeric'">
          <swui-input
            type="number"
            [label]="'Age'"
            [ngModel]="numericValue"
            name="input6"
            (onChange)="numericValue = $event">
          </swui-input>

          <br />
          <swui-code-highlight lang="javascript">
            <![CDATA[
            <swui-input
              type="number"
              [label]="'Age'"
              [ngModel]="numericValue"
              (onChange)="numericValue = $event">
            </swui-input>
            ]]>
          </swui-code-highlight>
        </swui-section>
      </section>
    </div>

  </div>
</main>
