<div class="inputs-section"> 
  <h3 class="style-header">Tags</h3>

  <ngx-section class="shadow" sectionTitle="Styles">
    <span class="tag">Default</span>
    <span class="tag tag-filled">Filled</span>
    <span class="tag tag-bordered">Bordered</span>
    <br />
    <ngx-codemirror mode="htmlmixed" readOnly="true">
      <![CDATA[
        <span class="tag">Default</span>
        <span class="tag tag-filled">Filled</span>
        <span class="tag tag-bordered">Bordered</span>
      ]]>
    </ngx-codemirror>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Sizes">
    <span class="tag tag-small">Small</span>
    <span class="tag">Default</span>
    <span class="tag tag-large">Large</span>
    <br />
    <ngx-codemirror mode="htmlmixed" readOnly="true">
      <![CDATA[
        <span class="tag tag-small">Small</span>
        <span class="tag">Default</span>
        <span class="tag tag-large">Large</span>
      ]]>
    </ngx-codemirror>
  </ngx-section>
</div>