.appearance-table {
  width: 100%;
  max-width: unset;

  tr td {
    height: 250px;
    width: 25%;
    vertical-align: top;
  }
}

.content {
  cursor: pointer;
  display: block;
  margin-block: 1rem;
}

.content:last-of-type {
  margin-bottom: 2rem;
}

.docs-table {
  th,
  td {
    width: 50%;
  }
}
