.night-theme,
.moonlight-theme {
  background: $color-blue-grey-850;
  color: $color-blue-grey-050;
}

.moonlight-theme {
  background: $bg-radial-2;
  background-size: cover;
  background-repeat: no-repeat;
}
