.night-theme,
.moonlight-theme {
  background: $color-blue-grey-800;
  color: $color-grey-100;
}

.moonlight-theme {
  background: $bg-radial-2;
  background-size: cover;
  background-repeat: no-repeat;
}
