<h3 class="style-header">Drawer</h3>

<ngx-section class="shadow" [sectionTitle]="'Default'">
  <button type="button" class="btn" (click)="openDrawer(DrawerDirection.Left, 70)">
    Open Left Drawer
  </button>

  <button type="button" class="btn" (click)="openDrawer(DrawerDirection.Bottom)">
    Open Bottom Drawer
  </button>

  <ng-template #editTmpl let-context="context">
    <ngx-toolbar [mainTitle]="context">
    </ngx-toolbar>
    <section class="section">
      <h1>Attack Type: Malware</h1>
      <button type="button" class="btn" (click)="openDrawer()">
        Open Details
      </button>

      <ngx-date-time name="calendar-input1" [label]="'Date of attack'" [(ngModel)]="curDate2" (change)="dateChanged($event)">
      </ngx-date-time>
    </section>
  </ng-template>

  <br />
  <br />
  <br />
  <ngx-tabs>
    <ngx-tab label="Markup">
      <ngx-codemirror mode="htmlmixed" readOnly="true">
        <![CDATA[
          <button
            type="button"
            (click)="openDrawer('bottom')">
            Open Bottom Drawer
          </button>

          <ng-template #editTmpl>
            <ngx-toolbar
              [mainTitle]="'Attack Alert!'">
            </ngx-toolbar>
            <section class="section">
              <h1>Attack Type: Malware</h1>
              <button
                type="button"
                class="btn"
                (click)="openDrawer()">
                Open Details
              </button>
            </section>
        </ng-template>
        ]]>
      </ngx-codemirror>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <ngx-codemirror mode="javascript" readOnly="true">
        <![CDATA[
          @Component({ selector: 'app' })
          class MyComponent {
            @ViewChild('editTmpl', { static: false }) editTmpl: TemplateRef<any>;

            constructor(private drawerMngr: DrawerService) { }

            openDrawer(direction = 'left', size = 80) {
              this.drawerMngr.create({
                direction,
                template: this.editTmpl,
                size,
                context: 'Alert Everyone!'
              });
            }
          }
        ]]>
      </ngx-codemirror>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Disabling close on outside click'">
    <button type="button" class="btn" (click)="openDrawer(DrawerDirection.Left, 70, false, editTmpl2)">
      Open Left Drawer
    </button>

    <button type="button" class="btn" (click)="openDrawer(DrawerDirection.Bottom, undefined, false, editTmpl2)">
      Open Bottom Drawer
    </button>

    <ng-template #editTmpl2 let-context="context" let-close="close">
      <ngx-toolbar [mainTitle]="context">
      </ngx-toolbar>
      <section class="section">
        <h1>Attack Type: Malware </h1>
        <button type="button" class="btn" (click)="openDrawer(undefined, undefined, false, editTmpl2)">
          Open Details
        </button>

        <ngx-date-time name="calendar-input1" [label]="'Date of attack'" [(ngModel)]="curDate2" (change)="dateChanged($event)">
        </ngx-date-time>
        <button type="button" class="btn" (click)="close.emit(true)">
          Close
        </button>
      </section>
    </ng-template>

    <br />
    <br />
    <br />
    <ngx-tabs>
      <ngx-tab label="Markup">
        <ngx-codemirror mode="htmlmixed" readOnly="true">
          <![CDATA[
            <button
              type="button"
              (click)="openDrawer('bottom', undefined, false, editTmpl2)">
              Open Bottom Drawer
            </button>

            <ng-template #editTmpl2 let-context="context" let-close="close">
              <ngx-toolbar
                [mainTitle]="'Attack Alert!'">
              </ngx-toolbar>
              <section class="section">
                <h1>Attack Type: Malware</h1>
                <button
                  type="button"
                  class="btn"
                  (click)="openDrawer(undefined, undefined, false, editTmpl2)">
                  Open Details
                </button>
                <button type="button" class="btn" (click)="close.emit(true)">
                  Close
                </button>
              </section>
          </ng-template>
          ]]>
        </ngx-codemirror>
      </ngx-tab>
      <ngx-tab label="TypeScript">
        <ngx-codemirror mode="javascript" readOnly="true">
          <![CDATA[
            @Component({ selector: 'app' })
            class MyComponent {
              @ViewChild('editTmpl', { static: false }) editTmpl: TemplateRef<any>;

              constructor(private drawerMngr: DrawerService) { }

              openDrawer(direction = 'left', size?, closeOnOutsideClick = true, template = this.editTmpl) {
                this.drawerMngr.create({
                  direction,
                  template,
                  size,
                  context: 'Alert Everyone!',
                  closeOnOutsideClick
                });
              }
            }
          ]]>
        </ngx-codemirror>
      </ngx-tab>
    </ngx-tabs>
  </ngx-section>
