:host {
  display: block;
  position: relative;

  .drawer-page--parent-container {
    width: 100%;
    height: 500px;
    background-color: #272936;

    > div {
      height: 100%;
    }
  }
}

.methods-table {
  th,
  td {
    width: 33.333%;
  }
}
