:host {
  display: block;
  position: relative;

  .drawer-page--parent-container {
    width: 100%;
    height: 500px;
    background-color: #272936;

    > div {
      height: 100%;
    }
  }
}

.content {
  cursor: pointer;
  display: block;
  margin-block: 1rem;
}

.content:last-of-type {
  margin-bottom: 2rem;
}

th,
td {
  width: 50%;
}

.methods-table {
  th,
  td {
    width: 33.333%;
  }
}
