@import "colors/index";
@import "forms/inputs";
@import "input/input";

$color-group-bg: #282e40;
$color-dropdown-bg: $color-bg-dark;
$color-hover-bg: $color-bg-med;
$color-placeholder-text: $color-text-med;
$color-caret-bg: $color-text-med;

.ngx-select {
  position: relative;
  display: inline-block;
  min-width: 300px;

  &.active {
    .ngx-select-input {   
      .ngx-select-input-underline {
        .underline-fill {
          width: 100%;
        }
      }
    }

    .ngx-select-dropdown {
      display: block;
      opacity: 1;
      animation: openAnimation 0.25s;
    }
  }

  &.disabled {
    .ngx-select-input {
      .ngx-select-input-box {
        cursor: not-allowed;
      }
    }
  }

  // Input
  .ngx-select-input {
    display: block;
    position: relative;

    .ngx-select-input-box {
      background: transparent;
      border: none;
      margin-bottom: 0;
      padding-left: 0;
      width: 100%;
      color: $color-input-text;
      font-size: 16px;
      min-height: 35px;
      line-height: 35px;
      cursor: pointer;

      .ng-select-text-box {
        width: 4px; 
        opacity: 0; 
        position: absolute; 

        &:focus {
          outline: none;
        }
      }
    }
    
    .ngx-select-input-underline {
      width: 100%;
      height: 1px;
      background-color: $input-inactive-underline-fill;

      .underline-fill {
        background-color: $input-active-underline-fill;
        transition: width 250ms ease-out;
        width: 0;
        height: 2px;
        margin: 0 auto;
      }
    }

    .ngx-select-caret {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      color: $color-caret-bg;
      font-size: 12px;
    }

    .ngx-select-placeholder {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      color: $color-placeholder-text;
    }
  }

  // Dropdown
  .ngx-select-dropdown {
    position: absolute;
    clear: left;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 300px;
    background: $color-dropdown-bg;
    box-shadow: $shadow-3;
    margin-top: 10px;
    opacity: 0;
    display: none;
    transition: visibility 0s, opacity .25s ease-out;

    .ngx-select-dropdown-options {
      .ngx-select-dropdown-option {
        padding: 7px 15px;
        font-size: 16px;

        &:not(.disabled) {
          cursor: pointer;

          &:not(.active) {
            &:hover {
              background: $color-hover-bg;
            }
          }
        }

        &.active {
          background: $color-blue;
          color: $color-white;
        }
      }
    }

    &.groupings {
      .ngx-select-option-group {
        .ngx-select-option-group-name {
          padding: 7px 15px;
          font-size: 18px;
          display: block;
          background: $color-group-bg;
          font-weight: bold;
        }
      }

      .ngx-select-dropdown-options {
        .ngx-select-dropdown-option {
          padding: 7px 25px;

          &:last-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  @keyframes openAnimation {
    0%   { transform: translateY(-25px); }
    100% { transform: translateY(0px); }
  }

}