<h3 class="style-header">Alert/Confirm</h3>
<ngx-section class="shadow" [sectionTitle]="'Alerts'">

  <button type="button" class="btn"
    (click)="alertService.alert({ title: 'Alert SOC', content: 'Intrusion Happened!!!' })">
    Info
  </button>

  <button type="button" class="btn" (click)="alertService.alert({ title: 'Alert SOC', style: AlertStyles.Danger })">
    Danger
  </button>

  <button type="button" class="btn"
    (click)="alertService.alert({ title: 'Alert SOC', style: AlertStyles.Warning, content: 'Intrusion Happened!!!' })">
    Warning
  </button>

  <button type="button" class="btn"
    (click)="alertService.alert({ title: 'Rainbows!!!', cssClass: 'rainbows' })">
    Custom CSS
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<button
  type="button"
  (click)="alertService.alert({ title: 'Alert SOC', content: 'Intrusion Happened!!!' })">
  Info
</button>

<button
  type="button"
  (click)="alertService.alert({ title: 'Alert SOC', style: AlertStyles.Danger })">
  Danger
</button>

<button
  type="button"
  (click)="alertService.alert({ title: 'Alert SOC', style: AlertStyles.Warning, content: 'Intrusion Happened!!!' })">
  Warning
</button>

<button type="button" class="btn"
  (click)="alertService.alert({ title: 'Rainbows!!!', cssClass: 'rainbows' })">
  Custom CSS
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { AlertService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  constructor(public alertService: AlertService) { }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>

</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Confirm'">

  <button type="button" class="btn"
    (click)="alertService.confirm({ title: 'Alert SOC', content: 'Intrusion Happened!!!' })">
    Confirm
  </button>

  <button type="button" class="btn"
    (click)="alertService.confirm({ title: 'Alert SOC', content: 'Intrusion Happened!!!', longPress: true })">
    Confirm with Long Press
  </button>

  <button type="button" class="btn"
    (click)="alertService.confirm({ title: 'Save your pending changes?', confirmButtonText: 'Yes!', cancelButtonText: 'Dismiss' })">
    Custom actions text
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<button
  type="button"
  (click)="alertService.confirm({ title: 'Alert SOC', content: 'Intrusion Happened!!!' })">
  Confirm
</button>

<button
  type="button"
  (click)="alertService.confirm({ title: 'Alert SOC', content: 'Intrusion Happened!!!',  longPress: true })">
  Confirm with Long Press
</button>

<button type="button" class="btn"
  (click)="alertService.confirm({ title: 'Save your pending changes?', confirmButtonText: 'Yes!', cancelButtonText: 'Dismiss' })">
  Custom actions text
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { AlertService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  constructor(public alertService: AlertService) { }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>

</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Prompt'">

  <button type="button" class="btn" (click)="onPromptClick()">
    Prompt
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<button
  type="button"
  (click)="onPromptClick()">
  Prompt
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { AlertService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  constructor(public alertService: AlertService) { }

  onPromptClick() {
    const subject = this.alertService.prompt({
      title: 'Alert SOC',
      content: 'What type of compromise?'
    });

    console.log('Prompt subject', subject);

    subject.subscribe({
      next: (v) => console.log('Prompt next', v),
      error: (err) => console.log('Prompt err', err),
      complete: (v) => console.log('Complete', v)
    });
  }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>
