<h3 class="style-header">Lists</h3>

<ngx-section class="shadow" [sectionTitle]="'Simple'">
  <h3>Ordered</h3>
  <ol>
    <li>DDOS</li>
    <li>Malware</li>
    <li>Physical</li>
  </ol>

  <app-prism>
<![CDATA[<ol>
  <li>DDOS</li>
  <li>Malware</li>
  <li>Physical</li>
</ol>]]>
  </app-prism>

  <br />
  <br />

  <h3>Unordered</h3>
  <ul>
    <li>DDOS</li>
    <li>Malware</li>
    <li>Physical</li>
  </ul>
  <app-prism>
<![CDATA[<ul>
  <li>DDOS</li>
  <li>Malware</li>
  <li>Physical</li>
</ul>]]>
  </app-prism>

  <br />
  <h3>Reset</h3>
  <p class="hint">Use
    <i>.list-reset</i> class to remove default styles</p>

  <ul class="list-reset">
    <li>DDOS</li>
    <li>Malware</li>
    <li>Physical</li>
  </ul>
  <app-prism>
<![CDATA[<ul class="list-reset">
  <li>DDOS</li>
  <li>Malware</li>
  <li>Physical</li>
</ul>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Vertical List'">
  <ul class="vertical-list">
    <li>File</li>
    <li>
      <button type="button">Edit</button>
    </li>
    <li>
      <a href="/">Apply</a>
    </li>
    <li>
      <button type="button" class="btn btn-primary">Close</button>
    </li>
  </ul>

  <app-prism>
<![CDATA[<ul class="vertical-list">
  <li>File</li>
  <li><button type="button">Edit</button></li>
  <li><a href="/">Apply</a></li>
  <li><button type="button" class="btn btn-primary">Close</button></li>
</ul>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Horizontal List'">
  <ul class="horizontal-list">
    <li>File</li>
    <li>
      <button type="button">Edit</button>
    </li>
    <li>
      <a href="/">Apply</a>
    </li>
    <li>
      <button type="button" class="btn btn-primary">Close</button>
    </li>
  </ul>

  <app-prism>
<![CDATA[<ul class="horizontal-list">
  <li>File</li>
  <li><button type="button">Edit</button></li>
  <li><a href="/">Apply</a></li>
  <li><button type="button" class="btn btn-primary">Close</button></li>
</ul>]]>
  </app-prism>
</ngx-section>