@font-face {
  font-family: "icon";
  src: url("~assets/fonts/icons/icon.eot?8f32df8401ae790941668d15575b53ca?#iefix") format("embedded-opentype"),
url("~assets/fonts/icons/icon.woff2?8f32df8401ae790941668d15575b53ca") format("woff2"),
url("~assets/fonts/icons/icon.woff?8f32df8401ae790941668d15575b53ca") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*="icon-"]:before {
  font-family: "icon"  !important;
  speak: none;
  line-height: 1;

  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  text-decoration: none !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3d-rotate:before {
  content: "\f101";
}
.icon-add-circle-filled:before {
  content: "\f102";
}
.icon-add-circle:before {
  content: "\f103";
}
.icon-add-edge:before {
  content: "\f104";
}
.icon-add-new:before {
  content: "\f105";
}
.icon-add-node:before {
  content: "\f106";
}
.icon-advanced-pie:before {
  content: "\f107";
}
.icon-app-store:before {
  content: "\f108";
}
.icon-apps-grid:before {
  content: "\f109";
}
.icon-apps:before {
  content: "\f10a";
}
.icon-area-chart:before {
  content: "\f10b";
}
.icon-arrow-down:before {
  content: "\f10c";
}
.icon-arrow-left:before {
  content: "\f10d";
}
.icon-arrow-right:before {
  content: "\f10e";
}
.icon-arrow-up:before {
  content: "\f10f";
}
.icon-assets:before {
  content: "\f110";
}
.icon-attachment:before {
  content: "\f111";
}
.icon-back-arrow:before {
  content: "\f112";
}
.icon-bars:before {
  content: "\f113";
}
.icon-bell:before {
  content: "\f114";
}
.icon-bold:before {
  content: "\f115";
}
.icon-bolt:before {
  content: "\f116";
}
.icon-broom:before {
  content: "\f117";
}
.icon-browser-size:before {
  content: "\f118";
}
.icon-bug:before {
  content: "\f119";
}
.icon-builder:before {
  content: "\f11a";
}
.icon-calendar-clock:before {
  content: "\f11b";
}
.icon-calendar:before {
  content: "\f11c";
}
.icon-calender-clock:before {
  content: "\f11d";
}
.icon-cards:before {
  content: "\f11e";
}
.icon-center-align:before {
  content: "\f11f";
}
.icon-chart-area:before {
  content: "\f120";
}
.icon-chart-bar-bar:before {
  content: "\f121";
}
.icon-chart-bar-horizontal:before {
  content: "\f122";
}
.icon-chart-bubble:before {
  content: "\f123";
}
.icon-chart-donut:before {
  content: "\f124";
}
.icon-chart-full-stacked-area:before {
  content: "\f125";
}
.icon-chart-heat:before {
  content: "\f126";
}
.icon-chart-horz-bar:before {
  content: "\f127";
}
.icon-chart-horz-full-stack-bar:before {
  content: "\f128";
}
.icon-chart-number-card:before {
  content: "\f129";
}
.icon-chart-pie-grid:before {
  content: "\f12a";
}
.icon-chart-pie:before {
  content: "\f12b";
}
.icon-chart-scatter:before {
  content: "\f12c";
}
.icon-chart-stacked-area:before {
  content: "\f12d";
}
.icon-chart-vert-bar:before {
  content: "\f12e";
}
.icon-chart-vert-bar2:before {
  content: "\f12f";
}
.icon-chart-vert-stacked-bar:before {
  content: "\f130";
}
.icon-check-filled:before {
  content: "\f131";
}
.icon-check-square-filled:before {
  content: "\f132";
}
.icon-check:before {
  content: "\f133";
}
.icon-circle-filled:before {
  content: "\f134";
}
.icon-circle:before {
  content: "\f135";
}
.icon-circles:before {
  content: "\f136";
}
.icon-circuit-board:before {
  content: "\f137";
}
.icon-clipboard:before {
  content: "\f138";
}
.icon-clock:before {
  content: "\f139";
}
.icon-cloud-download:before {
  content: "\f13a";
}
.icon-cloud-upload:before {
  content: "\f13b";
}
.icon-code:before {
  content: "\f13c";
}
.icon-cog:before {
  content: "\f13d";
}
.icon-commandline:before {
  content: "\f13e";
}
.icon-comments:before {
  content: "\f13f";
}
.icon-copy-app:before {
  content: "\f140";
}
.icon-copy-filled:before {
  content: "\f141";
}
.icon-copy:before {
  content: "\f142";
}
.icon-credit-card:before {
  content: "\f143";
}
.icon-dashboard:before {
  content: "\f144";
}
.icon-database:before {
  content: "\f145";
}
.icon-devil:before {
  content: "\f146";
}
.icon-document:before {
  content: "\f147";
}
.icon-domain:before {
  content: "\f148";
}
.icon-dots-horz:before {
  content: "\f149";
}
.icon-dots-vert:before {
  content: "\f14a";
}
.icon-double-down:before {
  content: "\f14b";
}
.icon-double-left:before {
  content: "\f14c";
}
.icon-double-right:before {
  content: "\f14d";
}
.icon-double-up:before {
  content: "\f14e";
}
.icon-edit-app:before {
  content: "\f14f";
}
.icon-edit:before {
  content: "\f150";
}
.icon-email:before {
  content: "\f151";
}
.icon-expand:before {
  content: "\f152";
}
.icon-explore:before {
  content: "\f153";
}
.icon-export-filled:before {
  content: "\f154";
}
.icon-export:before {
  content: "\f155";
}
.icon-eye-disabled:before {
  content: "\f156";
}
.icon-eye:before {
  content: "\f157";
}
.icon-field-created-by:before {
  content: "\f158";
}
.icon-field-created-date:before {
  content: "\f159";
}
.icon-field-date:before {
  content: "\f15a";
}
.icon-field-edited-by:before {
  content: "\f15b";
}
.icon-field-edited-date:before {
  content: "\f15c";
}
.icon-field-grid:before {
  content: "\f15d";
}
.icon-field-html:before {
  content: "\f15e";
}
.icon-field-json:before {
  content: "\f15f";
}
.icon-field-list:before {
  content: "\f160";
}
.icon-field-multiselect:before {
  content: "\f161";
}
.icon-field-numeric:before {
  content: "\f162";
}
.icon-field-richtext:before {
  content: "\f163";
}
.icon-field-single-select:before {
  content: "\f164";
}
.icon-field-singleline:before {
  content: "\f165";
}
.icon-field-text:before {
  content: "\f166";
}
.icon-field-textarea:before {
  content: "\f167";
}
.icon-field-users:before {
  content: "\f168";
}
.icon-filter-bar:before {
  content: "\f169";
}
.icon-filter:before {
  content: "\f16a";
}
.icon-find-page:before {
  content: "\f16b";
}
.icon-flame:before {
  content: "\f16c";
}
.icon-folder:before {
  content: "\f16d";
}
.icon-folders:before {
  content: "\f16e";
}
.icon-font:before {
  content: "\f16f";
}
.icon-format-indent-decrease:before {
  content: "\f170";
}
.icon-format-indent-increase:before {
  content: "\f171";
}
.icon-formula:before {
  content: "\f172";
}
.icon-full-align:before {
  content: "\f173";
}
.icon-gauge:before {
  content: "\f174";
}
.icon-gear-square:before {
  content: "\f175";
}
.icon-gear:before {
  content: "\f176";
}
.icon-globe:before {
  content: "\f177";
}
.icon-graph:before {
  content: "\f178";
}
.icon-grid-view:before {
  content: "\f179";
}
.icon-guage:before {
  content: "\f17a";
}
.icon-hand:before {
  content: "\f17b";
}
.icon-handle:before {
  content: "\f17c";
}
.icon-heat:before {
  content: "\f17d";
}
.icon-helper:before {
  content: "\f17e";
}
.icon-history:before {
  content: "\f17f";
}
.icon-horz-bar-graph-grouped:before {
  content: "\f180";
}
.icon-horz-stacked-bar:before {
  content: "\f181";
}
.icon-html-code:before {
  content: "\f182";
}
.icon-info-fulled:before {
  content: "\f183";
}
.icon-inspect:before {
  content: "\f184";
}
.icon-integration:before {
  content: "\f185";
}
.icon-integrations:before {
  content: "\f186";
}
.icon-ip:before {
  content: "\f187";
}
.icon-italic:before {
  content: "\f188";
}
.icon-keyboard:before {
  content: "\f189";
}
.icon-layer:before {
  content: "\f18a";
}
.icon-left-align:before {
  content: "\f18b";
}
.icon-line-chart:before {
  content: "\f18c";
}
.icon-line-graph:before {
  content: "\f18d";
}
.icon-linear-gauge:before {
  content: "\f18e";
}
.icon-link:before {
  content: "\f18f";
}
.icon-list-1:before {
  content: "\f190";
}
.icon-list-view:before {
  content: "\f191";
}
.icon-list:before {
  content: "\f192";
}
.icon-loading:before {
  content: "\f193";
}
.icon-location:before {
  content: "\f194";
}
.icon-lock:before {
  content: "\f195";
}
.icon-logo:before {
  content: "\f196";
}
.icon-mail:before {
  content: "\f197";
}
.icon-map:before {
  content: "\f198";
}
.icon-menu:before {
  content: "\f199";
}
.icon-mic:before {
  content: "\f19a";
}
.icon-minus:before {
  content: "\f19b";
}
.icon-money:before {
  content: "\f19c";
}
.icon-multi-line:before {
  content: "\f19d";
}
.icon-new-app:before {
  content: "\f19e";
}
.icon-numbered-list:before {
  content: "\f19f";
}
.icon-open:before {
  content: "\f1a0";
}
.icon-paragraph:before {
  content: "\f1a1";
}
.icon-pause:before {
  content: "\f1a2";
}
.icon-phone:before {
  content: "\f1a3";
}
.icon-pie-chart:before {
  content: "\f1a4";
}
.icon-pin:before {
  content: "\f1a5";
}
.icon-plan:before {
  content: "\f1a6";
}
.icon-play:before {
  content: "\f1a7";
}
.icon-plus:before {
  content: "\f1a8";
}
.icon-prev:before {
  content: "\f1a9";
}
.icon-printer:before {
  content: "\f1aa";
}
.icon-profile-filled:before {
  content: "\f1ab";
}
.icon-profile:before {
  content: "\f1ac";
}
.icon-question-filled:before {
  content: "\f1ad";
}
.icon-question:before {
  content: "\f1ae";
}
.icon-radio-button:before {
  content: "\f1af";
}
.icon-reference:before {
  content: "\f1b0";
}
.icon-refresh-circle:before {
  content: "\f1b1";
}
.icon-refresh:before {
  content: "\f1b2";
}
.icon-remove-edge:before {
  content: "\f1b3";
}
.icon-remove-node:before {
  content: "\f1b4";
}
.icon-remove-users:before {
  content: "\f1b5";
}
.icon-reports:before {
  content: "\f1b6";
}
.icon-right-align:before {
  content: "\f1b7";
}
.icon-rocket:before {
  content: "\f1b8";
}
.icon-rotate:before {
  content: "\f1b9";
}
.icon-save:before {
  content: "\f1ba";
}
.icon-screen:before {
  content: "\f1bb";
}
.icon-search:before {
  content: "\f1bc";
}
.icon-section:before {
  content: "\f1bd";
}
.icon-select-all:before {
  content: "\f1be";
}
.icon-server:before {
  content: "\f1bf";
}
.icon-shield:before {
  content: "\f1c0";
}
.icon-shrink:before {
  content: "\f1c1";
}
.icon-skip:before {
  content: "\f1c2";
}
.icon-smartphone:before {
  content: "\f1c3";
}
.icon-smiley-frown:before {
  content: "\f1c4";
}
.icon-snapshot:before {
  content: "\f1c5";
}
.icon-split-handle:before {
  content: "\f1c6";
}
.icon-square-filled:before {
  content: "\f1c7";
}
.icon-square:before {
  content: "\f1c8";
}
.icon-star-filled:before {
  content: "\f1c9";
}
.icon-star:before {
  content: "\f1ca";
}
.icon-stopwatch:before {
  content: "\f1cb";
}
.icon-superscript:before {
  content: "\f1cc";
}
.icon-switch:before {
  content: "\f1cd";
}
.icon-table:before {
  content: "\f1ce";
}
.icon-tabs:before {
  content: "\f1cf";
}
.icon-trash:before {
  content: "\f1d0";
}
.icon-tree-collapse:before {
  content: "\f1d1";
}
.icon-tree-expand:before {
  content: "\f1d2";
}
.icon-tree:before {
  content: "\f1d3";
}
.icon-trending:before {
  content: "\f1d4";
}
.icon-underline:before {
  content: "\f1d5";
}
.icon-upload-app:before {
  content: "\f1d6";
}
.icon-user-add:before {
  content: "\f1d7";
}
.icon-user-circle:before {
  content: "\f1d8";
}
.icon-user-groups:before {
  content: "\f1d9";
}
.icon-user:before {
  content: "\f1da";
}
.icon-users:before {
  content: "\f1db";
}
.icon-vert-bar-graph-grouped:before {
  content: "\f1dc";
}
.icon-vert-full-stack-bar:before {
  content: "\f1dd";
}
.icon-wand:before {
  content: "\f1de";
}
.icon-workflow:before {
  content: "\f1df";
}
.icon-workspaces:before {
  content: "\f1e0";
}
.icon-workstation:before {
  content: "\f1e1";
}
.icon-wrench:before {
  content: "\f1e2";
}
.icon-x-filled:before {
  content: "\f1e3";
}
.icon-x:before {
  content: "\f1e4";
}
