@import "colors/index";

$calendar-bg: $color-bg-med;
$calendar-title-bg: $color-bg-light;
$calendar-hover-bg:  $color-blue-med;
$calendar-active-bg:  $color-blue;
$calendar-active-text: $color-white;
$calendar-day-text: $color-text-med;

.swui-calendar {
  position: relative;
  font-size: .9rem;
  box-shadow: $shadow-3;
  background: $calendar-bg;
  display: inline-block;

  td {
    text-align: center;
  }

  .title-row {
    background: $calendar-title-bg;
    padding: .4rem .5rem;
    font-weight: 500;
    line-height: 1.8rem;

    .next-month,
    .prev-month {
      line-height: 1.2rem;
      font-size: 1.2rem;
    }
  }

  table {
    margin: .5rem;
  }

  .day-name-row {
    color: $calendar-day-text;

    td {
      line-height: 1.8rem;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .week-row {
    td {
      padding: .3rem;
    }

    button {
      color: $calendar-active-text;
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1.8rem;
      border-radius: 50%;
      text-align: center;
      transition: background 200ms;

      &.prev-month,
      &.next-month {
        color: $calendar-day-text;
      }

      &.current-day {
        background: $calendar-active-bg;
      }

      &:hover:not(.current-day) {
        background: $calendar-hover-bg;
      }
    }
  }
}
