<h3 class="style-header">Checkbox</h3>

<ngx-section class="shadow" sectionTitle="Demo">
  <h3>Simple</h3>
  <ngx-checkbox name="chk1" [ngModel]="true">
    Alert the SOC
  </ngx-checkbox>

  <app-prism>
<![CDATA[<ngx-checkbox
  name="chk1"
  [ngModel]="true"
>
  Alert the SOC
</ngx-checkbox>]]>
  </app-prism>

  <br />
  <br />

  <ngx-checkbox name="chk2" [ngModel]="true" disabled>
    Alert the SOC
  </ngx-checkbox>

  <app-prism>
<![CDATA[<ngx-checkbox
  name="chk2"
  [ngModel]="true"
  disabled
>
  Alert the SOC
</ngx-checkbox>]]>
  </app-prism>

  <br />
  <br />

  <h3>Large Label</h3>
  <ngx-checkbox name="chk3" [ngModel]="false">
    System continue gobble error headers protocol gc exception leet ip alloc epoch less xss overflow mainframe
    concurrently perl
    tera. *.* bit interpreter gurfle firewall salt brute force double if spoof back door fopen wombat hexadecimal
    nak
    client pwned. Leapfrog root boolean rm -rf port Trojan horse finally linux mountain dew new bypass while
    terminal
    sudo /dev/null float.
  </ngx-checkbox>
</ngx-section>

<ngx-section sectionTitle="Round">
  <ngx-checkbox round diameter="25px">
    Round Checkbox
  </ngx-checkbox>

  <app-prism>
<![CDATA[<ngx-checkbox round diameter="25px">
  Round Checkbox
</ngx-checkbox>]]>
  </app-prism>
</ngx-section>
