.split-example {
  height: 500px;
  margin: var(--spacing-20) var(--spacing-0);

  .right-panel {
    background: #2f3646;
    padding: 10px;
  }

  .fixed-panel {
    background: #3b4457;
    padding: 10px;
    flex: 0 0 20%;
  }

  .security-panel {
    background: #2f3646;
    padding: 10px;
  }

  .alerts-panel {
    background: #455066;
    padding: 10px;
  }

  .fixed-header {
    flex: 0 0 50px;
    background: #3b4457;
    padding: 10px;
  }
}
