<h3 class="style-header">Dialog</h3>

<ngx-section class="shadow" [sectionTitle]="'Content'">
  <button type="button" class="btn" (click)="openDialog({ title: 'Alert!', context: { count: 19 }, content: 'Hello!' })">
    Open Dialog
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<button
  type="button"
  class="btn"
  (click)="openDialog({ title: 'Alert!', context: { count: 19 }, content: 'Hello!' })">
  Open Dialog
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { DialogService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  constructor(public dialogMngr: DialogService) { }
  openDialog(options): void {
    this.dialogMngr.create(options);
  }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>

</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Component'">
  <ngx-dialog dialogTitle="Attack Alert" *ngIf="dialogVis" (onClose)="dialogVis = false" [zIndex]="10">
    <p>Attack Found!</p>
  </ngx-dialog>

  <button type="button" class="btn" (click)="dialogVis = !dialogVis">
    Toggle Dialog
  </button>

  <br />
  <br />

  <app-prism>
<![CDATA[<ngx-dialog
  dialogTitle="Attack Alert"
  *ngIf="dialogVis"
  (onClose)="dialogVis = false">
  <p>Attack Found!</p>
</ngx-dialog>
<button
  type="button"
  class="btn"
  (click)="dialogVis = true">
  Open Dialog
</button>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Template'">
  <ng-template #dialogTmpl let-context="context">
    <p>Malware Detected. Found:
      <i>{{context.count}}</i>
    </p>
    <button type="button" class="btn" (click)="openDialog({ title: 'Alert!', context: { count: 33 }, template: dialogTmpl })">
      Open Incident
    </button>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ title: 'Alert!', context: { count: 19 }, template: dialogTmpl })">
    Open Dialog
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<ng-template #dialogTmpl let-context="context">
  <p>Malware Detected. Found: <i>{ {context.count} }</i></p>
  <button
    type="button"
    class="btn"
    (click)="openDialog({ title: 'Alert!', context: { count: 33 }, template: dialogTmpl })">
    Open Incident
  </button>
</ng-template>

<button
  type="button"
  class="btn"
  (click)="openDialog({ title: 'Alert!', context: { count: 19 }, template: dialogTmpl })">
  Open Dialog
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { DialogService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  @ViewChild('dialogTmpl', { static: false }) dialogTpl: TemplateRef<any>;

  constructor(public dialogMngr: DialogService) { }

  openDialog(options): void {
    this.dialogMngr.create(options);
  }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Custom header and footer'">
  <ng-template #wizardTmpl let-context="context">
    <div class="ngx-dialog-header">
      <h1>Custom header title</h1>
      <span>Custom subtext</span>
    </div>

    <ngx-tabs #tabs>
      <ngx-tab label="General">
        <h2>Tab content</h2>
        <p>First tab content goes here</p>
        <p>Count:
          <strong>{{context.count}}</strong>
        </p>
      </ngx-tab>
      <ngx-tab label="Administration">
        <h2>Second tab has a slightly longer title that goes here</h2>
        <p>Second tab content goes here</p>
      </ngx-tab>
    </ngx-tabs>

    <div class="ngx-dialog-footer">
      <div class="wizard-nav">
        <button type="button" class="btn btn-bordered" (click)="tabs.prev()">
          <i class="ngx-icon ngx-arrow-left has-text"></i>Prev
        </button>
        <button type="button" class="btn btn-bordered" (click)="tabs.next()">
          Next
          <i class="ngx-icon ngx-arrow-right"></i>
        </button>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="ngx-icon ngx-check has-text"></i>Save
      </button>
    </div>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ context: { count: 19 }, template: wizardTmpl, class: 'wizard' })">
    Open Dialog
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<ng-template #wizardTmpl let-context="context">
  <div class="ngx-dialog-header">
    <h1>Custom header title</h1>
    <span>Custom subtext</span>
  </div>

  <ngx-tabs>
    <ngx-tab label="General">
      <h2>Tab content</h2>
      <p>First tab content goes here</p>
      <p>Count: <strong>{ {context.count} }</strong></p>
    </ngx-tab>
    <ngx-tab label="Administration">
      <h2>Second tab has a slightly longer title that goes here</h2>
      <p>Second tab content goes here</p>
    </ngx-tab>
  </ngx-tabs>

  <div class="ngx-dialog-footer">
    <div class="wizard-nav">
      <button type="button" class="btn btn-bordered">
        <i class="ngx-icon ngx-arrow-left has-text"></i>Prev
      </button>
      <button type="button" class="btn btn-bordered">
        Next <i class="ngx-icon ngx-arrow-right"></i>
      </button>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="ngx-icon ngx-check has-text"></i>Save
    </button>
  </div>
</ng-template>

<button
  type="button"
  class="btn"
  (click)="openDialog({ context: { count: 19 }, template: wizardTmpl, class: 'wizard' })">
  Open Dialog
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { DialogService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {
  @ViewChild('dialogTmpl', { static: false }) dialogTpl: TemplateRef<any>;

  constructor(public dialogMngr: DialogService) { }

  openDialog(options): void {
    this.dialogMngr.create(options);
  }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Full screen'">
  <ng-template #fullScreenDialogTemplate let-context="context">
    <h1>Full screen</h1>
  </ng-template>

  <button type="button" class="btn" (click)="openDialog({ context: { count: 19 }, template: fullScreenDialogTemplate, class: 'ngx-dialog-full-screen' })">
    Open Dialog
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<ng-template #fullScreenDialogTemplate let-context="context">
  <h1>Full screen</h1>
</ng-template>

<button
  type="button"
  class="btn"
  (click)="openDialog({ context: { count: 19 }, template: fullScreenDialogTemplate, class: 'ngx-dialog-full-screen' })">
  Open Dialog
</button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { DialogService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app',
  templateUrl: './app.template.html'
})
export class AppComponent {

  constructor(public dialogMngr: DialogService) { }

  openDialog(options): void {
    this.dialogMngr.create(options);
  }
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'closeOnBlur & closeOnEscape'">
  <ng-template #dirtyDialogTmpl let-context="context">
    <p>
      Can close the dialog on esc or blur: <i>{{ canClose | json }}</i>
    </p>

    <button type="button" class="btn" (click)="canClose = !canClose">Toggle canClose</button>
  </ng-template>

  <button
    type="button"
    class="btn"
    (click)="openDialog({ title: 'Dirty Check', closeOnBlur: true, closeOnEscape: true, beforeClose, template: dirtyDialogTmpl })"
  >
    Open Dialog
  </button>

  <br />
  <br />

  <ngx-tabs>
    <ngx-tab label="Markup">
      <app-prism>
<![CDATA[<button type="button" class="btn" (click)="openDialog({ title: 'Dirty Check', closeOnBlur: true, closeOnEscape: true, beforeClose, template: dirtyDialogTmpl })"
> Open Dialog </button>]]>
      </app-prism>
    </ngx-tab>
    <ngx-tab label="TypeScript">
      <app-prism language="js">
<![CDATA[import { ChangeDetectionStrategy, Component, TemplateRef, ViewChild } from '@angular/core';
import { DialogService } from '@swimlane/ngx-ui';

@Component({
  selector: 'app-dialog-page',
  templateUrl: './dialog-page.component.html',
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class DialogPageComponent {
  dialogVis: any;
  canClose = true;

  @ViewChild('dialogTmpl', { static: true })
  dialogTpl: TemplateRef<any>;

  constructor(public dialogMngr: DialogService) {}

  openDialog(options) {
    this.dialogMngr.create(options);
  }

  beforeClose = (): boolean => {
    return this.canClose;
  };
}]]>
      </app-prism>
    </ngx-tab>
  </ngx-tabs>
</ngx-section>
