<h3 class="style-header">Loading Bar</h3>

<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" [sectionTitle]="'Demo'">
      <button type="button" (click)="loadingService.start()">Start</button>
      <button type="button" (click)="loadingService.stop()">Stop</button>
      <button type="button" (click)="loadingService.reset()">Reset</button>
      <button type="button" (click)="loadingService.complete()">Complete</button>
    
      <br />
      <br />
    
      <ngx-tabs>
        <ngx-tab label="Markup">
          <app-prism>
    <![CDATA[<button type="button" (click)="loadingService.start()">Start</button>
    <button type="button" (click)="loadingService.stop()">Stop</button>
    <button type="button" (click)="loadingService.reset()">Reset</button>
    <button type="button" (click)="loadingService.complete()">Complete</button>]]>
          </app-prism>
        </ngx-tab>
        <ngx-tab label="TypeScript">
          <app-prism language="js">
    <![CDATA[import { LoadingService } from '@swimlane/ngx-ui';
    
    @Component({
      selector: 'app',
      templateUrl: './app.template.html'
    })
    export class AppComponent {
      constructor(public loadingService: LoadingService) { }
    }]]>
          </app-prism>
        </ngx-tab>
      </ngx-tabs>
    </ngx-section>
    
    <ngx-section class="shadow" [sectionTitle]="'UI Router'">
      <p>Integrate with ui-router state transitions</p>
    
      <app-prism language="js">
    <![CDATA[import { Component } from '@angular/core';
    import { TransitionService } from 'ui-router-ng2';
    import { LoadingService } from '@swimlane/ngx-ui';
    
    @Component({
      selector: 'app',
      template: `
        <main>
          <ui-view></ui-view>
        </main>
      `
    })
    export class AppComponent {
    
      constructor(transitionService: TransitionService, loadingService: LoadingService) {
        transitionService.onStart({ to: '*' }, () => {
          loadingService.start();
        });
    
        transitionService.onFinish({ to: '*' }, () => {
          loadingService.complete();
        });
      }
    
    }]]>
      </app-prism>
    </ngx-section>
    
    <ngx-section class="shadow" [sectionTitle]="'Angular Router'">
      <p>Integrate with Angular Router transitions</p>
    
      <app-prism language="js">
    <![CDATA[import { Component } from '@angular/core';
    import { Router, Event, NavigationStart, NavigationEnd } from '@angular/router';
    import { LoadingService } from '@swimlane/ngx-ui';
    
    @Component({
      selector: 'app',
      template: `
        <main>
          <router-outlet></router-outlet>
        </main>
      `
    })
    export class AppComponent {
      constructor(router: Router) {
        router.events.subscribe((event: Event) => {
          if(event instanceof NavigationStart) {
            loadingService.start();
          } else if(event instanceof NavigationEnd) {
            loadingService.complete();
            drawerService.destroyAll();
          }
        });
      }
    }]]>
      </app-prism>
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('inputs')">Component Inputs</a>
    <a class="documentation-content" (click)="scrollTo('outputs')">Component Outputs</a>
    <hr>

    <h3 class="style-header" id="inputs">Component Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>progress: number = 0</code>
          </th>
          <td>The numerical value for the progress of the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>visible: boolean</code>
          </th>
          <td>Whether the component is visible.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="outputs">Component Outputs</h3>
    <h4>No component outputs to display.</h4>
  </ngx-tab>
</ngx-tabs>
