<h3 class="style-header">Plus Menu</h3>
<ngx-section class="shadow" sectionTitle="Plus Menu - Right - Two Items">
  <div class="container-right">
    <ngx-plus-menu [items]="[upload, create]"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create]"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Plus Menu - Right - Three Items">
  <div class="container-right">
    <ngx-plus-menu [items]="[upload, create, search]" menuColor="#CDD2DD"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create, search]" menuColor="#CDD2DD"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Plus Menu - Bottom - Two Items">
  <div class="container-bottom">
    <ngx-plus-menu [items]="[upload, create]" position="bottom" menuColor="#01E1B9"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create]" position="bottom"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Plus Menu - Bottom - Three Items">
  <div class="container-bottom">
    <ngx-plus-menu [items]="[upload, create, search]" position="bottom"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create, search]" position="bottom"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Plus Menu - Top - Two Items">
  <div class="container-top">
    <ngx-plus-menu [items]="[upload, create]" position="top"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create]" position="top"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Plus Menu - Top - Three Items" style="margin-bottom: 300px;">
  <div class="container-top">
    <ngx-plus-menu [items]="[upload, create, search]" position="top"></ngx-plus-menu>
  </div>
  <app-prism>
    <![CDATA[ <ngx-plus-menu [items]="[upload, create, search]" position="top"></ngx-plus-menu> ]]>
  </app-prism>
</ngx-section>

