/**
 * Colors
 */
/**
 * Gradient Backgrounds
 */
.bg-linear-1 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%); }

.bg-linear-2 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%); }

.bg-radial-1 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #1e283e 0%, #1b1e27 100%); }

.bg-radial-2 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #212736 0%, #1b1f29 100%); }

.gradient-blue {
  background-image: linear-gradient(to top right, #6bd1f9 0%, #54a4fb 100%); }

.gradient-blue-green {
  background-image: linear-gradient(to top right, #69d1f8 0%, #59e6c8 100%); }

.gradient-blue-red {
  background-image: linear-gradient(to top right, #50a1f9 0%, #f96f50 100%); }

.gradient-blue-purple {
  background-image: linear-gradient(to top right, #73bef4 0%, #aa90ed 100%); }

.gradient-red-orange {
  background-image: linear-gradient(to top right, #fc7c5f 0%, #fcbc5a 100%); }

.gradient-orange-purple {
  background-image: linear-gradient(to top right, #f5cc98 0%, #ae94ec 100%); }

/**
 * Gradients
 */
.gradient-blues {
  background-image: linear-gradient(#006ae0 0%, #04a6e6 100%); }

.gradient-swimlane {
  background-image: linear-gradient(#02AAFF 0%, #00FFF4 100%); }

.gradient-green-aqua {
  background-image: linear-gradient(#1ddeb6 0%, #01CADF 100%); }

.gradient-greens {
  background-image: linear-gradient(#1DDE73 0%, #1ddeb6 100%); }

.gradient-golds {
  background-image: linear-gradient(#ffa814 0%, #FFE347 100%); }

.gradient-oranges {
  background-image: linear-gradient(#FF6903 0%, #ffa814 100%); }

.gradient-magentas {
  background-image: linear-gradient(#AB00E2 0%, #E200B6 100%); }

.gradient-blues-90deg {
  background-image: linear-gradient(90deg, #006ae0 0%, #04a6e6 100%); }

.gradient-swimlane-90deg {
  background-image: linear-gradient(90deg, #02AAFF 0%, #00FFF4 100%); }

.gradient-green-aqua-90deg {
  background-image: linear-gradient(90deg, #1ddeb6 0%, #01CADF 100%); }

.gradient-greens-90deg {
  background-image: linear-gradient(90deg, #1DDE73 0%, #1ddeb6 100%); }

.gradient-golds-90deg {
  background-image: linear-gradient(90deg, #ffa814 0%, #FFE347 100%); }

.gradient-oranges-90deg {
  background-image: linear-gradient(90deg, #FF6903 0%, #ffa814 100%); }

.gradient-magentas-90deg {
  background-image: linear-gradient(90deg, #AB00E2 0%, #E200B6 100%); }

/**
 * Shadow Presets
 * Concept from: https://github.com/angular/material/blob/master/src/core/style/variables.css
 */
.shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.shadow-2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

.shadow-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }

.shadow-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.shadow-5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }

.shadow-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.shadow-7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12); }

.shadow-8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.shadow-9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12); }

.shadow-10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.shadow-11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12); }

.shadow-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }

.shadow-13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }

.shadow-14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12); }

.shadow-15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12); }

.shadow-16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12); }

.shadow-17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12); }

.shadow-18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12); }

.shadow-19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12); }

.shadow-20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.shadow-21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12); }

.shadow-22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12); }

.shadow-23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12); }

.shadow-24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }

.shadow-fx {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow-fx:hover {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.ngx-long-press {
  border-radius: 50%;
  border: 3px solid #12141a;
  padding: 0px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer; }
  .ngx-long-press button {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%; }
  .ngx-long-press .inner-background {
    border-radius: 50%;
    background: #12141a;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 4px;
    left: 4px; }
  .ngx-long-press .icon {
    font-size: 23px;
    height: 30px;
    vertical-align: middle;
    line-height: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
    .ngx-long-press .icon ::before {
      line-height: 60px; }
  .ngx-long-press svg {
    width: 100%;
    height: 100%; }
  .ngx-long-press circle {
    fill: none;
    stroke: #0dee72;
    stroke-width: 16; }
    .ngx-long-press circle.loading-circle {
      stroke-dashoffset: 0;
      stroke-dasharray: 122 1000; }
