@import "../styles/index.scss";

.style-guide {
  transition: background 500ms, background-image 500ms, color 500ms;

  /**
   * Theme Styles
   */
  &.dark-theme,
  &.gradient-theme {
    background: $color-bg-darker;
    color: $color-white;

    &.gradient-theme {
      background: $bg-radial-2;
    }

    a {
      color: $color-white;
    }

    .page-header {
      background: $color-bg-med;
    }
  }

  &.light-theme {
    background: $color-white;
  }
}


/**
 * Navigation
 */
.nav-col {
  color: $color-white;
  background: $color-bg-med;

  h1 {
    display: block;
    height: 50px;
    background: $color-bg-logo;
    padding: 0 15px;
    line-height: 50px;
    margin: 0;
  }

  nav {
    margin: 20px 15px;

    li {
      padding:.1rem 0;
    }

    ul ul {
      padding-left:10px;
      padding-bottom:10px;
      font-size: .9em;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  }
}

/**
 * Header
 */
.page-header {
  width: 100%;
  height: 49px;
  line-height: 50px;
  padding: 0 20px;

  h2 {
    margin: 0;
    font-weight: 500;
  }
}

.style-guide-header {
  box-shadow: $shadow-2;

  h2 small {
    color: $color-text-med;
    font-size: 0.9rem;
  }
}

.style-header {
  text-transform: uppercase;
  color: $color-text-med;
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: 600;

  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background: $color-text-med;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Colors
 */
.color-group {
  min-width: 250px;
  margin: 0 20px 20px 0;

  .main-color {
    height: 70px;
  }

  .color {
    padding: 10px;
  }
}

/**
 * Icons Preview
 */
.icons-preview {
  li {
    height: 150px;
    overflow:hidden;
    width: 150px;
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
    margin: 10px;
    border: solid 1px $color-bg-darkest;
    border-radius: 2px;

    .icon-name {
      color: $color-text-med-dark;
      font-size: .9rem;
    }

    .icon {
      display: block;
      font-size: 50px;
      line-height:80px;
    }
  }
}
