<main class="Grid u-flex u-flexAlignItemsStretch">
  <div class="Grid-cell u-size1of5 FlexItem nav-col">
    <h1 class="branding">
      <span class="branding-logo icon-logo"></span>
      <span class="branding-name">Swimlane</span>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="#" (click)="state = 'colors'">Colors</a>
          <ul>
            <li><a href="#">Palettes</a></li>
            <li><a href="#">Formatting</a></li>
            <li><a href="#">Gradients</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Shadows</a></li>
          </ul>
        </li>
        <li>
          <a href="#" (click)="state = 'typography'">Typography</a>
          <ul>
            <li><a href="#">Headers</a></li>
            <li><a href="#">Paragraph</a></li>
            <li><a href="#">Lists</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Icons</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Elements</a>
          <ul>
            <li><a href="#" (click)="state = 'sections'">Sections</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Forms</a>
          <ul>
            <li><a href="#" (click)="state = 'inputs'">Inputs</a></li>
            <li><a href="#" (click)="state = 'buttons'">Buttons</a></li>
            <li><a href="#" (click)="state = 'selects'">Selects</a></li>
            <li><a href="#">Toggle</a></li>
            <li><a href="#">Checkbox</a></li>
            <li><a href="#">Radio</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Components</a>
          <ul>
            <li><a href="#" (click)="state = 'toolbar'">Toolbar</a></li>
            <li><a href="#" (click)="state = 'drawer'">Drawer</a></li>
            <li><a href="#" (click)="state = 'password'">Password</a></li>
            <li><a href="#" (click)="state = 'input'">Input</a></li>
            <li><a href="#" (click)="state = 'tabs'">Tabs</a></li>
            <li><a href="#" (click)="state = 'slider'">Slider</a></li>
            <li><a href="#" (click)="state = 'codeEditor'">Code Editor</a></li>
            <li><a href="#">Accordion</a></li>
            <li><a href="#">Dropdown</a></li>
            <li><a href="#">Fab</a></li>
            <li><a href="#">Popover</a></li>
            <li><a href="#">Dialog</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Directives</a>
          <ul>
            <li><a href="#">Dbl Click Copy</a></li>
            <li><a href="#">Visibility</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Pipes</a>
          <ul>
            <li><a href="#">Map Iterable</a></li>
            <li><a href="#">Decamlize</a></li>
            <li><a href="#">Filter</a></li>
            <li><a href="#">Safe HTML</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="Grid-cell u-sizeFill FlexItem">

    <swui-toolbar
      [title]="'Style Guide'"
      [subtitle]="'v' + version">
      <swui-toolbar-content>
        <a href="#" (click)="setTheme('light')">Light</a> | <a href="#" (click)="setTheme('dark')">Dark</a> | <a href="#" (click)="setTheme('gradient')">Graident</a>
      </swui-toolbar-content>
    </swui-toolbar>

    <section *ngIf="!state">
      <p>
        Style guide for Swimlane branding, colors and components. <br />
        <span class="hint">Select a category on the left to get started</span>
      </p>
    </section>

    <!-- colors -->
    <div *ngIf="state === 'colors'">
      <section>
        <h3 class="style-header">Colors: Palettes</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let color of colors">
            <ul class="color-group shadow-2 shadow-fx">
              <li class="color main-color u-cf bg-{{color}}">
                <span class="name u-floatLeft">{{color}}</span>
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color"
                  dbl-click-copy>
                </span>
              </li>
              <li class="color bg-{{color}}-med u-cf">
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color + '-med'"
                  dbl-click-copy>
                </span>
              </li>
              <li class="color bg-{{color}}-light u-cf">
                <span
                  class="hex tag tag-small u-floatRight"
                  [innerHTML]="'$color-' + color + '-light'"
                  dbl-click-copy>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h3 class="style-header">Colors: Formatting</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx">
              <li class="color main-color u-cf bg-darkest">
                <span class="name u-floatLeft" style="color:white">Backgrounds</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-darkest</span>
              </li>
              <li class="color bg-darker u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-darker</span>
              </li>
              <li class="color bg-dark u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-dark</span>
              </li>
              <li class="color bg-med u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-med</span>
              </li>
              <li class="color bg-light u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-light</span>
              </li>
              <li class="color bg-lighter u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-lighter</span>
              </li>
            </ul>
          </div>

          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx">
              <li class="color main-color u-cf bg-text-dark">
                <span class="name u-floatLeft">Text</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-dark</span>
              </li>
              <li class="color bg-text-med-dark u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-med-dark</span>
              </li>
              <li class="color bg-text-med u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-med</span>
              </li>
              <li class="color bg-text-light u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-light</span>
              </li>
              <li class="color bg-text-lighter u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-lighter</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h3 class="style-header">Colors: Gradients</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx">
              <li
                *ngFor="let gradient of gradients; let i = index"
                style="border-top:solid 1px #fff"
                class="color main-color u-cf {{gradient}}">
                <span *ngIf="i === 0" class="name u-floatLeft" style="color:white">Linear</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>${{gradient}}</span>
              </li>
            </ul>
          </div>
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx">
              <li class="color main-color u-cf bg-linear-1">
                <span class="name u-floatLeft" style="color:white">Bg Linear</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-1</span>
              </li>
              <li style="border-top:solid 1px #fff" class="color main-color u-cf bg-linear-2">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-linear-2</span>
              </li>
            </ul>
          </div>
          <div class="FlexItem">
            <ul class="color-group shadow-2 shadow-fx">
              <li class="color main-color u-cf bg-radial-1">
                <span class="name u-floatLeft" style="color:white">Bg Radial</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-1</span>
              </li>
              <li style="border-top:solid 1px #fff" class="color main-color u-cf bg-radial-2">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$bg-radial-2</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h3 class="style-header">Colors: Branding</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem">
            <ul class="color-group shadow-fx">
              <li class="color main-color u-cf bg-logo">
                <span class="name u-floatLeft" style="color:white">Logo</span>
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-bg-logo</span>
              </li>
              <li class="color bg-text-logo u-cf">
                <span class="hex tag tag-small u-floatRight" dbl-click-copy>$color-text-logo</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h3 class="style-header">Colors: Shadows</h3>
        <div class="u-flex u-flexWrap">
          <div class="FlexItem" *ngFor="let i of shadows">
            <div class="shadow-demo shadow-{{i}}" dbl-click-copy>
              $shadow-{{i}}
            </div>
          </div>
          <div class="FlexItem">
            <div class="shadow-demo shadow-10 shadow-fx">
              shadow-fx
            </div>
          </div>
        </div>
      </section>
    </div>

    <div *ngIf="state === 'typography'">
      <section>
        <h3 class="style-header">Typography: Headings</h3>
        <h1>h1. Improve your Security Operations</h1>
        <h2>h2. Improve your Security Operations</h2>
        <h3>h3. Improve your Security Operations</h3>
        <h4>h4. Improve your Security Operations</h4>
        <h5>h5. Improve your Security Operations</h5>
      </section>

      <section>
        <h3 class="style-header">Typography: Paragraph</h3>
        <p>As cyber attacks continue to rise, organizations are investing heavily in attack identification, threat intelligence and the staff required to protect the enterprise. However, alerts are still going unresolved, and often unseen. Realizing that simply adding people does not solve the problem, organizations are choosing Swimlane for security automation and orchestration</p>
        <p>Swimlane consolidates security alerts from multiple sources and automatically assists organizations with the activities required to resolve alerts and stop attacks. The resolution of the alert can occur either automatically or manually by analyst intervention. Either way, the alert is resolved utilizing expert-defined processes, enabling the organization to cost-effectively close alerts.</p>
        <p class="hint">Paragraphs with the 'hint' class are styled smaller with italics.</p>
      </section>

      <section>
        <h3 class="style-header">Typography: Lists</h3>
        <p class="hint">Note: Only ol elements are styled by default.</p>

        <ol>
          <li>DDOS</li>
          <li>Malware</li>
          <li>Physical</li>
        </ol>
      </section>

      <section>
        <h3 class="style-header">Typography: Code</h3>
        <code-highlight lang="javascript">
          <![CDATA[
          var foo;
          var bar;
          ]]>
        </code-highlight>
      </section>

      <section>
        <h3 class="style-header">Typography: Icons</h3>
        <ul class="icons-preview">
          <li *ngFor="let icon of icons" class="shadow-2 shadow-fx">
            <span class="icon-{{icon}} icon"></span>
            <span class="icon-name" dbl-click-copy>icon-{{icon}}</span>
          </li>
        </ul>
      </section>
    </div>

    <div *ngIf="state === 'inputs'" class="inputs-section">
      <section>
        <h3 class="style-header">Inputs</h3>

        <h4>Text</h4>
        <input type="text" />
        <input type="text" value="pre populated" />
        <input type="text" placeholder="A placeholder" />
        <input type="text" value="disabled" disabled />
        <input type="tel" value="555-555-5555" />

        <h5>Textarea</h5>
        <textarea></textarea>

        <h5>Number</h5>
        <input type="number" />
      </section>
    </div>

    <!-- Components: Buttons -->
    <div *ngIf="state === 'buttons'">
      <section>
        <h3 class="style-header">Buttons</h3>
        <a class="button" href="#">Link</a>
        <button type="button">Button</button>
        <button type="button" class="primary">Primary</button>
        <button type="button" class="warning">Warning</button>
        <button type="button" class="danger">Danger</button>
        <button type="button" disabled>Disabled</button>
      </section>
    </div>

    <!-- Components: Select -->
    <div *ngIf="state === 'selects'">
      <section>
        <h3 class="style-header">Selects</h3>
        <select>
          <option>Hello</option>
        </select>
      </section>
    </div>

    <!-- Components: Section -->
    <div *ngIf="state === 'sections'">
      <section>
        <h3 class="style-header">Section</h3>

        <section class="shadow">
          <header>
            <h1>No Header / No Shadow</h1>
          </header>

          <section>
            The body
          </section>

          <code-highlight lang="javascript">
            <![CDATA[
            <section>
              The body
            </section>
            ]]>
          </code-highlight>
        </section>

        <section class="shadow">
          <header>
            <h1>No Header</h1>
          </header>

          <section class="shadow">
            The body
          </section>
          <code-highlight lang="javascript">
            <![CDATA[
            <section class="shadow">
              The body
            </section>
            ]]>
          </code-highlight>
        </section>

        <section class="shadow">
          <header>
            <h1>Shadow and Header</h1>
          </header>

          <section class="shadow">
            <header>
              <h1>My Header</h1>
            </header>
            The body
          </section>

          <code-highlight lang="javascript">
            <![CDATA[
            <section class="shadow">
              <header>
                <h1>My Header</h1>
              </header>
              The body
            </section>
            ]]>
          </code-highlight>
        </section>
      </section>
    </div>

    <!-- Components: Slider -->
    <section *ngIf="state === 'slider'">
      <h3 class="style-header">Slider</h3>

      <section class="shadow">
        <header>
          <h1>Horizontal</h1>
        </header>

        <swui-slider
          [value]="50"
          [step]="5"
          [filled]="true"
          [min]="10"
          [max]="200"
          (onChange)="sliderEvent1 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [filled]="true"
            [min]="10"
            [max]="200"
            (onChange)="sliderEvent1 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent1"
          [json]="sliderEvent1">
        </code-highlight>

        <br />

        <swui-slider
          [value]="50"
          [step]="5"
          [showTicks]="true"
          [tickStep]="25"
          [filled]="true"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent2 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [showTicks]="true"
            [tickStep]="25"
            [filled]="true"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent2 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent2"
          [json]="sliderEvent2">
        </code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [filled]="false"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent3 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent3 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent3"
          [json]="sliderEvent3">
        </code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [showTicks]="true"
          [filled]="false"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent4 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [showTicks]="true"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent4 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent4"
          [json]="sliderEvent4">
        </code-highlight>
      </section>

      <section class="shadow">
        <header>
          <h1>Vertical</h1>
        </header>

        <swui-slider
          [value]="50"
          [step]="5"
          [orientation]="'vertical'"
          [filled]="true"
          [min]="10"
          [max]="200"
          (onChange)="sliderEvent5 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [filled]="true"
            [orientation]="'vertical'"
            [min]="10"
            [max]="200"
            (onChange)="sliderEvent5 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent5"
          [json]="sliderEvent5">
        </code-highlight>

        <br />

        <swui-slider
          [value]="50"
          [step]="5"
          [showTicks]="true"
          [tickStep]="25"
          [orientation]="'vertical'"
          [filled]="true"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent6 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="50"
            [step]="5"
            [orientation]="'vertical'"
            [showTicks]="true"
            [tickStep]="25"
            [filled]="true"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent6 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent6"
          [json]="sliderEvent6">
        </code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [filled]="false"
          [min]="0"
          [orientation]="'vertical'"
          [max]="100"
          (onChange)="sliderEvent7 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [step]="5"
            [filled]="false"
            [orientation]="'vertical'"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent7 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent7"
          [json]="sliderEvent7">
        </code-highlight>

        <br />

        <swui-slider
          [value]="20"
          [step]="5"
          [showTicks]="true"
          [filled]="false"
          [orientation]="'vertical'"
          [min]="0"
          [max]="100"
          (onChange)="sliderEvent8 = $event">
        </swui-slider>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-slider
            [value]="20"
            [orientation]="'vertical'"
            [step]="5"
            [showTicks]="true"
            [filled]="false"
            [min]="0"
            [max]="100"
            (onChange)="sliderEvent8 = $event">
          </swui-slider>
          ]]>
        </code-highlight>

        <code-highlight
          *ngIf="sliderEvent8"
          [json]="sliderEvent8">
        </code-highlight>
      </section>

    </section>

    <!-- Components: Toolbar -->
    <section *ngIf="state === 'toolbar'">
      <h3 class="style-header">Toolbar</h3>

      <section class="shadow">
        <header>
          <h1>Title/Menu</h1>
        </header>

        <swui-toolbar
          [title]="'Record'"
          [subtitle]="'IR-344'"
          [menu]="toolbarMenu"
          (onMenuClick)="menuClicked($event)">
        </swui-toolbar>
        <br />
        <code-highlight lang="javascript">
          <![CDATA[
          <swui-toolbar
            [title]="'Record'"
            [subtitle]="'IR-344'"
            [menu]="toolbarMenu"
            (onMenuClick)="menuClicked($event)">
          </swui-toolbar>
          ]]>
        </code-highlight>
      </section>

      <section class="shadow">
        <header>
          <h1>Dynamic Content</h1>
        </header>

        <swui-toolbar>
          <swui-toolbar-title>
            <span class="tag">dynamic title</span>
          </swui-toolbar-title>
          <swui-toolbar-content>
            <i>dynamic content</i>
          </swui-toolbar-content>
        </swui-toolbar>
        <br />
        <code-highlight lang="javascript">
          <![CDATA[
          <swui-toolbar>
            <swui-toolbar-title>
              <span class="tag">dynamic title</span>
            </swui-toolbar-title>
            <swui-toolbar-content>
              <i>dynamic content</i>
            </swui-toolbar-content>
          </swui-toolbar>
          ]]>
        </code-highlight>
      </section>
    </section>

    <!-- Components: Tabs -->
    <section *ngIf="state === 'tabs'">
      <h3 class="style-header">Tabs</h3>

      <section class="shadow">
        <header>
          <h1>Demo</h1>
        </header>

        <swui-tabs>
          <swui-tab [title]="'Tab 1'">
            Tab 1 Content
          </swui-tab>
          <swui-tab [title]="'Tab 2'">
            Tab 2 Content
          </swui-tab>
          <swui-tab [title]="'Tab 3'" [disabled]="true">
            Tab 3 Content
          </swui-tab>
        </swui-tabs>

        <code-highlight lang="javascript">
          <![CDATA[
          <swui-tabs>
            <swui-tab [title]="'Tab 1'">
              Tab 1 Content
            </swui-tab>
            <swui-tab [title]="'Tab 2'">
              Tab 2 Content
            </swui-tab>
            <swui-tab [title]="'Tab 3'" [disabled]="true">
              Tab 3 Content
            </swui-tab>
          </swui-tabs>
          ]]>
        </code-highlight>
      </section>
    </section>

    <!-- Components: Code Editor -->
    <section *ngIf="state === 'codeEditor'">
      <h3 class="style-header">Code Editor</h3>

      <section class="shadow">
        <header>
          <h1>Demo</h1>
        </header>

        <codemirror
          [(ngModel)]="code"
          [config]="editorConfig"
          (change)="editorResult = $event">
        </codemirror>

        <div *ngIf="editorResult">
          <br />
          <code-highlight
            [json]="editorResult || {}">
          </code-highlight>
        </div>

        <br />
        <code-highlight lang="javascript">
          <![CDATA[
          <codemirror
            [(ngModel)]="code"
            [config]="editorConfig">
          </codemirror>
          ]]>
        </code-highlight>

      </section>
    </section>

    <!-- Components: Drawer -->
    <div *ngIf="state === 'drawer'">
      <section>
        <h3 class="style-header">Drawer</h3>
        <button
          type="button"
          (click)="openDrawer('left')">
          Open Left Drawer
        </button>

        <button
          type="button"
          (click)="openDrawer('bottom')">
          Open Bottom Drawer
        </button>

        <template #editTmpl>
          <h1>Hi</h1>
          <button
            type="button"
            (click)="openDrawer()">
            Open Another Drawer
          </button>
        </template>

        <swui-drawer-container></swui-drawer-container>
      </section>
    </div>

    <!-- Components: Password -->
    <div *ngIf="state === 'password'">
      <section>
        <h3 class="style-header">Passwords</h3>

        <section class="shadow">
          <header>
            <h1>Demo</h1>
          </header>

          <swui-password-strength
            [placeholder]="'Enter new password'"
            [value]="passwordValue"
            (onChange)="passwordResult = $event">
          </swui-password-strength>

          <input
            class="full-width"
            type="password"
            [hidden]="!passwordResult || !passwordResult.value.length"
            placeholder="Re-enter your new password"
            (keyup)="passwordResult1 = $event.target.value"
          />

          <p
            class="hint"
            *ngIf="passwordResult && passwordResult1 && passwordResult.value !== passwordResult1">
            The confirm password does not match the original password.
          </p>

          <button
            type="submit"
            [disabled]="!passwordResult || passwordResult.score !== 4 && passwordResult.value !== passwordResult1">
            Reset Password
          </button>
        </section>

        <section class="shadow" *ngIf="passwordResult && passwordResult.value.length">
          <header>
            <h1>Results</h1>
          </header>
          <code-highlight
            [json]="passwordResult || {}">
          </code-highlight>
        </section>

        <section class="shadow">
          <header>
            <h1>Abstract</h1>
          </header>
          <p>Password complexity is determined using <a href="https://github.com/dropbox/zxcvbn" target="_black">zxcvbn</a>
          which enforces passwords beyond simple min/max charaters/length. Scoring is based on:</p>
          <ol>
            <li>Word repitition</li>
            <li>Word Complexity such as length, capitalization, etc</li>
            <li>Black listing: Common words, names, dates and keyboard patterns</li>
            <li>Entropy to crack time</li>
          </ol>
        </section>
      </section>
    </div>

    <!-- Components: Input -->
    <div *ngIf="state === 'input'">
      <section>
        <h3 class="style-header">Inputs</h3>

        <section class="shadow">
          <header>
            <h1>Demo</h1>
          </header>
          <swui-input
            [label]="'Name'"
            [value]="inputValue"
            (onChange)="inputValue = $event">
          </swui-input>

          <br />
          <code-highlight lang="javascript">
            <![CDATA[
            <sw-input
              [label]="'Name'"
              [value]="inputValue"
              (onChange)="inputValue = $event">
            </sw-input>
            ]]>
          </code-highlight>

        </section>
      </section>
    </div>

  </div>
</main>
