@use 'sass:color';
@use 'colors/colors' as colors;

/**
 * Theme Styles
 */
.style-guide {
  transition: background 500ms, background-image 500ms, color 500ms;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .navigation {
    display: flex;
    flex-shrink: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    .search-box {
      border: 1px solid transparent;
      color: var(--color-grey-400);
      background: var(--color-grey-700);
      height: 40px;
      padding: var(--spacing-8);
      line-height: 1em;
      margin: 0;

      ngx-input-suffix .btn {
        color: var(--color-grey-400);

        &:hover {
          color: #ffffff;
        }
      }

      ngx-input {
        margin-top: -3px;
        padding-top: 0;

        .ngx-input-underline {
          display: none;
        }

        .ngx-input-flex-wrap {
          align-items: center;

          ngx-input-prefix {
            margin-top: 1px;
          }

          ngx-input-suffix {
            height: 25px;
            margin-top: -4px;
          }
        }

        .ngx-input-wrap .ngx-input-box-wrap .ngx-input-box {
          &::placeholder {
            font-size: 14px !important;
          }
        }
      }
    }

    .logo-text svg {
      height: 1.5rem;
    }
  }

  .main {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    padding-top: 50px;

    .main-toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .page {
      width: 100%;
      padding: 1.8em;
    }
  }
}

.app .ngx-toolbar a.active {
  font-weight: 900;
}

/**
 * Header
 */
.style-header {
  text-transform: uppercase;
  color: var(--color-grey-300);
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: var(--spacing-20);
  font-weight: 600;

  &:not(:first-of-type) {
    margin-top: 6rem;
  }

  &:after {
    content: '';
    width: 25px;
    height: 1px;
    background: var(--color-grey-300);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Icons Preview
 */
.icons-preview {
  li {
    height: 150px;
    overflow: hidden;
    width: 150px;
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
    margin: 10px;
    border: solid 1px var(--color-grey-800);
    border-radius: 2px;

    .icon-name {
      color: var(--color-grey-600);
      font-size: 0.9rem;
      line-height: 1rem;
    }

    .ngx-icon,
    .large-icon {
      display: block;
      font-size: 50px;
      line-height: 1em;
    }

    .icon-loading {
      font-size: 50px;
      height: 50px;
      line-height: 0;
    }

    .icon {
      display: block;
    }
  }
}

.large-icons {
  font-size: 50px;
  line-height: 50px;
}

.ngx-icon-section,
.icon-stacking-section,
.large-icon-section {
  .large-icon {
    font-size: 50px;
    margin-right: 10px;
    line-height: 50px;
  }
}

.icons-preview-code {
  li {
    list-style-type: none;
    padding: var(--spacing-20);
    margin-top: var(--spacing-20);

    .ngx-icon,
    .icon-fx-stacked,
    .large-icon {
      font-size: 50px;
    }

    .large-icon {
      display: block;
      font-size: 50px;
      margin: 10px;
    }
  }
}

.inputs-section {
  input {
    display: block;
    margin: var(--spacing-8) 0;
  }
}

.demo-class {
  color: yellow !important;
  text-transform: uppercase;
}

.CodeMirror {
  margin-top: var(--spacing-20);
}

.fa,
.fa:before {
  font-family: FontAwesome !important;
  vertical-align: top;
}

.demo-search-box {
  width: 300px;
  height: 50px;

  ngx-icon.search-icon {
    margin-top: 5px;
  }

  ngx-input[hidden] {
    display: block !important;
    width: 0px;
    transition: width 0.5s;
  }

  ngx-input,
  &:hover ngx-input {
    margin: 0 40px 0 var(--spacing-20);
    width: 240px;
    transition: width 0.5s;
  }
}

$colors: (
  'blue': colors.$color-blue,
  'light-blue': colors.$color-light-blue,
  'green': colors.$color-green,
  'orange': colors.$color-orange,
  'red': colors.$color-red,
  'purple': colors.$color-purple,
  'blue-grey': colors.$color-blue-grey,
  'grey': colors.$color-grey
);

$palette: (
  050: 50%,
  100: 40%,
  150: 35%,
  200: 30%,
  250: 25%,
  300: 20%,
  350: 15%,
  400: 10%,
  450: 5%,
  500: 0,
  550: 5%,
  600: 10%,
  650: 15%,
  700: 20%,
  725: 22.5%,
  750: 25%,
  775: 27.5%,
  800: 30%,
  825: 32.5%,
  850: 35%,
  875: 37.5%,
  900: 40%
);

@each $name, $hex in $colors {
  @each $weight, $percentage in $palette {
    @if $weight < 100 {
      .color-#{'' + $name}-#{'0' + $weight} {
        background-color: color.adjust($hex, $lightness: $percentage);
      }
    } @else if $weight < 500 {
      .color-#{'' + $name}-#{$weight} {
        background-color: color.adjust($hex, $lightness: $percentage);
      }
    } @else if $weight > 500 {
      .color-#{'' + $name}-#{$weight} {
        background-color: color.adjust($hex, $lightness: -$percentage);
      }
    } @else {
      .color-#{'' + $name}-#{$weight} {
        background-color: $hex;
      }
    }
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.glow-demo {
  background: var(--color-grey-850);
  margin: var(--spacing-20);
  text-align: center;
  padding: var(--spacing-20) 10px;
}

.badge {
  clear: both;
  margin-top: 30px;
  display: block;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  color: white;
  user-select: none;
}
