<div class="app">
  <div class="navigation">
    <ngx-nav-menu [expanded]="navExpanded" class="navigation">
      <div class="nav-logo">
        <ngx-icon svgSrc="swimlane" class="logo-image"></ngx-icon>
        <ngx-icon svgSrc="ngx-ui" class="logo-text"></ngx-icon>

        <ngx-icon *ngIf="!navExpanded" svgSrc="slide-right" (click)="navExpanded = true" class="expand-icon"></ngx-icon>
        <ngx-icon *ngIf="navExpanded" svgSrc="slide-left" (click)="navExpanded = false" class="expand-icon"></ngx-icon>
      </div>
      <div class="search-box" *ngIf="navExpanded">
        <ngx-input
          #searchInput
          type="text"
          [autofocus]="true"
          [(ngModel)]="searchValue"
          [placeholder]="'Search Components'"
          (ngModelChange)="updateSearchValue(searchValue)"
        >
          <ngx-input-prefix> <ngx-icon fontIcon="search"></ngx-icon> </ngx-input-prefix>
          <ngx-input-suffix>
            <button class="btn btn-link" [hidden]="!searchValue.length" (click)="searchValue = searchInput.value = ''">
              <ngx-icon class="search-box__clear-btn" fontIcon="x"></ngx-icon>
            </button>
          </ngx-input-suffix>
        </ngx-input>
      </div>
      <ul class="nav-items nav-main vertical-list">
        <li *ngFor="let item of filteredNavigationTree" class="nav-item-container">
          <a
            *ngIf="!item.children"
            class="nav-item"
            ngx-tooltip
            tooltipPlacement="right"
            [tooltipTitle]="item.name"
            routerLink="{{ item.route }}"
            routerLinkActive="active"
          >
            <ngx-icon [fontIcon]="item.icon"></ngx-icon>
            <span class="nav-label">{{ item.name }}</span>
          </a>

          <div
            *ngIf="item.children"
            class="nav-item"
            ngx-tooltip
            ngx-tooltip
            [tooltipContext]="item.children"
            [tooltipCssClass]="'nav-popover'"
            tooltipType="popover"
            tooltipPlacement="right"
            [tooltipTemplate]="!navExpanded ? childrenTemplate : undefined"
            [tooltipShowCaret]="false"
            tooltipAlignment="top"
            [tooltipSpacing]="1"
            (click)="item.expanded = !item.expanded"
          >
            <ngx-icon [fontIcon]="item.icon"></ngx-icon>
            <span class="nav-label">{{ item.name }}</span>
          </div>

          <ng-template #childrenTemplate let-model="model">
            <div class="title">{{ item.name }}</div>
            <ul *ngIf="item.children" class="sub-nav">
              <a
                *ngFor="let child of item.children"
                class="sub-nav-item"
                routerLink="{{ child.route }}"
                routerLinkActive="active"
              >
                <span class="subnav-label">{{ child.name }}</span>
                <ngx-icon fontIcon="check" class="active-indicator"></ngx-icon>
              </a>
            </ul>
          </ng-template>

          <ul *ngIf="item.children && navExpanded" class="sub-nav">
            <a
              *ngFor="let child of item.children"
              class="sub-nav-item"
              routerLink="{{ child.route }}"
              routerLinkActive="active"
            >
              <span class="subnav-label">{{ child.name }}</span>
              <ngx-icon fontIcon="check" class="active-indicator"></ngx-icon>
            </a>
          </ul>
        </li>
      </ul>
    </ngx-nav-menu>
  </div>

  <div class="main">
    <div class="page">
      <router-outlet></router-outlet>
    </div>
    <hotkeys></hotkeys>
    <ngx-toolbar [mainTitle]="'Angular Style and Component Library'" [subtitle]="'v' + version" class="main-toolbar">
      <ngx-toolbar-content>
        <!-- <a href="#{{state}}" [class.active]="currentTheme === 'day'" (click)="setTheme('day')">Day</a> |
        <a href="#{{state}}" [class.active]="currentTheme === 'night'" (click)="setTheme('night')">Night</a> |
        <a href="#{{state}}" [class.active]="currentTheme === 'moonlight'" (click)="setTheme('moonlight')">Moonlight</a> | -->
        <a href="https://github.com/swimlane/ngx-ui" target="_blank">Github</a>
      </ngx-toolbar-content>
    </ngx-toolbar>
  </div>
</div>
