/*--------------------------------

ngx-icon Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'ngx-icon';
  src: url('../fonts/ngx-icon.eot');
  src: url('../fonts/ngx-icon.eot') format('embedded-opentype'), url('../fonts/ngx-icon.woff2') format('woff2'), url('../fonts/ngx-icon.woff') format('woff'), url('../fonts/ngx-icon.ttf') format('truetype'), url('../fonts/ngx-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.ngx-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'ngx-icon';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.ngx-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.ngx-icon.x2 {
  font-size: 2em;
}
.ngx-icon.x3 {
  font-size: 3em;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.ngx-icon.square,
.ngx-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}
.ngx-icon.circle {
  border-radius: 50%;
}
/*------------------------
  list icons
-------------------------*/
.ngx-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.ngx-icon-ul > li {
  position: relative;
}
.ngx-icon-ul > li > .ngx-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.ngx-icon-ul > li > .ngx-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.ngx-icon-ul > li > .ngx-icon.circle,
.ngx-icon-ul > li > .ngx-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  spinning icons
-------------------------*/
.ngx-icon.spin {
  -webkit-animation: ngx-icon-spin 2s infinite linear;
  -moz-animation: ngx-icon-spin 2s infinite linear;
  animation: ngx-icon-spin 2s infinite linear;
}
@-webkit-keyframes ngx-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes ngx-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes ngx-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.ngx-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ngx-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ngx-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ngx-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ngx-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	font icons
-------------------------*/

.ngx-3d-rotate::before {
    content: "\ea01";
}

.ngx-add-circle-filled::before {
    content: "\ea02";
}

.ngx-add-circle::before {
    content: "\ea03";
}

.ngx-add-edge::before {
    content: "\ea04";
}

.ngx-add-new::before {
    content: "\ea06";
}

.ngx-add-node::before {
    content: "\ea05";
}

.ngx-advanced-pie::before {
    content: "\ea07";
}

.ngx-alert::before {
    content: "\ea08";
}

.ngx-app-store::before {
    content: "\ea09";
}

.ngx-applet::before {
    content: "\ea0a";
}

.ngx-application::before {
    content: "\ea0b";
}

.ngx-apps::before {
    content: "\ea0c";
}

.ngx-area-chart::before {
    content: "\ea0d";
}

.ngx-arrow-bold-circle-left::before {
    content: "\ea0e";
}

.ngx-arrow-bold-circle-right::before {
    content: "\ea0f";
}

.ngx-arrow-bold-down::before {
    content: "\ea10";
}

.ngx-arrow-bold-left::before {
    content: "\ea11";
}

.ngx-arrow-bold-right::before {
    content: "\ea12";
}

.ngx-arrow-bold-up::before {
    content: "\ea13";
}

.ngx-arrow-down::before {
    content: "\ea14";
}

.ngx-arrow-left::before {
    content: "\ea15";
}

.ngx-arrow-right::before {
    content: "\ea16";
}

.ngx-arrow-tail-left::before {
    content: "\ea17";
}

.ngx-arrow-tail-right::before {
    content: "\ea18";
}

.ngx-arrow-tail-subright::before {
    content: "\ea19";
}

.ngx-arrow-up::before {
    content: "\ea1a";
}

.ngx-assets::before {
    content: "\ea1b";
}

.ngx-attachment::before {
    content: "\ea1c";
}

.ngx-back-arrow::before {
    content: "\ea1d";
}

.ngx-bars::before {
    content: "\ea1e";
}

.ngx-bell::before {
    content: "\ea1f";
}

.ngx-bold::before {
    content: "\ea20";
}

.ngx-bolt::before {
    content: "\ea21";
}

.ngx-broom::before {
    content: "\ea22";
}

.ngx-browser-size::before {
    content: "\ea23";
}

.ngx-bug::before {
    content: "\ea24";
}

.ngx-builder::before {
    content: "\ea25";
}

.ngx-calendar-clock::before {
    content: "\ea26";
}

.ngx-calendar::before {
    content: "\ea27";
}

.ngx-calender-clock::before {
    content: "\ea28";
}

.ngx-cards::before {
    content: "\ea29";
}

.ngx-center-align::before {
    content: "\ea2a";
}

.ngx-chart-area::before {
    content: "\ea2b";
}

.ngx-chart-bar-bar::before {
    content: "\ea2c";
}

.ngx-chart-bubble::before {
    content: "\ea2d";
}

.ngx-chart-donut::before {
    content: "\ea2e";
}

.ngx-chart-full-stacked-area::before {
    content: "\ea2f";
}

.ngx-chart-heat::before {
    content: "\ea30";
}

.ngx-chart-horz-full-stack-bar::before {
    content: "\ea31";
}

.ngx-chart-number-card::before {
    content: "\ea32";
}

.ngx-chart-pie-grid::before {
    content: "\ea33";
}

.ngx-chart-pie::before {
    content: "\ea34";
}

.ngx-chart-scatter::before {
    content: "\ea35";
}

.ngx-chart-stacked-area::before {
    content: "\ea36";
}

.ngx-chart-vert-bar::before {
    content: "\ea37";
}

.ngx-chart-vert-bar2::before {
    content: "\ea38";
}

.ngx-chart-vert-stacked-bar::before {
    content: "\ea39";
}

.ngx-check-filled-sm::before {
    content: "\ea3a";
}

.ngx-check-filled::before {
    content: "\ea3b";
}

.ngx-check-square-filled::before {
    content: "\ea3c";
}

.ngx-check::before {
    content: "\ea3d";
}

.ngx-circle-filled::before {
    content: "\ea3e";
}

.ngx-circle::before {
    content: "\ea3f";
}

.ngx-circles::before {
    content: "\ea40";
}

.ngx-circuit-board::before {
    content: "\ea41";
}

.ngx-clipboard::before {
    content: "\ea42";
}

.ngx-clock::before {
    content: "\ea43";
}

.ngx-cloud-download::before {
    content: "\ea44";
}

.ngx-cloud-upload::before {
    content: "\ea45";
}

.ngx-code::before {
    content: "\ea46";
}

.ngx-cog::before {
    content: "\ea47";
}

.ngx-commandline::before {
    content: "\ea48";
}

.ngx-comments::before {
    content: "\ea49";
}

.ngx-copy-app::before {
    content: "\ea4a";
}

.ngx-copy-filled::before {
    content: "\ea4b";
}

.ngx-copy::before {
    content: "\ea4c";
}

.ngx-credit-card::before {
    content: "\ea4d";
}

.ngx-dashboard::before {
    content: "\ea4e";
}

.ngx-database::before {
    content: "\ea4f";
}

.ngx-devil::before {
    content: "\ea50";
}

.ngx-document::before {
    content: "\ea51";
}

.ngx-domain::before {
    content: "\ea52";
}

.ngx-dots-horz::before {
    content: "\ea53";
}

.ngx-dots-vert::before {
    content: "\ea54";
}

.ngx-double-down::before {
    content: "\ea55";
}

.ngx-double-left::before {
    content: "\ea56";
}

.ngx-double-right::before {
    content: "\ea57";
}

.ngx-double-up::before {
    content: "\ea58";
}

.ngx-edit-app::before {
    content: "\ea59";
}

.ngx-edit::before {
    content: "\ea5a";
}

.ngx-email::before {
    content: "\ea5c";
}

.ngx-expand::before {
    content: "\ea5b";
}

.ngx-explore::before {
    content: "\ea5d";
}

.ngx-export-filled::before {
    content: "\ea5e";
}

.ngx-export::before {
    content: "\ea5f";
}

.ngx-eye-disabled::before {
    content: "\ea60";
}

.ngx-eye-hidden::before {
    content: "\ea61";
}

.ngx-eye::before {
    content: "\ea62";
}

.ngx-field-created-by::before {
    content: "\ea63";
}

.ngx-field-created-date::before {
    content: "\ea64";
}

.ngx-field-date::before {
    content: "\ea65";
}

.ngx-field-edited-by::before {
    content: "\ea66";
}

.ngx-field-edited-date::before {
    content: "\ea67";
}

.ngx-field-grid::before {
    content: "\ea68";
}

.ngx-field-html::before {
    content: "\ea69";
}

.ngx-field-json::before {
    content: "\ea6a";
}

.ngx-field-list::before {
    content: "\ea6b";
}

.ngx-field-multiselect::before {
    content: "\ea6c";
}

.ngx-field-numeric::before {
    content: "\ea6d";
}

.ngx-field-richtext::before {
    content: "\ea6e";
}

.ngx-field-single-select::before {
    content: "\ea6f";
}

.ngx-field-singleline::before {
    content: "\ea70";
}

.ngx-field-text::before {
    content: "\ea71";
}

.ngx-field-textarea::before {
    content: "\ea72";
}

.ngx-field-users::before {
    content: "\ea73";
}

.ngx-filter-bar::before {
    content: "\ea74";
}

.ngx-filter::before {
    content: "\ea75";
}

.ngx-find-page::before {
    content: "\ea76";
}

.ngx-flame::before {
    content: "\ea77";
}

.ngx-folder::before {
    content: "\ea78";
}

.ngx-folders::before {
    content: "\ea79";
}

.ngx-font::before {
    content: "\ea7a";
}

.ngx-format-indent-decrease::before {
    content: "\ea7c";
}

.ngx-format-indent-increase::before {
    content: "\ea7b";
}

.ngx-formula::before {
    content: "\ea7d";
}

.ngx-full-align::before {
    content: "\ea7e";
}

.ngx-gauge::before {
    content: "\ea7f";
}

.ngx-gear-square::before {
    content: "\ea80";
}

.ngx-gear::before {
    content: "\ea81";
}

.ngx-globe::before {
    content: "\ea82";
}

.ngx-graph-2::before {
    content: "\ea83";
}

.ngx-graph::before {
    content: "\ea85";
}

.ngx-grid-view::before {
    content: "\ea84";
}

.ngx-hand::before {
    content: "\ea86";
}

.ngx-handle::before {
    content: "\ea87";
}

.ngx-heat::before {
    content: "\ea88";
}

.ngx-helper::before {
    content: "\ea89";
}

.ngx-history::before {
    content: "\ea8a";
}

.ngx-horz-bar-graph-grouped::before {
    content: "\ea8b";
}

.ngx-horz-stacked-bar::before {
    content: "\ea8c";
}

.ngx-html-code::before {
    content: "\ea8d";
}

.ngx-icon-chart-bar-horizontal::before {
    content: "\ea8e";
}

.ngx-icon-chart-horz-bar::before {
    content: "\ea8f";
}

.ngx-info-filled::before {
    content: "\ea90";
}

.ngx-input::before {
    content: "\ea91";
}

.ngx-inspect::before {
    content: "\ea92";
}

.ngx-integration::before {
    content: "\ea93";
}

.ngx-integrations::before {
    content: "\ea94";
}

.ngx-ip::before {
    content: "\ea95";
}

.ngx-italic::before {
    content: "\ea96";
}

.ngx-keyboard::before {
    content: "\ea97";
}

.ngx-layer::before {
    content: "\ea98";
}

.ngx-left-align::before {
    content: "\ea99";
}

.ngx-line-chart::before {
    content: "\ea9a";
}

.ngx-line-graph::before {
    content: "\ea9b";
}

.ngx-linear-gauge::before {
    content: "\ea9c";
}

.ngx-link::before {
    content: "\ea9d";
}

.ngx-list-1::before {
    content: "\ea9e";
}

.ngx-list-view::before {
    content: "\ea9f";
}

.ngx-list::before {
    content: "\eaa0";
}

.ngx-loading::before {
    content: "\eaa1";
}

.ngx-location::before {
    content: "\eaa2";
}

.ngx-lock-sm::before {
    content: "\eaa3";
}

.ngx-lock::before {
    content: "\eaa4";
}

.ngx-mail-1::before {
    content: "\eaa5";
}

.ngx-mail::before {
    content: "\eaa6";
}

.ngx-map::before {
    content: "\eaa7";
}

.ngx-menu::before {
    content: "\eaa8";
}

.ngx-mic::before {
    content: "\eaa9";
}

.ngx-minus::before {
    content: "\eaaa";
}

.ngx-money::before {
    content: "\eaab";
}

.ngx-mouse-click::before {
    content: "\eaac";
}

.ngx-mouse-hold::before {
    content: "\eaad";
}

.ngx-multi-line::before {
    content: "\eaae";
}

.ngx-new-app::before {
    content: "\eaaf";
}

.ngx-numbered-list::before {
    content: "\eab0";
}

.ngx-open::before {
    content: "\eab1";
}

.ngx-output::before {
    content: "\eab2";
}

.ngx-paragraph::before {
    content: "\eab3";
}

.ngx-pause::before {
    content: "\eab4";
}

.ngx-phone::before {
    content: "\eab5";
}

.ngx-pie-chart::before {
    content: "\eab6";
}

.ngx-pin::before {
    content: "\eab7";
}

.ngx-plane::before {
    content: "\eab8";
}

.ngx-play::before {
    content: "\eab9";
}

.ngx-plus::before {
    content: "\eaba";
}

.ngx-prev::before {
    content: "\eabb";
}

.ngx-printer::before {
    content: "\eabc";
}

.ngx-profile-filled::before {
    content: "\eabd";
}

.ngx-profile::before {
    content: "\eabe";
}

.ngx-question-filled-sm::before {
    content: "\eabf";
}

.ngx-question-filled::before {
    content: "\eac0";
}

.ngx-question::before {
    content: "\eac1";
}

.ngx-radio-button::before {
    content: "\eac2";
}

.ngx-reference-grid::before {
    content: "\eac3";
}

.ngx-reference-multi::before {
    content: "\eac4";
}

.ngx-reference-single::before {
    content: "\eac5";
}

.ngx-reference::before {
    content: "\eac7";
}

.ngx-refresh-circle::before {
    content: "\eac6";
}

.ngx-refresh::before {
    content: "\eac8";
}

.ngx-remove-edge::before {
    content: "\eac9";
}

.ngx-remove-node::before {
    content: "\eaca";
}

.ngx-remove-users::before {
    content: "\eacb";
}

.ngx-reports::before {
    content: "\eacc";
}

.ngx-right-align::before {
    content: "\eacd";
}

.ngx-rocket::before {
    content: "\eace";
}

.ngx-rotate::before {
    content: "\eacf";
}

.ngx-save::before {
    content: "\ead0";
}

.ngx-screen-1::before {
    content: "\ead1";
}

.ngx-screen::before {
    content: "\ead2";
}

.ngx-search::before {
    content: "\ead3";
}

.ngx-section::before {
    content: "\ead4";
}

.ngx-select-all::before {
    content: "\ead5";
}

.ngx-select-user::before {
    content: "\ead6";
}

.ngx-select-users::before {
    content: "\ead7";
}

.ngx-server::before {
    content: "\ead8";
}

.ngx-shield::before {
    content: "\ead9";
}

.ngx-shrink::before {
    content: "\eada";
}

.ngx-skip::before {
    content: "\eadb";
}

.ngx-smartphone::before {
    content: "\eadc";
}

.ngx-smiley-frown::before {
    content: "\eadd";
}

.ngx-snapshot::before {
    content: "\eade";
}

.ngx-split-handle::before {
    content: "\eadf";
}

.ngx-square-filled::before {
    content: "\eae0";
}

.ngx-square::before {
    content: "\eae1";
}

.ngx-star-filled::before {
    content: "\eae2";
}

.ngx-star::before {
    content: "\eae3";
}

.ngx-stopwatch::before {
    content: "\eae4";
}

.ngx-superscript::before {
    content: "\eae5";
}

.ngx-switch::before {
    content: "\eae6";
}

.ngx-system-diagnostics::before {
    content: "\eae7";
}

.ngx-table::before {
    content: "\eae8";
}

.ngx-tabs::before {
    content: "\eae9";
}

.ngx-tracking-id::before {
    content: "\eaea";
}

.ngx-trash::before {
    content: "\eaeb";
}

.ngx-tree-collapse::before {
    content: "\eaec";
}

.ngx-tree-expand::before {
    content: "\eaed";
}

.ngx-tree::before {
    content: "\eaee";
}

.ngx-trending::before {
    content: "\eaef";
}

.ngx-underline::before {
    content: "\eaf0";
}

.ngx-user-add::before {
    content: "\eaf1";
}

.ngx-user-circle::before {
    content: "\eaf2";
}

.ngx-user-groups::before {
    content: "\eaf3";
}

.ngx-user::before {
    content: "\eaf4";
}

.ngx-users::before {
    content: "\eaf5";
}

.ngx-vert-bar-graph-grouped::before {
    content: "\eaf6";
}

.ngx-wand::before {
    content: "\eaf7";
}

.ngx-warning-filled-sm::before {
    content: "\eaf8";
}

.ngx-warning-filled::before {
    content: "\eaf9";
}

.ngx-web-api::before {
    content: "\eafa";
}

.ngx-worker::before {
    content: "\eafb";
}

.ngx-workflow::before {
    content: "\eafc";
}

.ngx-workspaces::before {
    content: "\eafd";
}

.ngx-workstation::before {
    content: "\eafe";
}

.ngx-wrench::before {
    content: "\eaff";
}

.ngx-x-filled::before {
    content: "\eb00";
}

.ngx-x::before {
    content: "\eb01";
}


/* all icon font classes list here */
