table.alignment-test {
  margin-left: var(--spacing-20);
  margin-top: var(--spacing-20);
  background: #171a21;

  tr,
  tr td {
    vertical-align: inherit;
  }

  tr th {
    vertical-align: bottom;
  }

  td {
    padding: 05px;
    border: 10px solid #34282c;
  }

  tr td:first-child {
    border: none;
  }

  &.show-outline td > * {
    outline: 1px solid red;
  }
}

.flex-container {
  display: flex;
  gap: var(--spacing-12);

  > * {
    flex: 0 1 20%;
  }
}
