<h3 class="style-header">Tabs</h3>

<ngx-tabs (selectTab)="handleTabChange($event)">
  <ngx-tab label="Examples"></ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('tabs-inputs')">ngx-tabs Inputs</a>
    <a class="documentation-content" (click)="scrollTo('tabs-outputs')">ngx-tabs Outputs</a>
    <a class="documentation-content" (click)="scrollTo('tab-inputs')">ngx-tab Inputs</a>
    <a class="documentation-content" (click)="scrollTo('tab-outputs')">ngx-tab Outputs</a>
    <hr>

    <h3 class="style-header" id="tabs-inputs">ngx-tabs Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>appearance: TabsAppearance = TabsAppearance.Legacy</code>
          </th>
          <td>The appearance style of the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>vertical: boolean</code>
          </th>
          <td>Whether the tab list is displayed vertically.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="tabs-outputs">ngx-tabs Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Output()</code>
            <code>selectTab: EventEmitter&lt;any&gt;</code>
          </th>
          <td>Event emitted when an individual tab is selected.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="tab-inputs">ngx-tab Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>active: boolean</code>
          </th>
          <td>Whether the component is active.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>label: string | TemplateRef&lt;any&gt;</code>
          </th>
          <td>The label for the component.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="tab-outputs">ngx-tab Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Output()</code>
            <code>inputChanges: EventEmitter&lt;SimpleChanges&gt;</code>
          </th>
          <td>Event emitted when the <i>ngOnChanges</i> Angular lifecycle hook executes for the component.</td>
        </tr>
      </tbody>
    </table>
  </ngx-tab>
</ngx-tabs>

<ng-container *ngIf="showExamples">
  <ngx-section class="shadow" sectionTitle="Basic Tabs">
    <ngx-tabs>
      <ngx-tab label="Tab 1">
        Tab 1 contents.
        This content is rendered once, when the ngx-tabs component is initialized.
        <counter id="tab1"></counter>
      </ngx-tab>
      <ngx-tab label="Tab 2">
        <div *ngxIfTabActive>
          Tab 2 contents.
          Wrap the content in an element with an *ngxIfTabActive directive to only initialize when the tab is active.
          <br />This content is rendered each time the tab is activated.
          <counter id="tab2"></counter>
        </div>
      </ngx-tab>
      <ngx-tab label="Tab 3">
        <ng-template ngxIfTabActive>
          Tab 3 contents.
          This is equivalent to Tab 2.
          <br />This content is rendered each time the tab is activated.
          <counter id="tab3"></counter>
        </ng-template>
      </ngx-tab>
      <ngx-tab label="Tab 4" [active]="false" #thisTab>
        Tab 4 contents.
        An *ngIf can be used to control selectively certain content.
        <br />This portion is rendered once, when the ngx-tabs component is initialized.
        <counter id="tab4a"></counter>
        <div *ngIf="thisTab?.active">
          This portion is rendered each time the tab is activated.
          <counter id="tab4b"></counter>
        </div>
      </ngx-tab>
    </ngx-tabs>
  
    <app-prism>
  <![CDATA[<ngx-tabs>
    <ngx-tab label="Tab 1">
      This content is rendered once, when the ngx-tabs component is initialized.
      <counter id="tab1"></counter>
    </ngx-tab>
    <ngx-tab label="Tab 2">
      <div *ngxIfTabActive>
        Wrap the content in an element with an *ngxIfTabActive directive to only initialize when the tab is active.
        <br />This content is rendered each time the tab is activated.
        <counter id="tab2"></counter>
      </div>
    </ngx-tab>
    <ngx-tab label="Tab 3">
      <ng-template ngxIfTabActive>
        This is equivalent to Tab 2.
        <br />This content is rendered each time the tab is activated.
        <counter id="tab3"></counter>
      </ng-template>
    </ngx-tab>
    <ngx-tab label="Tab 4" [active]="false" #thisTab>
      An *ngIf can be used to control selectively certain content.
      <br />This portion is rendered once, when the ngx-tabs component is initialized.
      <counter id="tab4a"></counter>
      <div *ngIf="thisTab?.active">
        This portion is rendered each time the tab is activated.
        <counter id="tab4b"></counter>
      </div>
    </ngx-tab>
  </ngx-tabs>]]>
    </app-prism>
  </ngx-section>
  
  <ngx-section class="shadow" sectionTitle="Tab Controls">
    <ngx-tabs #tabs>
      <ngx-tab #tab1 [label]="'Tab 1'">
        Tab 1 Content
      </ngx-tab>
      <ngx-tab #tab2 [label]="'Tab 2'">
        Tab 2 Content
      </ngx-tab>
      <ngx-tab #tab3 [label]="'Tab 3'" [disabled]="tab3Disabled">
        Tab 3 Content, Disabled
      </ngx-tab>
      <ngx-tab #tab4 [label]="'Tab 4'">
        Tab 4 Content
      </ngx-tab>
    </ngx-tabs>
    <button class="btn btn-bordered" (click)="tabs.prev()" [disabled]="tab1.active">Prev</button>
    <button class="btn btn-bordered" (click)="tabs.next()" [disabled]="tab4.active">Next</button>
    <button class="btn btn-primary" (click)="tabs.tabClicked(tab4)" [disabled]="tab4.active">Select Tab 4</button>
    <ngx-toggle [(ngModel)]="tab3Disabled" label="Disable Tab 3"> </ngx-toggle>
  
    <app-prism>
  <![CDATA[<ngx-tabs #tabs>
    <ngx-tab #tab1 [label]="'Tab 1'">
      Tab 1 Content
    </ngx-tab>
    <ngx-tab #tab2 [label]="'Tab 2'">
      Tab 2 Content
    </ngx-tab>
    <ngx-tab #tab3 [label]="'Tab 3'" [disabled]="tab3Disabled">
      Tab 3 Content, Disabled
    </ngx-tab>
    <ngx-tab #tab4 [label]="'Tab 4'">
      Tab 4 Content
    </ngx-tab>
  </ngx-tabs>
  <button class="btn btn-bordered" (click)="tabs.prev()" [disabled]="tab1.active">Prev</button>
  <button class="btn btn-bordered" (click)="tabs.next()" [disabled]="tab4.active">Next</button>
  <button class="btn btn-primary" (click)="tabs.tabClicked(tab4)" [disabled]="tab4.active">Select Tab 4</button>
  <ngx-toggle [(ngModel)]="tab3Disabled" label="Disable Tab 3"> </ngx-toggle>]]>
    </app-prism>
  </ngx-section>
  
  <ngx-section class="shadow" sectionTitle="ngFor Tabs">
    <button (click)="tabList.push(tabList.length + 1)">Add Tab</button>
    <ngx-tabs>
      <ngx-tab *ngFor="let i of tabList" [label]="'Tab ' + i" [active]="i === 1">
        {{ 'Tab ' + i }}
      </ngx-tab>
    </ngx-tabs>
  
    <app-prism>
  <![CDATA[<ngx-tabs>
    <ngx-tab *ngFor="let i of tabList" [label]="'Tab ' + i" [active]="i === 1">
      { { 'Tab ' + i } }
    </ngx-tab>
  </ngx-tabs>]]>
    </app-prism>
  </ngx-section>
  
  <ngx-section class="shadow" sectionTitle="Custom Label Tabs">
    <ngx-tabs>
      <ngx-tab #tab1 [label]="tabLabel1">
        Tab 1 custom label
      </ngx-tab>
      <ngx-tab #tab2 [label]="tabLabel2">
        Tab 2 custom label
      </ngx-tab>
      <ngx-tab #tab3 [label]="tabLabel3" [disabled]="true">
        Tab 3 custom label, Disabled
      </ngx-tab>
    </ngx-tabs>
  
    <app-prism>
  <![CDATA[<ngx-tabs>
    <ngx-tab #tab1 [label]="tabLabel1">
      Tab 1 custom label
    </ngx-tab>
    <ngx-tab #tab2 [label]="tabLabel2">
      Tab 2 custom label
    </ngx-tab>
    <ngx-tab #tab3 [label]="tabLabel3" [disabled]="true">
      Tab 3 custom label, Disabled
    </ngx-tab>
  </ngx-tabs>]]>
    </app-prism>
  
    <ng-template #tabLabel1> <ngx-icon fontIcon="hand"></ngx-icon> Tab 1 </ng-template>
    <ng-template #tabLabel2> <ngx-icon fontIcon="user-groups"></ngx-icon> Tab 2 </ng-template>
    <ng-template #tabLabel3> <ngx-icon fontIcon="plane"></ngx-icon> Tab 3 </ng-template>
  </ngx-section>
  
  <ngx-section class="shadow" sectionTitle="Variants">
    <ngx-tabs [vertical]="true">
      <ngx-tab label="Tab 1">
        Tab 1 Content
      </ngx-tab>
      <ngx-tab label="Tab 2">
        Tab 2 Content
      </ngx-tab>
      <ngx-tab label="Tab 3" [disabled]="true">
        Tab 3 Content, Disabled
      </ngx-tab>
      <ngx-tab label="Tab 4">
        Tab 4 Content
      </ngx-tab>
    </ngx-tabs>
  
    <ngx-tabs appearance='light'>
      <ngx-tab label="Tab 1">
        Tab 1 Content
      </ngx-tab>
      <ngx-tab label="Tab 2">
        Tab 2 Content
      </ngx-tab>
      <ngx-tab label="Tab 3" [disabled]="true">
        Tab 3 Content, Disabled
      </ngx-tab>
      <ngx-tab label="Tab 4">
        Tab 4 Content
      </ngx-tab>
    </ngx-tabs>
  
    <ngx-tabs appearance='light' [vertical]="true">
      <ngx-tab label="Tab 1">
        Tab 1 Content
      </ngx-tab>
      <ngx-tab label="Tab 2">
        Tab 2 Content
      </ngx-tab>
      <ngx-tab label="Tab 3" [disabled]="true">
        Tab 3 Content, Disabled
      </ngx-tab>
      <ngx-tab label="Tab 4">
        Tab 4 Content
      </ngx-tab>
    </ngx-tabs>
  </ngx-section>
</ng-container>


