<h3 class="style-header">Nag</h3>

<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" sectionTitle="Demo">
      <button type="button" class="btn" (click)="addNag()">
        Add Nag Alert
      </button>
    
      <button type="button" class="btn" (click)="nags.shift()">
        Remove Nag Alert
      </button>
    
      <br />
      <br />
      <br />
      <app-prism>
    <![CDATA[<ngx-nag [watch]="nags.length">
      <h2 ngx-nag-title class="ngx-toolbar-title">
        <ngx-icon fontIcon="alert"></ngx-icon> { {nags.length} } Alerts Detected
      </h2>
      <ngx-section
        *ngFor="let nag of nags" class="shadow"
        [sectionTitle]="nag.type + ' #' + nag.id"
        [sectionCollapsible]="false"
        [sectionCollapsed]="true">
      </ngx-section>
    </ngx-nag>]]>
      </app-prism>
    </ngx-section>
    
    <ngx-nag [watch]="nags.length" [hide]="nags.length === 0">
      <h2 ngx-nag-title class="ngx-toolbar-title">
        <ngx-icon fontIcon="alert" style="color: #ff4514; font-size: small; margin-right: 10px;"></ngx-icon>
        {{ nags.length }} Alerts Detected
      </h2>
      <ngx-section
        *ngFor="let nag of nags"
        class="shadow"
        [sectionTitle]="nag.type + ' #' + nag.id"
        [sectionCollapsible]="false"
        [sectionCollapsed]="true"
      >
      </ngx-section>
    </ngx-nag>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('inputs')">Component Inputs</a>
    <a class="documentation-content" (click)="scrollTo('outputs')">Component Outputs</a>
    <hr>

    <h3 class="style-header" id="inputs">Component Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>cssClass: string</code>
          </th>
          <td>The custom CSS class to add to the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>hide: any</code>
          </th>
          <td>Setting this value will force the component to close.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>nagTitle: string</code>
          </th>
          <td>The title for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>state: State | keyof typeof State = State.closed</code>
          </th>
          <td>The state of the component, either <code>open</code>, <code>peek</code>, or <code>closed</code>.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>watch: any</code>
          </th>
          <td>Changes to this value cause animation and state changes.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">&#64;Input()</code>
            <code>zIndex: number</code>
          </th>
          <td>The value for the CSS <code>z-index</code> property to be applied to the component.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="outputs">Component Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">&#64;Output()</code>
            <code>stateChanged: EventEmitter&lt;string&gt;</code>
          </th>
          <td>Event emitted when the state of the component changes.</td>
        </tr>
      </tbody>
    </table>
  </ngx-tab>
</ngx-tabs>
