$font-name: 'Fira Sans';
$font-src: '~assets/fonts/fira-sans';
$lato-stack: 'Fira Sans', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;

/**
 * Font stacks
 * http://www.fontspring.com/blog/smoother-rendering-in-chrome-update
*/
@font-face {
  font-family: $font-name;
  font-style: normal;
  src: url(#{$font-src}/FiraSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: $font-name;
  font-style: italic;
  src: url(#{$font-src}/FiraSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: $font-name;
  font-weight: 300;
  font-style: normal;
  src: url(#{$font-src}/FiraSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: $font-name;
  font-weight: bold;
  font-style: normal;
  src: url(#{$font-src}/FiraSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: $font-name;
  font-weight: bold;
  font-style: italic;
  src: url(#{$font-src}/FiraSans-BoldItalic.ttf) format('truetype');
}
