.night-theme,
.moonlight-theme {
  background: var(--ngx-ui-color-blue-grey-850);
  color: var(--ngx-ui-color-blue-grey-050);
}

.moonlight-theme {
  background-color: var(--ngx-ui-bg-radial-2);
  background-size: cover;
  background-repeat: no-repeat;
}
