@import "colors/index";

.drawer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  transition: transform 300ms;
  z-index: 998;
  background: $color-bg-darker;

  &.left-drawer {
    top: 0;
    left: 100%;
    height: 100%;
  }

  &.bottom-drawer {
    left: 0;
    top: 100%;
    width: 100%;
  }
}
