/**
 * Button styling
 */

$button-text-color: $color-white;
$button-fill-color: $color-bg-med;
$button-fill-active-color: $color-bg-dark;

button {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;
  background: transparent;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.btn {
  box-sizing: border-box;
  color: $button-text-color;
  display: inline-block;
  margin: 0 0.20em;
  padding: 0.30em 0.55em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font: inherit;
  font-size: .9em;
  font-weight: bold;
  outline: none;

  background: $button-fill-color;
  border: solid 1px transparent;
  border-radius: 2px;
  box-shadow: $shadow-1;
  transition: background-color 200ms, box-shadow 200ms;

  .icon {
    font-size: .8em;
    font-weight: inherit;

    &:before {
      font-weight: inherit;
    }

    &.has-text, &.has-text-right {
      margin-right: 5px;
    }

    &.has-text-left {
      margin-left: 5px;
    }
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
    box-shadow: $shadow-3;
  }

  &:focus:not([disabled]),
  &:focus:not(.disabled),
  &:hover:not([disabled]),
  &:hover:not(.disabled) {
    cursor: pointer;
    background: $button-fill-active-color;

    &.btn-primary {
      background-color: $color-blue;
    }

    &.btn-warning {
      background-color: $color-orange;
    }

    &.btn-danger {
      background-color: $color-red;
    }

    &.btn-link {
      background-color: transparent;
    }

    &.btn-bordered {
      border-color: $color-blue-light;
      color: $color-blue-light;
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &.btn-primary {
    background-color: $color-blue-400;
  }

  &.btn-warning {
    background-color: $color-orange-400;
  }

  &.btn-danger {
    background-color: $color-red-400;
  }

  &.btn-link {
    background-color: transparent;
    box-shadow: none;
  }

  &.btn-bordered, &.btn-primary.btn-bordered {
    border: 1px solid $color-blue-400 !important;
    color: $color-blue-400 !important;
    background-color: transparent !important;
    box-shadow: none;

    &:hover {
      border-color: $color-blue-light !important;
      color: $color-blue-light !important;
    }

    &.disabled-button {
      opacity: 0.5;

      .button {
        opacity: 1;
      }
    }
  }

  &.btn-default.btn-bordered {
    border: 1px solid $button-text-color !important;
    color: $button-text-color !important;
    background-color: transparent !important;
    box-shadow: none;

    &:hover {
      border-color: $color-blue !important;
      color: $color-blue !important;
    }

    &.disabled-button {
      opacity: 0.5;

      .button {
        opacity: 1;
      }
    }
  }

  &.btn-file {
    cursor: pointer;
    padding: 0;

    label {
      display: block;
      cursor: pointer;
      padding: 0.35em 0.75em;
    }

    &[disabled] label {
      cursor: not-allowed;
    }

    input[type=file] {
      pointer-events: none;
      position: absolute;
      left: -9999px;
    }
  }
}
