$tag-height: 32px;
$tag-padding: 12px;
$tag-border-radius: 5px;

.tag {
  cursor: default;
  border-radius: $tag-border-radius;
  display: inline-block;
  height: $tag-height;
  line-height: $tag-height;
  margin: 0 8px 0 0;
  padding: 0 $tag-padding;
  box-sizing: border-box;
  position: relative;
  background: $color-white;
  color: $color-bg-darkest;
  font-size: 1rem;

  &.tag-small {
    font-size: .8rem;
    margin: 0 8px 0 0;
    height: calc($tag-height / 2);
    line-height: calc($tag-height / 2);
    padding: 0 calc($tag-padding / 2);
    border-radius: calc($tag-border-radius / 2);
  }
}
