@import "colors/index";

.ngx-alert-dialog {
  .ngx-dialog-content {
    &.ngx-alert-danger {
      background: $color-red;
      .ngx-dialog-body {
        color: $color-grey-100;
      }
    }

    &.ngx-alert-warning {
      background: $color-orange;
      .ngx-dialog-body {
        color: $color-grey-100;
      }
    }
  }

  .ngx-dialog-footer {
    margin-top: 30px;
  }
}
