<h3 class="style-header">Datatable</h3>
<ngx-section class="shadow" [sectionTitle]="'Demo'">
  <p>
    Basic
    <a href="https://github.com/swimlane/ngx-datatable" target="_blank">ngx-datatable</a>
    example styled for ngx-ui. Note: This module is not included in ngx-ui by default.
  </p>

  <ngx-datatable class='ngx-datatable' [rows]='rows' [selectionType]="'single'" [limit]="10" [headerHeight]="40"
    [footerHeight]="40" [rowHeight]="40" [columnMode]="'force'" [cssClasses]="{
      sortAscending: 'icon-arrow-down',
      sortDescending: 'icon-arrow-up',
      pagerLeftArrow: 'icon-arrow-left',
      pagerRightArrow: 'icon-arrow-right',
      pagerPrevious: 'icon-prev',
      pagerNext: 'icon-skip'
    }"
    [columns]="[
      { name: 'Type of Attack', prop: 'type' },
      { name: 'OS Type', prop: 'os' },
      { name: 'User Affected', prop: 'user' }
    ]">
  </ngx-datatable>

  <br />

  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-datatable
        class='ngx-datatable'
        [rows]='rows'
        [selectionType]="'single'"
        [limit]="10"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="40"
        [columnMode]="'force'"
        [cssClasses]="{
          sortAscending: 'icon-arrow-down',
          sortDescending: 'icon-arrow-up',
          pagerLeftArrow: 'icon-arrow-left',
          pagerRightArrow: 'icon-arrow-right',
          pagerPrevious: 'icon-prev',
          pagerNext: 'icon-skip'
        }"
        [columns]="[
          { name: 'Type of Attack', prop: 'type' },
          { name: 'OS Type', prop: 'os' },
          { name: 'User Affected', prop: 'user' }
        ]">
      </ngx-datatable>
    ]]>
  </ngx-codemirror>

</ngx-section>