@import "colors/index";

.swui-date-time {
  position: relative;

  .calendar-dialog-btn {
    position: absolute;
    right: 5px;
    height: 30px;
    line-height: 30px;
    top: 0;
    color: $color-text-med-dark;
  }

  .input-error {
    color: $color-red;
  }
}

.swui-date-time-dialog {
  padding: 0 !important;

  .swui-calendar {
    box-shadow: none;
  }

  .swui-dialog-footer {
    padding: .5rem 0;

    button {
      margin-right: 1rem;
    }
  }
}
