@import "colors/index";
@import "forms/inputs";

.ngx-date-time {
  position: relative;

  .calendar-dialog-btn {
    position: absolute;
    right: 5px;
    height: 30px;
    line-height: 30px;
    top: -5px;
    color: $color-text-med-dark;
    padding: 0;
  }

  .input-error {
    color: $color-red;
  }
}

.ngx-date-time-dialog {
  padding: 0 !important;
  width: 300px;

  h1 {
    font-size: 1.5rem;
    white-space: nowrap;

    small {
      color: $color-white;
    }
  }

  .selected-header {
    padding: 5px 20px;
    background: $color-blue;
    color: $color-white;
  }

  .time-row {
    background: $color-bg-med;
    padding: 0 15px;
    margin-top: 1px;

    .ngx-input .ngx-input-underline {
      background-color: $color-input-text;
    }
  }

  .ngx-calendar {
    box-shadow: none;
    width: 100%;

    .title-row {
      background: none;
    }

    .day-name-row {
      margin-top: 0;
    }
  }

  .ngx-dialog-footer {
    padding: 0.5rem 0;

    .today-btn {
      margin-left: .5rem;
    }

    .cancel-btn,
    .clear-btn,
    .ok-btn {
      margin-right: .5rem;
    }
  }
}
