@import "colors/index";

$dialog-bg: $color-blue-grey-800;
$dialog-header-color: $color-grey-100;
$dialog-body-color: $color-grey-300;

.ngx-dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;

  .ngx-dialog-content {
    pointer-events: auto;
    border-radius: 2px;
    box-shadow: $shadow-3;
    background: $dialog-bg;
    padding: 1.4rem;
    position: relative;
    animation-fill-mode: forwards;
    min-width: 250px;

    .ngx-dialog-header {
      .ngx-dialog-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0 0 1.4rem 0;
        color: $dialog-header-color;
      }

      .close {
        position: absolute;
        top: 5px;
        color: $dialog-header-color;
        right: 5px;
      }
    }

    .ngx-dialog-body {
      font-size: .9rem;
      color: $dialog-body-color;
    }

    .ngx-dialog-footer {
      text-align: right;

      .btn {
        margin-left: 5px;
      }
    }
  }

  @keyframes anim-open {
  	0% { opacity: 0; transform: scale3d(1.1, 1.1, 1); }
  	100% { opacity: 1; transform: scale3d(1, 1, 1); }
  }

  @keyframes anim-close {
  	0% { opacity: 1; }
  	100% { opacity: 0; transform: scale3d(0.9, 0.9, 1); }
  }

}
