/**
 * Lists
 */

 ol, ul {
   margin-top: 1em;
   display: block;
   padding-left: 2rem;
   margin-bottom: 1em;
 }

ol {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum' 1;
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

.list-reset,
.list-reset > li {
  padding: 0;
  margin: 0;
  list-style: none;
}
