<h3 class="style-header">Tooltip</h3>

<ngx-section class="shadow" [sectionTitle]="'Tooltip'">
  <a href="/" [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" ngx-tooltip [tooltipTitle]="'Phishing Attack'">
    Top
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" [tooltipPlacement]="'right'" [tooltipType]="'tooltip'" ngx-tooltip [tooltipTitle]="'Phishing Attack'">
    Right
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" [tooltipPlacement]="'bottom'" [tooltipType]="'tooltip'" ngx-tooltip [tooltipTitle]="'Phishing Attack'">
    Bottom
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" [tooltipPlacement]="'left'" [tooltipType]="'tooltip'" ngx-tooltip [tooltipTitle]="'Phishing Attack'">
    Left
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" ngx-tooltip
    [tooltipTitle]="dynamicVal">
    Sibling
  </a>

  <span style="padding: 0 15px">|</span>

  <ng-template #toolTipTemplate>
    <strong style="color:red;">ALERT: High Priority</strong>
  </ng-template>

  <a href="/" [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" ngx-tooltip
    [tooltipTemplate]="toolTipTemplate">
    Template
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
    [tooltipTitle]="'Suitably small values long sudo bar giga mutex tarball race condition <strong>January 1, 1970</strong>. <br />Case d00dz bytes eaten by a grue linux script kiddies hack the mainframe mailbomb highjack Linus Torvalds <br />snarf firewall false. Wannabee printf wombat back door fail terminal for warez James T. <br />Kirk /dev/null private void Starcraft do big-endian break spoof.'">
    Large HTML
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
    [tooltipCssClass]="'demo-class demo-class2'" [tooltipTitle]="'Security breach!'">
    Custom Class
  </a>

  <br />
  <br />

  <app-prism>
<![CDATA[<a
  href="/"
  [tooltipPlacement]="'top'"
  [tooltipType]="'tooltip'"
  ngx-tooltip
  [tooltipTitle]="'Phishing Attack'">
  Top
</a>]]>
  </app-prism>

</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Popover'">
  <ng-template #popoverTemplate let-model="model">
    <h3>Tool tip custom content defined inside a template</h3>
    <p>With context binding: {{tooltipModel.text}}</p>
    <p *ngIf="model">Outside Context {{model.foo}}</p>
  </ng-template>

  <a href="/" ngx-tooltip [tooltipContext]="{ foo: 'YAZ' }" [tooltipType]="'popover'" [tooltipPlacement]="'top'"
    [tooltipTemplate]="popoverTemplate">
    Top
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'right'" [tooltipTemplate]="popoverTemplate">
    Right
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'bottom'" [tooltipTemplate]="popoverTemplate">
    Bottom
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'left'" [tooltipTemplate]="popoverTemplate">
    Left
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'top'" [tooltipShowEvent]="'focus'"
    [tooltipTemplate]="popoverTemplate">
    Focus
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'top'" [tooltipShowTimeout]="0"
    [tooltipHideTimeout]="0" [tooltipTemplate]="popoverTemplate">
    Immediate
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip [tooltipType]="'popover'" [tooltipPlacement]="'top'" [tooltipDisabled]="true"
    [tooltipTemplate]="popoverTemplate">
    Disabled
  </a>

  <span style="padding: 0 15px">|</span>

  <a href="/" ngx-tooltip (onShow)="shown = 'Yay!'" (onHide)="shown = ''" [tooltipType]="'popover'"
    [tooltipPlacement]="'top'" [tooltipShowCaret]="false" [tooltipTemplate]="popoverTemplate">
    No Caret {{shown}}
  </a>
  <br />
  <br />

  <app-prism>
<![CDATA[<ng-template #popoverTemplate let-model="model">
  <h3>Tool tip custom content defined inside a template</h3>
  <p>With context binding: tooltipModel.text</p>
</ng-template>

<a
  href="/"
  ngx-tooltip
  [tooltipContext]="{ foo: 'YAZ' }"
  [tooltipType]="'popover'"
  [tooltipPlacement]="'top'"
  [tooltipTemplate]="popoverTemplate">
  Top
</a>]]>
  </app-prism>
</ngx-section>
