<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ngx-ui - Angular2+ component and style library</title>
  <meta name="application-name" content="ngx-ui">

  <!-- Disable translation prompt: Chrome -->
  <meta name="google" value="notranslate">

  <!-- Scaling -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- IE -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cleartype" content="on">

  <!-- Add to Home Screen: iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Swimlane">

  <!-- Add to Home Screen: Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <style>
  .page-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    line-height: 0;
    font-size: 30px;
    margin: -15px 0 0 -15px;
  }
  </style>
</head>
<body class="style-guide night-theme">
  <app>
    <div class="page-loader icon-loading"></div>
  </app>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>
      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
  <% } %>

</body>
</html>
