.color-group {
  width: 250px;

  .main-color {
    height: 70px;
  }

  .color {
    padding: 15px 10px;
  }
}

.shadow-demo {
  height: 120px;
  margin: 15px;
  text-align: center;
  line-height: 120px;
}
