@import "colors/index";

.swui-complexity-meter {
  display: block;
  margin-bottom: 1.1em;

  .meter-bar {
    display: inline-block;
    appearance: none;
    width: 100%;
    height: 2px;
    margin: 0 auto 1em;
    background: none;
    background-color: transparent;
    transition: background-color 300ms;

    &.ascented {
      box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;

      &.has-value {
        &.score-0,
        &.score-1 {
          background-color: $color-red;
        }

        &.score-2,
        &.score-3 {
          background-color: $color-orange;
        }

        &.score-4 {
          background-color: $color-green;
        }
      }
    }

    .meter-text {
      color: $color-text-med-dark;
      font-size: .75em;
      text-transform: uppercase;
      text-align: right;
      margin-top: 7px;
    }
  }

}
