/**
 * Colors
 */
/**
 * Gradients
 */
.gradient-blue {
  background-image: linear-gradient(to top right, #6bd1f9 0%, #54a4fb 100%); }

.gradient-blue-green {
  background-image: linear-gradient(to top right, #69d1f8 0%, #59e6c8 100%); }

.gradient-blue-red {
  background-image: linear-gradient(to top right, #50a1f9 0%, #f96f50 100%); }

.gradient-blue-purple {
  background-image: linear-gradient(to top right, #73bef4 0%, #aa90ed 100%); }

.gradient-red-orange {
  background-image: linear-gradient(to top right, #fc7c5f 0%, #fcbc5a 100%); }

.gradient-orange-purple {
  background-image: linear-gradient(to top right, #f5cc98 0%, #ae94ec 100%); }

/**
 * Gradient Backgrounds
 */
.bg-linear-1 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%); }

.bg-linear-2 {
  background-image: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%); }

.bg-radial-1 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #1e283e 0%, #1b1e27 100%); }

.bg-radial-2 {
  background-image: radial-gradient(ellipse farthest-corner at center top, #212736 0%, #1b1f29 100%); }

/**
 * Shadow Presets
 * Concept from: https://github.com/angular/material/blob/master/src/core/style/variables.css
 */
.shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.shadow-2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

.shadow-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }

.shadow-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.shadow-5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }

.shadow-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.shadow-7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12); }

.shadow-8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.shadow-9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12); }

.shadow-10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.shadow-11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12); }

.shadow-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }

.shadow-13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }

.shadow-14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12); }

.shadow-15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12); }

.shadow-16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12); }

.shadow-17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12); }

.shadow-18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12); }

.shadow-19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12); }

.shadow-20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.shadow-21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12); }

.shadow-22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12); }

.shadow-23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12); }

.shadow-24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }

.shadow-fx {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow-fx:hover {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12); }

.glow-blue-050 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-blue-100 {
  border: 2px solid #c7e1ff;
  box-shadow: 0px 0px 10px 0px #e0efff; }

.glow-blue-150 {
  border: 2px solid #add4ff;
  box-shadow: 0px 0px 10px 0px #c7e1ff; }

.glow-blue-200 {
  border: 2px solid #94c6ff;
  box-shadow: 0px 0px 10px 0px #add4ff; }

.glow-blue-250 {
  border: 2px solid #7ab9ff;
  box-shadow: 0px 0px 10px 0px #94c6ff; }

.glow-blue-300 {
  border: 2px solid #61abff;
  box-shadow: 0px 0px 10px 0px #7ab9ff; }

.glow-blue-350 {
  border: 2px solid #479eff;
  box-shadow: 0px 0px 10px 0px #61abff; }

.glow-blue-400 {
  border: 2px solid #2e90ff;
  box-shadow: 0px 0px 10px 0px #479eff; }

.glow-blue-450 {
  border: 2px solid #1483ff;
  box-shadow: 0px 0px 10px 0px #2e90ff; }

.glow-blue-500 {
  border: 2px solid #0076fa;
  box-shadow: 0px 0px 10px 0px #1483ff; }

.glow-blue-550 {
  border: 2px solid #006ae0;
  box-shadow: 0px 0px 10px 0px #0076fa; }

.glow-blue-600 {
  border: 2px solid #005ec7;
  box-shadow: 0px 0px 10px 0px #006ae0; }

.glow-blue-650 {
  border: 2px solid #0052ad;
  box-shadow: 0px 0px 10px 0px #005ec7; }

.glow-blue-700 {
  border: 2px solid #004694;
  box-shadow: 0px 0px 10px 0px #0052ad; }

.glow-blue-725 {
  border: 2px solid #004087;
  box-shadow: 0px 0px 10px 0px #004ca0; }

.glow-blue-750 {
  border: 2px solid #003a7a;
  box-shadow: 0px 0px 10px 0px #004694; }

.glow-blue-775 {
  border: 2px solid #00346d;
  box-shadow: 0px 0px 10px 0px #004087; }

.glow-blue-800 {
  border: 2px solid #002e61;
  box-shadow: 0px 0px 10px 0px #003a7a; }

.glow-blue-825 {
  border: 2px solid #002854;
  box-shadow: 0px 0px 10px 0px #00346d; }

.glow-blue-850 {
  border: 2px solid #002247;
  box-shadow: 0px 0px 10px 0px #002e61; }

.glow-blue-875 {
  border: 2px solid #001c3a;
  box-shadow: 0px 0px 10px 0px #002854; }

.glow-blue-900 {
  border: 2px solid #00152e;
  box-shadow: 0px 0px 10px 0px #002247; }

.glow-light-blue-050 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-light-blue-100 {
  border: 2px solid #d1f2fe;
  box-shadow: 0px 0px 10px 0px #eaf9ff; }

.glow-light-blue-150 {
  border: 2px solid #b8eafe;
  box-shadow: 0px 0px 10px 0px #d1f2fe; }

.glow-light-blue-200 {
  border: 2px solid #9fe3fd;
  box-shadow: 0px 0px 10px 0px #b8eafe; }

.glow-light-blue-250 {
  border: 2px solid #86dbfd;
  box-shadow: 0px 0px 10px 0px #9fe3fd; }

.glow-light-blue-300 {
  border: 2px solid #6dd4fc;
  box-shadow: 0px 0px 10px 0px #86dbfd; }

.glow-light-blue-350 {
  border: 2px solid #54cdfc;
  box-shadow: 0px 0px 10px 0px #6dd4fc; }

.glow-light-blue-400 {
  border: 2px solid #3bc5fb;
  box-shadow: 0px 0px 10px 0px #54cdfc; }

.glow-light-blue-450 {
  border: 2px solid #22befb;
  box-shadow: 0px 0px 10px 0px #3bc5fb; }

.glow-light-blue-500 {
  border: 2px solid #09b7fb;
  box-shadow: 0px 0px 10px 0px #22befb; }

.glow-light-blue-550 {
  border: 2px solid #04a6e6;
  box-shadow: 0px 0px 10px 0px #09b7fb; }

.glow-light-blue-600 {
  border: 2px solid #0494cd;
  box-shadow: 0px 0px 10px 0px #04a6e6; }

.glow-light-blue-650 {
  border: 2px solid #0382b4;
  box-shadow: 0px 0px 10px 0px #0494cd; }

.glow-light-blue-700 {
  border: 2px solid #03709b;
  box-shadow: 0px 0px 10px 0px #0382b4; }

.glow-light-blue-725 {
  border: 2px solid #03678e;
  box-shadow: 0px 0px 10px 0px #0379a7; }

.glow-light-blue-750 {
  border: 2px solid #025e82;
  box-shadow: 0px 0px 10px 0px #03709b; }

.glow-light-blue-775 {
  border: 2px solid #025575;
  box-shadow: 0px 0px 10px 0px #03678e; }

.glow-light-blue-800 {
  border: 2px solid #024c69;
  box-shadow: 0px 0px 10px 0px #025e82; }

.glow-light-blue-825 {
  border: 2px solid #02435c;
  box-shadow: 0px 0px 10px 0px #025575; }

.glow-light-blue-850 {
  border: 2px solid #013a50;
  box-shadow: 0px 0px 10px 0px #024c69; }

.glow-light-blue-875 {
  border: 2px solid #013143;
  box-shadow: 0px 0px 10px 0px #02435c; }

.glow-light-blue-900 {
  border: 2px solid #012737;
  box-shadow: 0px 0px 10px 0px #013a50; }

.glow-green-050 {
  border: 2px solid #e5fcf7;
  box-shadow: 0px 0px 10px 0px #fbfffe; }

.glow-green-100 {
  border: 2px solid #b8f6e9;
  box-shadow: 0px 0px 10px 0px #cef9f0; }

.glow-green-150 {
  border: 2px solid #a1f3e2;
  box-shadow: 0px 0px 10px 0px #b8f6e9; }

.glow-green-200 {
  border: 2px solid #8bf0db;
  box-shadow: 0px 0px 10px 0px #a1f3e2; }

.glow-green-250 {
  border: 2px solid #74edd4;
  box-shadow: 0px 0px 10px 0px #8bf0db; }

.glow-green-300 {
  border: 2px solid #5eeacd;
  box-shadow: 0px 0px 10px 0px #74edd4; }

.glow-green-350 {
  border: 2px solid #47e7c6;
  box-shadow: 0px 0px 10px 0px #5eeacd; }

.glow-green-400 {
  border: 2px solid #30e4bf;
  box-shadow: 0px 0px 10px 0px #47e7c6; }

.glow-green-450 {
  border: 2px solid #1ddeb6;
  box-shadow: 0px 0px 10px 0px #30e4bf; }

.glow-green-500 {
  border: 2px solid #1ac7a4;
  box-shadow: 0px 0px 10px 0px #1ddeb6; }

.glow-green-550 {
  border: 2px solid #17b191;
  box-shadow: 0px 0px 10px 0px #1ac7a4; }

.glow-green-600 {
  border: 2px solid #149a7f;
  box-shadow: 0px 0px 10px 0px #17b191; }

.glow-green-650 {
  border: 2px solid #11846c;
  box-shadow: 0px 0px 10px 0px #149a7f; }

.glow-green-700 {
  border: 2px solid #0e6d5a;
  box-shadow: 0px 0px 10px 0px #11846c; }

.glow-green-725 {
  border: 2px solid #0d6250;
  box-shadow: 0px 0px 10px 0px #107963; }

.glow-green-750 {
  border: 2px solid #0b5747;
  box-shadow: 0px 0px 10px 0px #0e6d5a; }

.glow-green-775 {
  border: 2px solid #0a4b3e;
  box-shadow: 0px 0px 10px 0px #0d6250; }

.glow-green-800 {
  border: 2px solid #084035;
  box-shadow: 0px 0px 10px 0px #0b5747; }

.glow-green-825 {
  border: 2px solid #07352b;
  box-shadow: 0px 0px 10px 0px #0a4b3e; }

.glow-green-850 {
  border: 2px solid #052a22;
  box-shadow: 0px 0px 10px 0px #084035; }

.glow-green-875 {
  border: 2px solid #041e19;
  box-shadow: 0px 0px 10px 0px #07352b; }

.glow-green-900 {
  border: 2px solid #021310;
  box-shadow: 0px 0px 10px 0px #052a22; }

.glow-orange-050 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-orange-100 {
  border: 2px solid #ffeac7;
  box-shadow: 0px 0px 10px 0px #fff4e0; }

.glow-orange-150 {
  border: 2px solid #ffe1ad;
  box-shadow: 0px 0px 10px 0px #ffeac7; }

.glow-orange-200 {
  border: 2px solid #ffd794;
  box-shadow: 0px 0px 10px 0px #ffe1ad; }

.glow-orange-250 {
  border: 2px solid #ffce7a;
  box-shadow: 0px 0px 10px 0px #ffd794; }

.glow-orange-300 {
  border: 2px solid #ffc461;
  box-shadow: 0px 0px 10px 0px #ffce7a; }

.glow-orange-350 {
  border: 2px solid #ffbb47;
  box-shadow: 0px 0px 10px 0px #ffc461; }

.glow-orange-400 {
  border: 2px solid #ffb12e;
  box-shadow: 0px 0px 10px 0px #ffbb47; }

.glow-orange-450 {
  border: 2px solid #ffa814;
  box-shadow: 0px 0px 10px 0px #ffb12e; }

.glow-orange-500 {
  border: 2px solid #fa9d00;
  box-shadow: 0px 0px 10px 0px #ffa814; }

.glow-orange-550 {
  border: 2px solid #e08d00;
  box-shadow: 0px 0px 10px 0px #fa9d00; }

.glow-orange-600 {
  border: 2px solid #c77d00;
  box-shadow: 0px 0px 10px 0px #e08d00; }

.glow-orange-650 {
  border: 2px solid #ad6d00;
  box-shadow: 0px 0px 10px 0px #c77d00; }

.glow-orange-700 {
  border: 2px solid #945d00;
  box-shadow: 0px 0px 10px 0px #ad6d00; }

.glow-orange-725 {
  border: 2px solid #875500;
  box-shadow: 0px 0px 10px 0px #a06500; }

.glow-orange-750 {
  border: 2px solid #7a4d00;
  box-shadow: 0px 0px 10px 0px #945d00; }

.glow-orange-775 {
  border: 2px solid #6d4500;
  box-shadow: 0px 0px 10px 0px #875500; }

.glow-orange-800 {
  border: 2px solid #613d00;
  box-shadow: 0px 0px 10px 0px #7a4d00; }

.glow-orange-825 {
  border: 2px solid #543500;
  box-shadow: 0px 0px 10px 0px #6d4500; }

.glow-orange-850 {
  border: 2px solid #472d00;
  box-shadow: 0px 0px 10px 0px #613d00; }

.glow-orange-875 {
  border: 2px solid #3a2500;
  box-shadow: 0px 0px 10px 0px #543500; }

.glow-orange-900 {
  border: 2px solid #2e1d00;
  box-shadow: 0px 0px 10px 0px #472d00; }

.glow-red-050 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-red-100 {
  border: 2px solid #ffd2c7;
  box-shadow: 0px 0px 10px 0px #ffe6e0; }

.glow-red-150 {
  border: 2px solid #ffbead;
  box-shadow: 0px 0px 10px 0px #ffd2c7; }

.glow-red-200 {
  border: 2px solid #ffaa94;
  box-shadow: 0px 0px 10px 0px #ffbead; }

.glow-red-250 {
  border: 2px solid #ff967a;
  box-shadow: 0px 0px 10px 0px #ffaa94; }

.glow-red-300 {
  border: 2px solid #ff8261;
  box-shadow: 0px 0px 10px 0px #ff967a; }

.glow-red-350 {
  border: 2px solid #ff6d47;
  box-shadow: 0px 0px 10px 0px #ff8261; }

.glow-red-400 {
  border: 2px solid #ff592e;
  box-shadow: 0px 0px 10px 0px #ff6d47; }

.glow-red-450 {
  border: 2px solid #ff4514;
  box-shadow: 0px 0px 10px 0px #ff592e; }

.glow-red-500 {
  border: 2px solid #fa3400;
  box-shadow: 0px 0px 10px 0px #ff4514; }

.glow-red-550 {
  border: 2px solid #e02f00;
  box-shadow: 0px 0px 10px 0px #fa3400; }

.glow-red-600 {
  border: 2px solid #c72900;
  box-shadow: 0px 0px 10px 0px #e02f00; }

.glow-red-650 {
  border: 2px solid #ad2400;
  box-shadow: 0px 0px 10px 0px #c72900; }

.glow-red-700 {
  border: 2px solid #941f00;
  box-shadow: 0px 0px 10px 0px #ad2400; }

.glow-red-725 {
  border: 2px solid #871c00;
  box-shadow: 0px 0px 10px 0px #a02100; }

.glow-red-750 {
  border: 2px solid #7a1900;
  box-shadow: 0px 0px 10px 0px #941f00; }

.glow-red-775 {
  border: 2px solid #6d1700;
  box-shadow: 0px 0px 10px 0px #871c00; }

.glow-red-800 {
  border: 2px solid #611400;
  box-shadow: 0px 0px 10px 0px #7a1900; }

.glow-red-825 {
  border: 2px solid #541100;
  box-shadow: 0px 0px 10px 0px #6d1700; }

.glow-red-850 {
  border: 2px solid #470f00;
  box-shadow: 0px 0px 10px 0px #611400; }

.glow-red-875 {
  border: 2px solid #3a0c00;
  box-shadow: 0px 0px 10px 0px #541100; }

.glow-red-900 {
  border: 2px solid #2e0900;
  box-shadow: 0px 0px 10px 0px #470f00; }

.glow-purple-050 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-purple-100 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-purple-150 {
  border: 2px solid #f2f2f2;
  box-shadow: 0px 0px 10px 0px white; }

.glow-purple-200 {
  border: 2px solid #ded4f9;
  box-shadow: 0px 0px 10px 0px #efeafc; }

.glow-purple-250 {
  border: 2px solid #cdbef5;
  box-shadow: 0px 0px 10px 0px #ded4f9; }

.glow-purple-300 {
  border: 2px solid #bda8f2;
  box-shadow: 0px 0px 10px 0px #cdbef5; }

.glow-purple-350 {
  border: 2px solid #ac91ef;
  box-shadow: 0px 0px 10px 0px #bda8f2; }

.glow-purple-400 {
  border: 2px solid #9b7beb;
  box-shadow: 0px 0px 10px 0px #ac91ef; }

.glow-purple-450 {
  border: 2px solid #8a65e8;
  box-shadow: 0px 0px 10px 0px #9b7beb; }

.glow-purple-500 {
  border: 2px solid #794fe5;
  box-shadow: 0px 0px 10px 0px #8a65e8; }

.glow-purple-550 {
  border: 2px solid #6839e1;
  box-shadow: 0px 0px 10px 0px #794fe5; }

.glow-purple-600 {
  border: 2px solid #5722de;
  box-shadow: 0px 0px 10px 0px #6839e1; }

.glow-purple-650 {
  border: 2px solid #4e1ec9;
  box-shadow: 0px 0px 10px 0px #5722de; }

.glow-purple-700 {
  border: 2px solid #461bb3;
  box-shadow: 0px 0px 10px 0px #4e1ec9; }

.glow-purple-725 {
  border: 2px solid #4119a8;
  box-shadow: 0px 0px 10px 0px #4a1cbe; }

.glow-purple-750 {
  border: 2px solid #3d179d;
  box-shadow: 0px 0px 10px 0px #461bb3; }

.glow-purple-775 {
  border: 2px solid #391692;
  box-shadow: 0px 0px 10px 0px #4119a8; }

.glow-purple-800 {
  border: 2px solid #341486;
  box-shadow: 0px 0px 10px 0px #3d179d; }

.glow-purple-825 {
  border: 2px solid #30127b;
  box-shadow: 0px 0px 10px 0px #391692; }

.glow-purple-850 {
  border: 2px solid #2c1170;
  box-shadow: 0px 0px 10px 0px #341486; }

.glow-purple-875 {
  border: 2px solid #270f65;
  box-shadow: 0px 0px 10px 0px #30127b; }

.glow-purple-900 {
  border: 2px solid #230d5a;
  box-shadow: 0px 0px 10px 0px #2c1170; }

.glow-blue-grey-050 {
  border: 2px solid #dce0e7;
  box-shadow: 0px 0px 10px 0px #ebedf2; }

.glow-blue-grey-100 {
  border: 2px solid #bec5d3;
  box-shadow: 0px 0px 10px 0px #cdd2dd; }

.glow-blue-grey-150 {
  border: 2px solid #afb7c8;
  box-shadow: 0px 0px 10px 0px #bec5d3; }

.glow-blue-grey-200 {
  border: 2px solid #a0aabe;
  box-shadow: 0px 0px 10px 0px #afb7c8; }

.glow-blue-grey-250 {
  border: 2px solid #909cb4;
  box-shadow: 0px 0px 10px 0px #a0aabe; }

.glow-blue-grey-300 {
  border: 2px solid #818fa9;
  box-shadow: 0px 0px 10px 0px #909cb4; }

.glow-blue-grey-350 {
  border: 2px solid #72819f;
  box-shadow: 0px 0px 10px 0px #818fa9; }

.glow-blue-grey-400 {
  border: 2px solid #647493;
  box-shadow: 0px 0px 10px 0px #72819f; }

.glow-blue-grey-450 {
  border: 2px solid #5a6884;
  box-shadow: 0px 0px 10px 0px #647493; }

.glow-blue-grey-500 {
  border: 2px solid #505c75;
  box-shadow: 0px 0px 10px 0px #5A6884; }

.glow-blue-grey-550 {
  border: 2px solid #455066;
  box-shadow: 0px 0px 10px 0px #505c75; }

.glow-blue-grey-600 {
  border: 2px solid #3b4457;
  box-shadow: 0px 0px 10px 0px #455066; }

.glow-blue-grey-650 {
  border: 2px solid #313847;
  box-shadow: 0px 0px 10px 0px #3b4457; }

.glow-blue-grey-700 {
  border: 2px solid #262c38;
  box-shadow: 0px 0px 10px 0px #313847; }

.glow-blue-grey-725 {
  border: 2px solid #212631;
  box-shadow: 0px 0px 10px 0px #2b3240; }

.glow-blue-grey-750 {
  border: 2px solid #1c2029;
  box-shadow: 0px 0px 10px 0px #262c38; }

.glow-blue-grey-775 {
  border: 2px solid #171a21;
  box-shadow: 0px 0px 10px 0px #212631; }

.glow-blue-grey-800 {
  border: 2px solid #12141a;
  box-shadow: 0px 0px 10px 0px #1c2029; }

.glow-blue-grey-825 {
  border: 2px solid #0c0e12;
  box-shadow: 0px 0px 10px 0px #171a21; }

.glow-blue-grey-850 {
  border: 2px solid #07080b;
  box-shadow: 0px 0px 10px 0px #12141a; }

.glow-blue-grey-875 {
  border: 2px solid #020203;
  box-shadow: 0px 0px 10px 0px #0c0e12; }

.glow-blue-grey-900 {
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #07080b; }

.glow-grey-050 {
  border: 2px solid gainsboro;
  box-shadow: 0px 0px 10px 0px #e9e9e9; }

.glow-grey-100 {
  border: 2px solid #c2c2c2;
  box-shadow: 0px 0px 10px 0px #cfcfcf; }

.glow-grey-150 {
  border: 2px solid #b6b6b6;
  box-shadow: 0px 0px 10px 0px #c2c2c2; }

.glow-grey-200 {
  border: 2px solid darkgray;
  box-shadow: 0px 0px 10px 0px #b6b6b6; }

.glow-grey-250 {
  border: 2px solid #9c9c9c;
  box-shadow: 0px 0px 10px 0px darkgray; }

.glow-grey-300 {
  border: 2px solid #8f8f8f;
  box-shadow: 0px 0px 10px 0px #9c9c9c; }

.glow-grey-350 {
  border: 2px solid #838383;
  box-shadow: 0px 0px 10px 0px #8f8f8f; }

.glow-grey-400 {
  border: 2px solid #767676;
  box-shadow: 0px 0px 10px 0px #838383; }

.glow-grey-450 {
  border: 2px solid dimgray;
  box-shadow: 0px 0px 10px 0px #767676; }

.glow-grey-500 {
  border: 2px solid #5c5c5c;
  box-shadow: 0px 0px 10px 0px #696969; }

.glow-grey-550 {
  border: 2px solid #505050;
  box-shadow: 0px 0px 10px 0px #5c5c5c; }

.glow-grey-600 {
  border: 2px solid #434343;
  box-shadow: 0px 0px 10px 0px #505050; }

.glow-grey-650 {
  border: 2px solid #363636;
  box-shadow: 0px 0px 10px 0px #434343; }

.glow-grey-700 {
  border: 2px solid #292929;
  box-shadow: 0px 0px 10px 0px #363636; }

.glow-grey-725 {
  border: 2px solid #232323;
  box-shadow: 0px 0px 10px 0px #303030; }

.glow-grey-750 {
  border: 2px solid #1d1d1d;
  box-shadow: 0px 0px 10px 0px #292929; }

.glow-grey-775 {
  border: 2px solid #161616;
  box-shadow: 0px 0px 10px 0px #232323; }

.glow-grey-800 {
  border: 2px solid #101010;
  box-shadow: 0px 0px 10px 0px #1d1d1d; }

.glow-grey-825 {
  border: 2px solid #090909;
  box-shadow: 0px 0px 10px 0px #161616; }

.glow-grey-850 {
  border: 2px solid #030303;
  box-shadow: 0px 0px 10px 0px #101010; }

.glow-grey-875 {
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #090909; }

.glow-grey-900 {
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #030303; }

.ngx-section {
  display: block;
  margin-bottom: 2em; }
  .ngx-section .ngx-section-header {
    background: #313847;
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #cfcfcf;
    position: relative; }
    .ngx-section .ngx-section-header.ngx-section-collapsible {
      padding-left: 30px; }
    .ngx-section .ngx-section-header .ngx-section-toggle {
      font-size: 14px;
      vertical-align: top;
      display: inline-block;
      line-height: 40px;
      position: absolute;
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      left: 10px;
      cursor: pointer; }
    .ngx-section .ngx-section-header a {
      color: #cfcfcf; }
    .ngx-section .ngx-section-header h1 {
      font-size: 1.1em;
      font-weight: 600;
      line-height: 40px;
      padding: 0;
      margin: 0; }
  .ngx-section.shadow > section {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }
