<h3 class="style-header">Calendar</h3>

<ngx-tabs>
  <ngx-tab label="Examples">
    <ngx-section class="shadow" [sectionTitle]="'Calendar'">
      <h3>Basic</h3>
      <ngx-calendar name="calendar1" [(ngModel)]="curDate1" (change)="dateChanged($event)">
      </ngx-calendar>
      <p>Current Date:
        <i>{{curDate1}}</i>
      </p>
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar1"
      [(ngModel)]="curDate"
      (change)="dateChanged($event)">
    </ngx-calendar>]]>
      </app-prism>
      <br />
    
      <h3>Min/Max Dates</h3>
      <ngx-calendar name="calendar2" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="date" (change)="dateChanged($event)">
      </ngx-calendar>
      <p>Min Date:
        <i>{{minDate}}</i> and Max Date:
        <i>{{maxDate}}</i>
      </p>
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar2"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [(ngModel)]="date"
      (change)="dateChanged($event)">
    </ngx-calendar>]]>
      </app-prism>
    
      <br />
    
      <h3>Disabled</h3>
      <ngx-calendar name="calendar3" [disabled]="true" [(ngModel)]="curDate3" (change)="dateChanged($event)">
      </ngx-calendar>
      <br />
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar3"
      [disabled]="true"
      [(ngModel)]="curDate"
      (change)="dateChanged($event)">
    </ngx-calendar>]]>
      </app-prism>
    
      <h3>Timezones</h3>
    
      <h4>Local: {{dateTz | amDateFormat: 'LL zz' }}</h4>
      <ngx-calendar name="calendar3" [(ngModel)]="dateTz" (change)="dateChanged($event)">
      </ngx-calendar>
    
      <h4>UTC: {{dateTz | amTimeZone: 'utc' | amDateFormat: 'LL zz' }}</h4>
      <ngx-calendar name="calendar3" timezone="utc" [(ngModel)]="dateTz" (change)="dateChanged($event)">
      </ngx-calendar>
    
      <h4>JST: {{dateTz | amTimeZone: 'Asia/Tokyo' | amDateFormat: 'LL zz' }}</h4>
      <ngx-calendar name="calendar3" timezone="Asia/Tokyo"  [(ngModel)]="dateTz" (change)="dateChanged($event)">
      </ngx-calendar>
      <br />
      <br />
      <br />
    
      <h3>Min view and Default view</h3>
    
      <h4> Min view: "date" default view: "date" </h4>
      <ngx-calendar name="calendar4" [(ngModel)]="curDate4" (change)="dateChanged($event)" [minView]="'date'" [defaultView]="'date'">
      </ngx-calendar>
      <p>Current Date:
        <i>{{curDate4}}</i>
      </p>
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar4"
      [(ngModel)]="curDate"
      (change)="dateChanged($event)"
      [minView]="'date'" [defaultView]="'date'">
    </ngx-calendar>]]>
      </app-prism>
      <br />
    
      <h4> Min view: "date" default view: "month" </h4>
      <ngx-calendar name="calendar5" [(ngModel)]="curDate5" (change)="dateChanged($event)" [minView]="'date'" [defaultView]="'month'">
      </ngx-calendar>
      <p>Current Date:
        <i>{{curDate5}}</i>
      </p>
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar5"
      [(ngModel)]="curDate"
      (change)="dateChanged($event)"
      [minView]="'date'" [defaultView]="'month'">
    </ngx-calendar>]]>
      </app-prism>
      <br />
      <h4> Min view: "month" default view: "year" </h4>
      <ngx-calendar name="calendar6" [(ngModel)]="curDate6" (change)="dateChanged($event)" [minView]="'month'" [defaultView]="'year'">
      </ngx-calendar>
      <p>Current Date:
        <i>{{curDate6}}</i>
      </p>
      <app-prism>
    <![CDATA[<ngx-calendar
      name="calendar6"
      [(ngModel)]="curDate"
      (change)="dateChanged($event)"
      [minView]="'month'" [defaultView]="'year'">
    </ngx-calendar>]]>
      </app-prism>
      <br />
    
      <h3>Flexible Width</h3>
    
      <ngx-calendar style="width: 100%" name="calendar1" [(ngModel)]="curDate1" (change)="dateChanged($event)"></ngx-calendar>
    
    </ngx-section>
  </ngx-tab>
  <ngx-tab label="API">
    <h3>Table of Contents</h3>
    <a class="documentation-content" (click)="scrollTo('inputs')">Component Inputs</a>
    <a class="documentation-content" (click)="scrollTo('outputs')">Component Outputs</a>
    <hr>

    <h3 class="style-header" id="inputs">Component Inputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>daysOfWeek: string[] = ['S', 'M', 'T', 'W', 'T', 'F', 'S']</code>
          </th>
          <td>The days of the week to display on the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>defaultView: CalendarView</code>
          </th>
          <td>The default view for the component. Will display year, month, or date. Overrides the <code>minView</code> Input. See Examples tab.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>disabled: boolean</code>
          </th>
          <td>Whether the component is disabled.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>inputFormats: Array&lt;string | MomentBuiltinFormat&gt; = ['L', 'LT', 'L LT', moment.ISO_8601]</code>
          </th>
          <td>The input formats for the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>minDate: Date | string</code>
          </th>
          <td>The earliest allowable date to display on the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>maxDate: Date | string</code>
          </th>
          <td>The latest allowable date to display on the component.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>minView: CalendarView</code>
          </th>
          <td>The minimum view for the initial state of the component. Will display year, month, or date. See Examples tab.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Input()</code>
            <code>timezone: string</code>
          </th>
          <td>The timezone for the component. This will affect what date is listed as the current day.</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="style-header" id="outputs">Component Outputs</h3>
    <table class="table documentation-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <code class="component-type">@Output()</code>
            <code>change: EventEmitter&lt;Date&gt;</code>
          </th>
          <td>Event emitted when a date is selected.</td>
        </tr>
        <tr>
          <th>
            <code class="component-type">@Output()</code>
            <code>dayKeyEnter: EventEmitter&lt;Date&gt;</code>
          </th>
          <td>Event emitted when a date is selected using keyboard navigation via the Enter key.</td>
        </tr>
      </tbody>
    </table>
  </ngx-tab>
</ngx-tabs>