<h3 class="style-header">Calendar</h3>

<ngx-section class="shadow" [sectionTitle]="'Calendar'">
  <h3>Basic</h3>
  <ngx-calendar name="calendar1" [(ngModel)]="curDate" (change)="dateChanged($event)">
  </ngx-calendar>
  <p>Current Date:
    <i>{{curDate}}</i>
  </p>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar1"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>
  <br />

  <h3>Min/Max Dates</h3>
  <ngx-calendar name="calendar2" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="curDate3" (change)="dateChanged($event)">
  </ngx-calendar>
  <p>Min Date:
    <i>{{minDate}}</i> and Max Date:
    <i>{{maxDate}}</i>
  </p>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar2"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>

  <br />

  <h3>Disabled</h3>
  <ngx-calendar name="calendar3" [disabled]="true" [(ngModel)]="curDate" (change)="dateChanged($event)">
  </ngx-calendar>
  <br />
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar3"
        [disabled]="true"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>

  <h3>Timezones</h3>

  <h4>Local: {{curDate | amDateFormat: 'LL zz' }}</h4>
  <ngx-calendar name="calendar3" [(ngModel)]="curDate" (change)="dateChanged($event)">
  </ngx-calendar>

  <h4>UTC: {{curDate | amTimeZone: 'utc' | amDateFormat: 'LL zz' }}</h4>
  <ngx-calendar name="calendar3" timezone="utc" [(ngModel)]="curDate" (change)="dateChanged($event)">
  </ngx-calendar>

  <h4>JST: {{curDate | amTimeZone: 'Asia/Tokyo' | amDateFormat: 'LL zz' }}</h4>
  <ngx-calendar name="calendar3" timezone="Asia/Tokyo"  [(ngModel)]="curDate" (change)="dateChanged($event)">
  </ngx-calendar>
  <br />
  <br />
  <br />

  <h3>Min view and Default view</h3>

  <h4> Min view: "date" default view: "date" </h4>
  <ngx-calendar name="calendar4" [(ngModel)]="curDate" (change)="dateChanged($event)" [minView]="'date'" [defaultView]="'date'">
  </ngx-calendar>
  <p>Current Date:
    <i>{{curDate}}</i>
  </p>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar4"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)"
        [minView]="'date'" [defaultView]="'date'">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>
  <br />

  <h4> Min view: "date" default view: "month" </h4>
  <ngx-calendar name="calendar5" [(ngModel)]="curDate" (change)="dateChanged($event)" [minView]="'date'" [defaultView]="'month'">
  </ngx-calendar>
  <p>Current Date:
    <i>{{curDate}}</i>
  </p>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar5"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)"
        [minView]="'date'" [defaultView]="'month'">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>
  <br />
  <h4> Min view: "month" default view: "year" </h4>
  <ngx-calendar name="calendar6" [(ngModel)]="curDate" (change)="dateChanged($event)" [minView]="'month'" [defaultView]="'year'">
  </ngx-calendar>
  <p>Current Date:
    <i>{{curDate}}</i>
  </p>
  <ngx-codemirror mode="htmlmixed" readOnly="true">
    <![CDATA[
      <ngx-calendar
        name="calendar6"
        [(ngModel)]="curDate"
        (change)="dateChanged($event)"
        [minView]="'month'" [defaultView]="'year'">
      </ngx-calendar>
    ]]>
  </ngx-codemirror>
  <br />

</ngx-section>