@import "colors/index";

$tooltip-bg: $color-white;
$tooltip-color: $color-bg-darkest;
$tooltip-caret-bg: $tooltip-bg;
$tooltip-border: $color-text-dark;

.swui-tooltip-content {
  position: absolute;
  border-radius: 3px;
  z-index: 5000;
  display: block;

  &.type-popover {
    background: $tooltip-bg;
    color: $tooltip-color;
    border: 1px solid $tooltip-border;
    box-shadow: $shadow-1;
    font-size: .9em;
  }

  &.type-tooltip {
    color: $tooltip-bg;
    background: $tooltip-color;
    font-size: .75em;
  }

  .tooltip-caret {
    position: absolute;
    z-index: 5001;
    width: 0;
    height: 0;

    &.position-left {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $tooltip-caret-bg;
    }

    &.position-top {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $tooltip-caret-bg;
    }

    &.position-right {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $tooltip-caret-bg;
    }

    &.position-bottom {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $tooltip-caret-bg;
    }
  }

  &.position-right {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10, 0, 0);
  }

  &.position-left {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  &.position-top {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  &.position-bottom {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  &.tooltip-animation {
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: translate3d(0, 0, 0);
  }
}
