@import "colors/index";

/**
 * Toggle button
 *
 * Inspiration:
 * - http://codepen.io/cbracco/pen/gpXwBq
 * - http://codepen.io/vsync/pen/wKkuz
 * 
 */
.ngx-toggle {
  display: block;
  margin-bottom: 1rem;
  margin-top: 18px;

  &.disabled {
    .ngx-toggle-label,
    .ngx-toggle-text {
      cursor: not-allowed;
    }
  }

  .ngx-toggle-input {
    display: none;

    &:checked ~ .ngx-toggle-label {
      background: rgba(20, 131, 255, 0.6);

      &:after {
        left: 15px;
        background:  $color-blue;
      }
    }
  }

  .ngx-toggle-label {
    position: relative;
    display: block;
    height: 14px;
    width: 34px;
    background: $color-bg-darkest;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    user-select: none;

    &:after {
      position: absolute;
      left: -2px;
      top: -3px;
      display: block;
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: $color-text-dark;
      box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
      content: '';
      transition: all 0.3s ease;
    }
  }

  .ngx-toggle-text {
    cursor: pointer;
    padding-left: 5px;
  }
}
