@import "common/css/index.css";


/**
 * Navigation
 */
.NavCol {
  color: var(--color-white);
  background: var(--color-header-light);

  h1 {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: var(--color-header-darker);
    padding:0 15px;
    line-height: 50px;
  }

  nav {
    margin: 20px 15px;

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}

/**
 * Header
 */
.PageHeader {
  width: 100%;
  height: 49px;
  line-height: 50px;
  padding:0 20px;

  h2 {
    font-weight: 500;
  }
}

.pageHeaderGuide {
  box-shadow: var(--shadow-2);

  h2 small {
    color: var(--color-text-med);
    font-size: .9rem;
  }
}

.styleHeader {
  text-transform: uppercase;
  color: var(--color-text-med);
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: 600;

  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background: var(--color-text-med);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Colors
 */
.color-group {
  min-width: 250px;
  margin:0 20px 20px 0;

  .main-color {
    height: 70px;
  }

  .color {
    padding:10px;
  }

  /* Backgrounds */
  .color-bg-darkest { background: var(--color-bg-darkest); }
  .color-bg-darker { background: var(--color-bg-darker); }
  .color-bg-dark { background: var(--color-bg-dark); }
  .color-bg-light { background: var(--color-bg-light); }
  .color-bg-lighter { background: var(--color-bg-lighter); }

  /**
   * Text
   */
   .color-text-dark{ background: var(--color-text-dark); }
   .color-text-med-dark{ background: var(--color-text-med-dark); }
   .color-text-med{ background: var(--color-text-med); }
   .color-text-light{ background: var(--color-text-light); }
   .color-text-lighter{ background: var(--color-text-lighter); }

  /**
   * Blues
   */
  .color-blue { background: var(--color-blue); }
  .color-blue-med { background: var(--color-blue-med); }
  .color-blue-light { background: var(--color-blue-light); }

  /**
   * Light Blues
   */
  .color-light-blue { background: var(--color-light-blue); }
  .color-light-blue-med { background: var(--color-light-blue-med); }
  .color-light-blue-light { background: var(--color-light-blue-light); }

  /**
   * Greens
   */
  .color-green { background: var(--color-green); }
  .color-green-med { background: var(--color-green-med); }
  .color-green-light { background: var(--color-green-light); }

  /**
   * Reds
   */
  .color-red { background: var(--color-red); }
  .color-red-med { background: var(--color-red-med); }
  .color-red-light { background: var(--color-red-light); }

  /**
   * Oranges
   */
  .color-orange { background: var(--color-orange); }
  .color-orange-med { background: var(--color-orange-med); }
  .color-orange-light { background: var(--color-orange-light); }
}
