/* You can add global styles to this file, and also import other style files */
@use '../dist/swimlane/ngx-ui/index.css';

// prism theme
@use './app/common/prism/prism.css';
//@use 'colors/colors' as colors;

// Import for adding the css variables for color
@import '../projects/swimlane/ngx-ui/src/lib/styles/colors/colors';

// Import for adding the css variables for spacing
@import '../projects/swimlane/ngx-ui/src/lib/styles/layouts/flex.scss';

// Import for adding the css variables for typography
@import '../projects/swimlane/ngx-ui/src/lib/styles/typography/font.scss';

.appearance-table {
  max-width: 500px;

  td,
  th {
    padding: var(--spacing-10);
  }
}

$ngx-font-path: '../projects/swimlane/ngx-ui/src/lib/assets/icons/iconfont/fonts' !default;

@font-face {
  font-family: 'ngx-icon';
  src: url('#{$ngx-font-path}/ngx-icon.eot');
  src: url('#{$ngx-font-path}/ngx-icon.eot') format('embedded-opentype'),
    url('#{$ngx-font-path}/ngx-icon.woff2') format('woff2'), url('#{$ngx-font-path}/ngx-icon.woff') format('woff'),
    url('#{$ngx-font-path}/ngx-icon.ttf') format('truetype'), url('#{$ngx-font-path}/ngx-icon.svg') format('svg');
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

code {
  font-size: var(--font-size-s);
  display: inline-block;
  font-weight: var(--font-weight-semibold);
}

th > code {
  color: var(--grey-050);
}

th > code.component-type {
  color: var(--blue-200);
  display: block;
}

.component-description {
  font-size: var(--font-size-m);
}

.documentation-content {
  cursor: pointer;
  display: block;
  margin-block: 1rem;

  &:last-of-type {
    margin-bottom: 2rem;
  }
}

.documentation-table {
  th,
  td {
    width: 50%;
  }
}

.methods-table {
  th {
    width: 20%;
  }

  td:first-of-type {
    width: 50%;
  }
}
