/* You can add global styles to this file, and also import other style files */
@import '../dist/swimlane/ngx-ui/index.css';

// prism theme
@import './app/common/prism/prism.css';
@import 'colors/variables';

.appearance-table {
  max-width: 500px;

  td,
  th {
    padding: 10px;
  }
}

$ngx-font-path: '../projects/swimlane/ngx-ui/src/lib/assets/icons/iconfont/fonts' !default;

@font-face {
  font-family: 'ngx-icon';
  src: url('#{$ngx-font-path}/ngx-icon.eot');
  src: url('#{$ngx-font-path}/ngx-icon.eot') format('embedded-opentype'),
    url('#{$ngx-font-path}/ngx-icon.woff2') format('woff2'), url('#{$ngx-font-path}/ngx-icon.woff') format('woff'),
    url('#{$ngx-font-path}/ngx-icon.ttf') format('truetype'), url('#{$ngx-font-path}/ngx-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

code {
  font-size: 14px;
}

.component-description {
  font-size: 15px;
}

.component-type {
  color: $color-blue-200;
}
