body, html, main {
  height: 100%;
}

/**
 * Navigation
 */
.NavCol {
  color: var(--color-white);
  background: var(--color-header-light);

  h1 {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: var(--color-header-darker);
    padding:0 15px;
    line-height: 50px;
  }

  nav {
    margin: 20px 15px;

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}

/**
 * Header
 */
.PageHeader {
  width: 100%;
  height: 49px;
  line-height: 50px;
  padding:0 20px;

  h2 {
    font-weight: 500;
  }
}

.pageHeaderGuide {
  box-shadow: var(--shadow-2);

  h2 small {
    color: var(--color-text-med);
    font-size: .9rem;
  }
}

.styleHeader {
  text-transform: uppercase;
  color: var(--color-text-med);
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: 600;

  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background: var(--color-text-med);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Colors
 */
.color-group {
  .main-color {
    height: 70px;
  }

  .color {
    padding:10px;
  }

  /**
   * Blues
   */
  .color-blue {
    background: var(--color-blue);
  }

  .color-blue-med {
    background: var(--color-blue-med);
  }

  .color-blue-light {
    background: var(--color-blue-light);
  }

  /**
   * Greens
   */
  .color-green {
    background: var(--color-green);
  }

  .color-green-med {
    background: var(--color-green-med);
  }

  .color-green-light {
    background: var(--color-green-light);
  }
}
