<h3 class="style-header">Date Time</h3>

<ngx-section class="shadow" sectionTitle="Date Input">
  <h3>Basic</h3>

  Current Value: {{ date | json }}

  <ngx-date-time
    name="calendar-input1"
    label="Date of attack"
    [(value)]="date"
    (change)="dateChanged($event)"
    (blur)="onBlurEvent($event)"
    (dateTimeSelected)="dateTimeSelected($event)"
  >
  </ngx-date-time>

  <br />

  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input2"
  [disabled]="true"
  label="Date of attack"
  [(value)]="date"
  (change)="dateChanged($event)"
  (blur)="onBlurEvent($event)"
  (dateTimeSelected)="dateTimeSelected($event)"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Disabled</h3>
  <ngx-date-time name="calendar-input2" label="Disabled" [disabled]="true" [(value)]="date">
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input2"
  [disabled]="true"
  label="Disabled"
  [(value)]="date"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Custom Format</h3>
  <ngx-date-time name="calendar-input3" label="Custom Format" [(value)]="date" [format]="'M/Y'">
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[ <ngx-date-time
  name="calendar-input3"
  [(value)]="date"
  [format]="'M/Y'"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Min/Max Dates</h3>
  <ngx-date-time
    name="calendar-input4"
    label="Min/Max Dates"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [hint]="'Select date between ' + minDate.toLocaleDateString() + ' and ' + maxDate.toLocaleDateString()"
    [(value)]="date"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input4"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [hint]="'Select date between' + minDate.toLocaleDateString() + ' and ' + maxDate.toLocaleDateString()"
  [(value)]="curDate"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Form Control">
  Form Control Value: {{ dateControl.value | json }}

  <ngx-date-time label="Form Control" [formControl]="dateControl"></ngx-date-time>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ngx-date-time label="Form Control Name" formControlName="date"></ngx-date-time>
    <ngx-date-time label="Disabled" formControlName="disabledDate"></ngx-date-time>
  </form>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Date/Time Input">
  Value: {{ dateTime }}

  <ngx-date-time
    name="datetime-input"
    inputType="datetime"
    label="Moon Landing"
    [(value)]="dateTime"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="datetime-input"
  inputType="datetime"
  label="Moon Landing"
  [(value)]="dateTime"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="TimeZones">
  Value: {{ eventDate }}

  <ngx-date-time
    name="timezone-local"
    inputType="datetime"
    label="Local Time"
    displayMode="timezone"
    [(value)]="eventDate"
  >
  </ngx-date-time>

  <ngx-date-time
    name="timezone-utc"
    inputType="datetime"
    label="UTC"
    timezone="utc"
    [(value)]="eventDate"
  >
  </ngx-date-time>

  <ngx-date-time
    name="timezone-jst"
    inputType="datetime"
    label="JST"
    timezone="Asia/Tokyo"
    [(value)]="eventDate"
  >
  </ngx-date-time>

  <app-prism>
<![CDATA[  <ngx-date-time
name="timezone-local"
inputType="datetime"
label="Local Time"
displayMode="timezone"
[(value)]="eventDate"
>
</ngx-date-time>

<ngx-date-time
name="timezone-utc"
inputType="datetime"
label="UTC"
timezone="utc"
[(value)]="eventDate"
>
</ngx-date-time>

<ngx-date-time
name="timezone-jst"
inputType="datetime"
label="JST"
timezone="Asia/Tokyo"
[(value)]="eventDate"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Time Input">
  <ngx-date-time
    name="time-input1"
    inputType="time"
    label="Time of attack"
    [(value)]="time"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="time-input1"
  inputType="time"
  label="Time of attack"
  [(value)]="time"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Precision">
  Current Value: {{ precisionDate | json }}

  <ngx-date-time
    inputType="date"
    label="Year"
    precision="year"
    [(value)]="precisionDate"
    format="dateYear"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="date"
    label="Month"
    precision="month"
    [(value)]="precisionDate"
    format="dateMonth"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="datetime"
    label="Hour"
    precision="hour"
    [(value)]="precisionDate"
    format="shortDateTime"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="datetime"
    label="Minutes"
    precision="minute"
    [(value)]="precisionDate"
    format="shortDateTimeSeconds"
  >
  </ngx-date-time>

  <app-prism>
<![CDATA[<ngx-date-time
  inputType="date"
  label="Year"
  precision="year"
  [(value)]="precisionDate"
  format="dateYear"
  >
  </ngx-date-time>

  <ngx-date-time
  inputType="date"
  label="Month"
  precision="month"
  [(value)]="precisionDate"
  format="dateMonth"
  >
  </ngx-date-time>

  <ngx-date-time
  inputType="datetime"
  label="Hour"
  precision="hour"
  [(value)]="precisionDate"
  format="shortDateTime"
  >
  </ngx-date-time>

  <ngx-date-time
  inputType="datetime"
  label="Minutes"
  precision="minute"
  [(value)]="precisionDate"
  format="shortDateTimeSeconds"
  >
  </ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Autosize">
  Current Value: {{ curDate2 | json }}

  <br />

  <ngx-date-time
    autosize="true"
    inputType="date"
    label="Year"
    precision="year"
    [(ngModel)]="curDate2"
    format="YYYY"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    inputType="date"
    label="Month"
    precision="month"
    [(ngModel)]="curDate2"
    format="MMM YYYY"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    inputType="datetime"
    label="Hour"
    precision="hour"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    inputType="datetime"
    label="Minutes"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    [withMargin]="false"
    inputType="datetime"
    label="Minutes without margin"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
  >
  </ngx-date-time>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Appearances">
  <table class="appearance-table">
    <tr>
      <th></th>
      <th>
        Default
      </th>
      <th>
        Fill
      </th>
    </tr>
    <tr>
      <td>Filled</td>
      <td><ngx-date-time label="Label" [ngModel]="curDate2" hint="A brief bit of help text"></ngx-date-time></td>
      <td><ngx-date-time appearance="fill" label="Label" [ngModel]="curDate2"  hint="A brief bit of help text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Required</td>
      <td><ngx-date-time label="Label" required [ngModel]="curDate2" hint="A brief bit of help text"></ngx-date-time></td>
      <td><ngx-date-time appearance="fill" required label="Label" [ngModel]="curDate2"  hint="A brief bit of help text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Empty w/o Placeholder</td>
      <td><ngx-date-time label="Label" hint="A brief bit of help text"></ngx-date-time></td>
      <td><ngx-date-time appearance="fill" label="Label" hint="A brief bit of help text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Empty w/ Placeholder</td>
      <td><ngx-date-time label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="time" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="time" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Date/Time</td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="datetime" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="datetime" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Invalid</td>
      <td><ngx-date-time [ngModel]="'What what'" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="'What what'" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Timezone</td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="datetime" displayMode="timezone" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="datetime" displayMode="timezone" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Time w/ Timezone</td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="time" displayMode="timezone" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="time" displayMode="timezone" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
    <tr>
      <td>Date w/ Timezone</td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="date" displayMode="timezone" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
      <td><ngx-date-time [ngModel]="curDate2" inputType="date" displayMode="timezone" appearance="fill" label="Label" hint="A brief bit of help text" placeholder="Placeholder Text"></ngx-date-time></td>
    </tr>
  </table>
</ngx-section>
