<h3 class="style-header">Date Time</h3>

<ngx-section class="shadow" [sectionTitle]="'Date Input'">
  <h3>Basic</h3>
  <ngx-date-time
    name="calendar-input1"
    [label]="'Date of attack'"
    [(ngModel)]="curDate2"
    (change)="dateChanged($event)"
    (blur)="onBlurEvent($event)"
    (dateTimeSelected)="onDateTimeSelected($event)"
  >
  </ngx-date-time>
  <br />

  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input2"
  [disabled]="true"
  [(ngModel)]="curDate2"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Disabled</h3>
  <ngx-date-time name="calendar-input2" [disabled]="true" [(ngModel)]="curDate2" (change)="dateChanged($event)">
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input2"
  [disabled]="true"
  [(ngModel)]="curDate2"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Invalid</h3>
  <ngx-date-time
    name="calendar-input3"
    hint="Default is invalid"
    [(ngModel)]="invalidDate"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input3"
  [(ngModel)]="invalidDate"
  hint="Default is invalid"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Custom Format</h3>
  <ngx-date-time name="calendar-input3" [(ngModel)]="curDate2" [format]="'M/Y'" (change)="dateChanged($event)">
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[ <ngx-date-time
  name="calendar-input3"
  [(ngModel)]="curDate2"
  [format]="'M/Y'"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>

  <br />
  <br />

  <h3>Min/Max Dates</h3>
  <ngx-date-time
    name="calendar-input4"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [hint]="'Select date between ' + minDate.toLocaleDateString() + ' and ' + maxDate.toLocaleDateString()"
    [(ngModel)]="curDate2"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="calendar-input4"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [hint]="'Select date between' + minDate.toLocaleDateString() + ' and ' + maxDate.toLocaleDateString()"
  [(ngModel)]="curDate2"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Date Time Input'">
  <ngx-date-time
    name="time-input1"
    [inputType]="'datetime'"
    [label]="'Time of attack'"
    [(ngModel)]="curDate2"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="time-input1"
  [inputType]="'datetime'"
  [label]="'Time of attack'"
  [(ngModel)]="curDate2"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="TimeZones">
  <ngx-date-time
    name="time-input1"
    [inputType]="'datetime'"
    [label]="'Local Time'"
    format="MMM DD, YYYY hh:mm A Z"
    [(ngModel)]="curDate"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    name="time-input1"
    [inputType]="'datetime'"
    label="UTC"
    timezone="utc"
    format="MMM DD, YYYY hh:mm A Z"
    [(ngModel)]="curDate"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    name="time-input1"
    [inputType]="'datetime'"
    label="JST"
    timezone="Asia/Tokyo"
    format="MMM DD, YYYY hh:mm A Z"
    [(ngModel)]="curDate"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <app-prism>
<![CDATA[<ngx-date-time
  name="time-input1"
  inputType="datetime"
  label="Local Time"
  format="MMM DD, YYYY hh:mm A Z"
  [(ngModel)]="curDate"
  (change)="dateChanged($event)"
>
</ngx-date-time>
<ngx-date-time
  name="time-input1"
  [inputType]="'datetime'"
  label="UTC"
  timezone="utc"
  format="MMM DD, YYYY hh:mm A Z"
  [(ngModel)]="curDate"
  (change)="dateChanged($event)"
>
</ngx-date-time>
<ngx-date-time
  name="time-input1"
  [inputType]="'datetime'"
  label="JST"
  timezone="Asia/Tokyo"
  format="MMM DD, YYYY hh:mm A Z"
  [(ngModel)]="curDate"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" [sectionTitle]="'Time Input'">
  <ngx-date-time
    name="time-input1"
    [inputType]="'time'"
    [label]="'Time of attack'"
    [(ngModel)]="curDate2"
    (change)="dateChanged($event)"
    required
  >
  </ngx-date-time>
  <br />
  <app-prism>
<![CDATA[<ngx-date-time
  name="time-input1"
  [inputType]="'time'"
  [label]="'Time of attack'"
  [(ngModel)]="curDate2"
  (change)="dateChanged($event)"
  required
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Precision">
  Current Value: {{ curDate2 | json }}
  <ngx-date-time
    inputType="date"
    label="Year"
    precision="year"
    [(ngModel)]="curDate2"
    format="YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="date"
    label="Month"
    precision="month"
    [(ngModel)]="curDate2"
    format="MMM YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="datetime"
    label="Hour"
    precision="hour"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    inputType="datetime"
    label="Minutes"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <app-prism>
<![CDATA[<ngx-date-time
  inputType="date"
  label="Year"
  precision="year"
  [(ngModel)]="curDate2"
  format="YYYY"
  (change)="dateChanged($event)"
>
</ngx-date-time>
<ngx-date-time
  inputType="date"
  label="Month"
  precision="month"
  [(ngModel)]="curDate2"
  format="MMM YYYY"
  (change)="dateChanged($event)"
>
</ngx-date-time>
<ngx-date-time
  inputType="datetime"
  label="Hour"
  precision="hour"
  [(ngModel)]="curDate2"
  format="MMM DD, YYYY, hh:mm"
  (change)="dateChanged($event)"
>
</ngx-date-time>]]>
  </app-prism>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Fill">
  Current Value: {{ curDate2 | json }}
  <ngx-date-time
    appearance="fill"
    inputType="date"
    label="Year"
    precision="year"
    [(ngModel)]="curDate2"
    format="YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    appearance="fill"
    inputType="date"
    label="Month"
    precision="month"
    [(ngModel)]="curDate2"
    format="MMM YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    appearance="fill"
    inputType="datetime"
    label="Hour"
    precision="hour"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <ngx-date-time
    appearance="fill"
    inputType="datetime"
    label="Minutes"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>
</ngx-section>

<ngx-section class="shadow" sectionTitle="Autosize">
  Current Value: {{ curDate2 | json }}

  <br />

  <ngx-date-time
    autosize="true"
    inputType="date"
    label="Year"
    precision="year"
    [(ngModel)]="curDate2"
    format="YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    inputType="date"
    label="Month"
    precision="month"
    [(ngModel)]="curDate2"
    format="MMM YYYY"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    inputType="datetime"
    label="Hour"
    precision="hour"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    inputType="datetime"
    label="Minutes"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>

  <br />

  <ngx-date-time
    autosize="true"
    appearance="fill"
    [withMargin]="false"
    inputType="datetime"
    label="Minutes without margin"
    precision="minute"
    [(ngModel)]="curDate2"
    format="MMM DD, YYYY, hh:mm:ss"
    (change)="dateChanged($event)"
  >
  </ngx-date-time>
</ngx-section>
