<h3 class="style-header">Radio Buttons</h3>

<ngx-section class="shadow" [sectionTitle]="'Demo'">
  <h3>Single Radio Button</h3>
  <ngx-radiobutton *ngFor="let season of seasons" [checked]="favoriteSeason === season" (change)="favoriteSeason = season">
    {{season}}
  </ngx-radiobutton>
  <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

  <app-prism>
<![CDATA[<ngx-radiobutton
  *ngFor="let season of seasons"
  [checked]="favoriteSeason === season"
  (change)="favoriteSeason = season">
  {{season}}
</ngx-radiobutton>
<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>]]>
  </app-prism>

  <br />
  <h3>Radio Button Group</h3>

  <ngx-radiobutton-group [(ngModel)]="favoriteSeason" [disabled]="disabled">
    <ngx-radiobutton *ngFor="let season of seasons" [value]="season">
      {{season}}
    </ngx-radiobutton>
  </ngx-radiobutton-group>
  <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

  <button class="btn btn-primary" (click)="seasons.push('Holiday')">Add Season</button>

  <app-prism>
<![CDATA[<ngx-radiobutton-group
  [(ngModel)]="favoriteSeason"
  [disabled]="disabled">
  <ngx-radiobutton
    *ngFor="let season of seasons"
    [value]="season">
    {{season}}
  </ngx-radiobutton>
</ngx-radiobutton-group>
<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>]]>
  </app-prism>

  <br />
  <h3>Disabled Buttons</h3>
  <ngx-radiobutton-group [(ngModel)]="favoriteSeason" [disabled]="disabled">
    <ngx-radiobutton *ngFor="let season of seasons; index as i" [value]="season" [disabled]="i % 2 === 0">
      {{season}}
    </ngx-radiobutton>
  </ngx-radiobutton-group>
  <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

  <app-prism>
<![CDATA[<ngx-radiobutton-group
  [(ngModel)]="favoriteSeason"
  [disabled]="disabled">
  <ngx-radiobutton
    *ngFor="let season of seasons; index as i"
    [value]="season"
    [disabled]="i % 2 === 0">
    {{season}}
  </ngx-radiobutton>
</ngx-radiobutton-group>
<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>]]>
  </app-prism>

  <h3>Disabled Group</h3>
  <ngx-radiobutton-group [(ngModel)]="favoriteSeason" [disabled]="true">
    <ngx-radiobutton *ngFor="let season of seasons; index as i" [value]="season" [disabled]="i % 2 === 0">
      {{season}}
    </ngx-radiobutton>
  </ngx-radiobutton-group>
  <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

  <app-prism>
<![CDATA[<ngx-radiobutton-group
  [(ngModel)]="favoriteSeason"
  [disabled]="true">
  <ngx-radiobutton
    *ngFor="let season of seasons; index as i"
    [value]="season"
    [disabled]="i % 2 === 0">
    {{season}}
  </ngx-radiobutton>
</ngx-radiobutton-group>
<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>]]>
  </app-prism>

</ngx-section>

<ngx-section sectionTitle="FormGroup">
  <form [formGroup]="form">
    <ngx-radiobutton-group formControlName="season">
      <ngx-radiobutton *ngFor="let season of seasons" [value]="season">
        {{season}}
      </ngx-radiobutton>
    </ngx-radiobutton-group>
  </form>

  <output>{{ form.value | json }}</output>

  <app-prism>
    <![CDATA[<form [formGroup]="form">
      <ngx-radiobutton-group formControlName="season">
        <ngx-radiobutton *ngFor="let season of seasons" [value]="season">
          {{season}}
        </ngx-radiobutton>
      </ngx-radiobutton-group>
    </form>]]>
      </app-prism>
</ngx-section>