{{ date }}
{{ localString }}

<ngx-section sectionTitle="Formats">
  <div class="example">
    <h4>Default Date-Time</h4>
    <ngx-date-display [date]="date"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date"></ngx-date-display>]]></app-prism>
  </div>

  <div class="example">
    <h4>Human Readable Date-Time</h4>
    <ngx-date-display [date]="date" displayMode="human"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" displayMode="human"></ngx-date-display>]]></app-prism> 
  </div>

  <div class="example">
    <h4>Local</h4>
    <ngx-date-display [date]="date" displayMode="local"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" displayMode="local"></ngx-date-display>]]></app-prism> 
  </div>

  <div class="example">
    <h4>Format</h4>
    <ngx-date-display [date]="date" displayFormat="fullDateTime"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" displayFormat="fullDateTime"></ngx-date-display>]]></app-prism>  
  </div>
  
  <div class="example">
    <h4>Custom format</h4>
    <ngx-date-display [date]="date" displayFormat="YYYY MMM"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" displayFormat="YYYY MMM"></ngx-date-display>]]></app-prism>    
  </div>
</ngx-section>

<ngx-section sectionTitle="Time Zones">
  <div class="example">
    <h4>By default inputs are assumed local date/time, display TZ can be defined</h4>
    <ngx-date-display [date]="localString" displayTimeZone="Asia/Tokyo"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="localString" displayTimeZone="Asia/Tokyo"></ngx-date-display>]]></app-prism> 
  </div>

  <div class="example">
    <h4>Default input timezone can be specified</h4>
    <ngx-date-display date="March 11, 2011 2:46 PM" defaultInputTimeZone="Asia/Tokyo"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display date="March 11, 2011 2:46 PM" defaultInputTimeZone="Asia/Tokyo"></ngx-date-display>]]></app-prism>
  </div>

  <div class="example">
    <h4>Explicit timezone in input value overrides default input timezone</h4>
    <ngx-date-display [date]="date" defaultInputTimeZone="Asia/Tokyo"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display date="date" defaultInputTimeZone="Asia/Tokyo"></ngx-date-display>]]></app-prism>
  </div>
</ngx-section>

<ngx-section sectionTitle="Popup">
  <div class="example">
    <h4>Native Tooltip</h4>
    <ngx-date-display [date]="date" tooltipDisabled="true"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" tooltipDisabled="true"></ngx-date-display>]]></app-prism>
  </div>

  <div class="example">
    <h4>Defined Timezones</h4>
    <ngx-date-display [date]="date" [timezones]="{ 'Local': '', 'GMT': 'Etc/UTC', 'Tokyo': 'Asia/Tokyo' }"></ngx-date-display>
    <app-prism><![CDATA[<ngx-date-display [date]="date" [timezones]="{ 'Local': '', 'GMT': 'Etc/UTC', 'Tokyo': 'Asia/Tokyo' }"></ngx-date-display>]]></app-prism>
  </div>
</ngx-section>

<ngx-section sectionTitle="Invalid">
  <div class="example">
    <ngx-date-display [date]="'1/1/1/1970'"></ngx-date-display>
  </div>
</ngx-section>

