<section class="section page">
  <h3 class="style-header">Progress Spinner - Indeterminate</h3>
  <div class="ngx-preloader">
    <div class="arc arc-0"></div>
    <div class="arc arc-1"></div>
    <div class="arc arc-2"></div>
    <div class="arc arc-3"></div>
    <div class="arc arc-4"></div>
    <div class="arc arc-5"></div>
    <div class="arc arc-6"></div>
    <div class="arc arc-7"></div>
    <div class="arc arc-8"></div>
    <div class="arc arc-9"></div>
    <div class="arc arc-10"></div>
    <div class="arc arc-11"></div>
    <div class="arc arc-12"></div>
    <div class="arc arc-13"></div>
    <div class="arc arc-14"></div>
    <div class="arc arc-15"></div>
    <div class="arc arc-16"></div>
    <div class="arc arc-17"></div>
    <div class="arc arc-18"></div>
    <div class="arc arc-19"></div>
    <div class="arc arc-20"></div>
    <div class="arc arc-21"></div>
    <div class="arc arc-22"></div>
    <div class="arc arc-23"></div>
    <div class="arc arc-24"></div>
  </div>

  <ngx-codemirror mode="javascript" readOnly="true">
    <![CDATA[
      <div class="ngx-preloader">
      <div class="arc arc-0"></div>
      <div class="arc arc-1"></div>
      <div class="arc arc-2"></div>
      <div class="arc arc-3"></div>
      <div class="arc arc-4"></div>
      <div class="arc arc-5"></div>
      <div class="arc arc-6"></div>
      <div class="arc arc-7"></div>
      <div class="arc arc-8"></div>
      <div class="arc arc-9"></div>
      <div class="arc arc-10"></div>
      <div class="arc arc-11"></div>
      <div class="arc arc-12"></div>
      <div class="arc arc-13"></div>
      <div class="arc arc-14"></div>
      <div class="arc arc-15"></div>
      <div class="arc arc-16"></div>
      <div class="arc arc-17"></div>
      <div class="arc arc-18"></div>
      <div class="arc arc-19"></div>
      <div class="arc arc-20"></div>
      <div class="arc arc-21"></div>
      <div class="arc arc-22"></div>
      <div class="arc arc-23"></div>
      <div class="arc arc-24"></div>
      </div>
    ]]>
  </ngx-codemirror>

  <h3 class="style-header">Progress Spinner - Small - Indeterminate</h3>
  <div class="ngx-preloader ngx-preloader-small">
    <div class="arc arc-0"></div>
    <div class="arc arc-1"></div>
    <div class="arc arc-2"></div>
    <div class="arc arc-3"></div>
    <div class="arc arc-4"></div>
    <div class="arc arc-5"></div>
    <div class="arc arc-6"></div>
    <div class="arc arc-7"></div>
    <div class="arc arc-8"></div>
    <div class="arc arc-9"></div>
    <div class="arc arc-10"></div>
    <div class="arc arc-11"></div>
    <div class="arc arc-12"></div>
    <div class="arc arc-13"></div>
    <div class="arc arc-14"></div>
    <div class="arc arc-15"></div>
    <div class="arc arc-16"></div>
    <div class="arc arc-17"></div>
    <div class="arc arc-18"></div>
    <div class="arc arc-19"></div>
    <div class="arc arc-20"></div>
    <div class="arc arc-21"></div>
    <div class="arc arc-22"></div>
    <div class="arc arc-23"></div>
    <div class="arc arc-24"></div>
  </div>
  <ngx-codemirror mode="javascript" readOnly="true">
    <![CDATA[
      <div class="ngx-preloader ngx-preloader-small">
      <div class="arc arc-0"></div>
      <div class="arc arc-1"></div>
      <div class="arc arc-2"></div>
      <div class="arc arc-3"></div>
      <div class="arc arc-4"></div>
      <div class="arc arc-5"></div>
      <div class="arc arc-6"></div>
      <div class="arc arc-7"></div>
      <div class="arc arc-8"></div>
      <div class="arc arc-9"></div>
      <div class="arc arc-10"></div>
      <div class="arc arc-11"></div>
      <div class="arc arc-12"></div>
      <div class="arc arc-13"></div>
      <div class="arc arc-14"></div>
      <div class="arc arc-15"></div>
      <div class="arc arc-16"></div>
      <div class="arc arc-17"></div>
      <div class="arc arc-18"></div>
      <div class="arc arc-19"></div>
      <div class="arc arc-20"></div>
      <div class="arc arc-21"></div>
      <div class="arc arc-22"></div>
      <div class="arc arc-23"></div>
      <div class="arc arc-24"></div>
      </div>
    ]]>
  </ngx-codemirror>

  <h3 class="style-header">Loader - Determinate</h3>
  <div class="ngx-progress">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="160" width="160" viewBox="0 0 160 160">
      <circle cx="80" cy="80" r="60" stroke-width="8" />
    </svg>
  </div>
  <ngx-codemirror mode="javascript" readOnly="true">
    <![CDATA[
      <div class="ngx-progress"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="160" width="160" viewBox="0 0 160 160"><circle cx="80" cy="80" r="60" stroke-width="8"/></svg></div>
    ]]>
  </ngx-codemirror>
</section>