<ngx-section sectionTitle="Preloader">
  <div
    class="ngx-preloader"
    [class.ngx-preloader-small]="small"
  >
    <div class="arc arc-0"></div>
    <div class="arc arc-1"></div>
    <div class="arc arc-2"></div>
    <div class="arc arc-3"></div>
    <div class="arc arc-4"></div>
    <div class="arc arc-5"></div>
    <div class="arc arc-6"></div>
    <div class="arc arc-7"></div>
    <div class="arc arc-8"></div>
    <div class="arc arc-9"></div>
    <div class="arc arc-10"></div>
    <div class="arc arc-11"></div>
    <div class="arc arc-12"></div>
    <div class="arc arc-13"></div>
    <div class="arc arc-14"></div>
    <div class="arc arc-15"></div>
    <div class="arc arc-16"></div>
    <div class="arc arc-17"></div>
    <div class="arc arc-18"></div>
    <div class="arc arc-19"></div>
    <div class="arc arc-20"></div>
    <div class="arc arc-21"></div>
    <div class="arc arc-22"></div>
    <div class="arc arc-23"></div>
    <div class="arc arc-24"></div>
  </div>

  <app-prism>
<![CDATA[<div
  class="ngx-preloader"
  [class.ngx-preloader-small]="small"
>
  <div class="arc arc-0"></div>
  <div class="arc arc-1"></div>
  <div class="arc arc-2"></div>
  <div class="arc arc-3"></div>
  <div class="arc arc-4"></div>
  <div class="arc arc-5"></div>
  <div class="arc arc-6"></div>
  <div class="arc arc-7"></div>
  <div class="arc arc-8"></div>
  <div class="arc arc-9"></div>
  <div class="arc arc-10"></div>
  <div class="arc arc-11"></div>
  <div class="arc arc-12"></div>
  <div class="arc arc-13"></div>
  <div class="arc arc-14"></div>
  <div class="arc arc-15"></div>
  <div class="arc arc-16"></div>
  <div class="arc arc-17"></div>
  <div class="arc arc-18"></div>
  <div class="arc arc-19"></div>
  <div class="arc arc-20"></div>
  <div class="arc arc-21"></div>
  <div class="arc arc-22"></div>
  <div class="arc arc-23"></div>
  <div class="arc arc-24"></div>
</div>]]>
  </app-prism>

  <button class="btn" (click)="small = !small">
    {{ small ? 'Large' : 'Small' }}
  </button>
</ngx-section>

<ngx-section sectionTitle="Progress Spinner">
  <ngx-progress-spinner
    [mode]="mode"
    [color]="color"
    [value]="value"
    [total]="total"
    [diameter]="diameter"
    [strokeWidth]="strokeWidth"
  ></ngx-progress-spinner>

  <app-prism>
<![CDATA[<ngx-progress-spinner
  [mode]="mode"
  [color]="color"
  [value]="value"
  [total]="total"
  [diameter]="diameter"
  [strokeWidth]="strokeWidth"
></ngx-progress-spinner>]]>
  </app-prism>

  <ngx-input
    label="Value"
    type="number"
    min="0"
    [max]="total"
    [(ngModel)]="value"
  ></ngx-input>

  <ngx-input
    label="Total"
    type="number"
    min="1"
    [(ngModel)]="total"
  ></ngx-input>

  <ngx-input
    label="Diameter"
    type="number"
    min="1"
    [(ngModel)]="diameter"
  ></ngx-input>

  <ngx-input
    label="Stroke Width"
    type="number"
    min="1"
    [(ngModel)]="strokeWidth"
  ></ngx-input>

  <ngx-input
    label="Color"
    [(ngModel)]="color"
  ></ngx-input>

  <ngx-select
    label="Mode"
    [ngModel]="[mode]"
    (ngModelChange)="mode = $event[0]"
    filterable="false"
  >
    <ngx-select-option name="Determinate" value="determinate"></ngx-select-option>
    <ngx-select-option name="Indeterminate" value="indeterminate"></ngx-select-option>
  </ngx-select>
</ngx-section>
