<div class="inputs-section">
  <h3 class="style-header">Animations</h3>

  <ngx-section class="shadow" sectionTitle="Bounce">
    <ngx-button class="btn" (click)="increaseCount()">Click Me</ngx-button>
    <div class="badge" [@bounce]="count">Bounce</div>

    <br />
    <app-prism>
      <![CDATA[<ngx-button class="btn" (click)="increaseCount()">Click Me</ngx-button>
      <div class="badge" [@bounce]="count">Bounce</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Fade In">
    <ngx-button class="btn" (click)="toggle('fadeIn')">Click Me</ngx-button>
    @if (visible.fadeIn) {
      <div class="badge" @fadeIn>Fade In</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.fadeIn" @fadeIn>Fade In</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Fade Out">
    <ngx-button class="btn" (click)="toggle('fadeOut')">Click Me</ngx-button>
    @if (visible.fadeOut) {
      <div class="badge" @fadeOut>Fade Out</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.fadeOut" @fadeOut>Fade Out</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Down Fade Out">
    <ngx-button class="btn" (click)="toggle('slideDownFadeOut')">Click Me</ngx-button>
    @if (visible.slideDownFadeOut) {
      <div class="badge" @slideDownFadeOut>Slide Down Fade Out</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideDownFadeOut" @slideDownFadeOut>Slide Down Fade Out</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Up Fade Out">
    <ngx-button class="btn" (click)="toggle('slideUpFadeOut')">Click Me</ngx-button>
    @if (visible.slideUpFadeOut) {
      <div class="badge" @slideUpFadeOut>Slide Up Fade Out</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideUpFadeOut" @slideUpFadeOut>Slide Up Fade Out</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Left">
    <ngx-button class="btn" (click)="toggle('slideLeft')">Click Me</ngx-button>
    @if (visible.slideLeft) {
      <div class="badge" @slideLeft>Slide Left</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideLeft" @slideLeft>Slide Left</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Right">
    <ngx-button class="btn" (click)="toggle('slideRight')">Click Me</ngx-button>
    @if (visible.slideRight) {
      <div class="badge" @slideRight>Slide Right</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideRight" @slideRight>Slide Right</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Top">
    <ngx-button class="btn" (click)="toggle('slideTop')">Click Me</ngx-button>
    @if (visible.slideTop) {
      <div class="badge" @slideTop>Slide Top</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideTop" @slideTop>Slide Top</div>]]>
    </app-prism>
  </ngx-section>

  <ngx-section class="shadow" sectionTitle="Slide Bottom">
    <ngx-button class="btn" (click)="toggle('slideBottom')">Click Me</ngx-button>
    @if (visible.slideBottom) {
      <div class="badge" @slideBottom>Slide Bottom</div>
    }

    <br />
    <app-prism>
      <![CDATA[<div class="badge" *ngIf="visible.slideBottom" @slideBottom>Slide Bottom</div>]]>
    </app-prism>
  </ngx-section>
</div>
