@import "../../styles/colors/index";

.slider {
  input[type='range'] {
    appearance: none;
    display: block;
    margin: 1em auto;
    padding: 0 0.5em;

    font-size: 1em;
    cursor: pointer;
    background: transparent;

    &::-webkit-slider-runnable-track {
      box-shadow: $shadow-1;
      -webkit-appearance: none;
      height: 0.5em;
      border-radius: 0.25em;
      background: $color-bg-med;
    }

    &::-moz-range-track {
      box-shadow: $shadow-1;
      border: none;
      height: 0.5em;
      border-radius: 0.25em;
      background: $color-bg-med;
    }

    &::-ms-track {
      box-shadow: $shadow-1;
      border: none;
      height: 0.5em;
      border-radius: 0.25em;
      background: $color-bg-med;
      color: transparent;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      margin: -0.25em;
      border: none;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      background: $color-text-light;
      box-shadow: $shadow-3;
    }

    &::-moz-range-thumb {
      box-shadow: $shadow-3;
      border: none;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      cursor: ew-resize;
      background: $color-text-light;
    }

    &::-ms-thumb {
      box-shadow: $shadow-3;
      border: none;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      background: $color-text-light;
    }

    &:focus {
      outline: none;
    }
  }

  &.active {
    input[type='range'] {
      &::-webkit-slider-thumb {
        background: $color-text-med;
      }

      &::-moz-range-thumb {
        background: $color-text-med;
      }

      &::-ms-thumb {
        background: $color-text-med;
      }
    }
  }

  &.horizontal {
    input[type='range'] {
      width: 12.5em;
      min-height: 2em;
    }
  }

  &.vertical {
    input[type='range'] {
      width: 2em;
      min-height: 12.5em;

    	-webkit-appearance: slider-vertical;
    	writing-mode: bt-lr;
    }
  }

}
