@import "colors/index";

$slider-bg: $color-blue-grey-600;
$slider-bg-fill: #479EFF;

$slider-thumb: #479EFF;
$slider-focus-bg: #479EFF;

$slider-track-width: 2px;
$slider-fill-width: 4px;
$slider-thumb-width: 1em;

@mixin track {
  cursor: pointer;
  color: transparent;
  background: transparent;
  border-color: transparent;
  appearance: none;
}

@mixin thumb() {
  border: none;
  width: 1em;
  height: 1em;
  appearance: none;
  position: relative;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.ngx-slider {
  .slider-inner {
    margin: 1em auto;
    position: relative;
    display: inline-block;
  }

  .inputs {
    position: releative;
    min-width: 12.5em;
    height: $slider-thumb-width;

    input[type='range'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      appearance: none;
      background-color: transparent;

      &::-webkit-slider-runnable-track {
        @include track;
      }

      &::-moz-range-track {
        @include track;
      }

      &::-ms-track {
        @include track;
      }

      &::-webkit-slider-thumb {
        @include thumb();
        color: transparent;
      }
  
      &::-moz-range-thumb {
        @include thumb();
        transform: scale(1);  // required to stack sliders in FF
      }
  
      &::-ms-thumb {
        @include thumb();
      }

      &:focus {
        outline: none;
      }
    }

    .slider-track {
      position: absolute;
      background-color: $slider-bg;
      width: 100%;
      height: $slider-track-width;
      top: calc(#{$slider-thumb-width / 2} - #{$slider-track-width / 2});
      pointer-events: none;
    }

    .slider-thumb {
      position: absolute;
      background-color: $slider-thumb;
      height: $slider-thumb-width;
      width: $slider-thumb-width;
      border-radius: $slider-thumb-width / 2;
      pointer-events: none;
      z-index: 100;
    }
  }

  .ticks-container {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 3px;

    .tick {
      position: absolute;
      border: none;
      height: 100%;
      width: 2px;
      background-color: $slider-bg;
    }
  }

  &.filled  .fill-bar {
    background-repeat: no-repeat;
    background-image: linear-gradient($slider-bg-fill, $slider-bg-fill);
    position:absolute;
    border-radius: 0.25em;
    z-index: 99;
    pointer-events: none;
    height: $slider-fill-width;
    left: 0;
    top: calc(50% - #{$slider-fill-width / 2});
    width: 100%;
  }
}

.ngx-slider.vertical {
  display: inline-block;
  height: initial;
  min-height: 12.5em;
  width: $slider-thumb-width;

  .slider-inner {
    transform: translate(0%, -100%) rotate(-90deg) translate(-100%, 0);
    transform-origin: top left;
  }
}