name: Build, Test, and Deploy

env:
  NODE_LATEST: 18.x
  NODE_OPTIONS: --max_old_space_size=6144

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_LATEST }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_LATEST }}

      - name: Install
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --legacy-peer-deps

      - name: Build
        run: |
          npm run build
        env:
          CI: true

      - name: Test
        run: |
          npm run test --if-present
        env:
          CI: true

      - name: Prepare and deploy
        run: |
          npm run deploy -- --name="Swimlane" --email="swimlane-devops@swimlane.com"
        if: ${{ github.ref == 'refs/heads/master' }}
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
